<div class="row text-justify" id="form" style="display: none;" >
  <div class="large-12 columns">
    <div class="brands shopping" >
      <a class="close close_button" ng-click="close(data)"></a>
      <div class="shop">
        <div class="row">
          <div class="large-12 columns">
            <%# BUSCARDOR DE AMIGOS %>
                <%= render 'search_friends' %>
            <%# FIN BUSCARDOR DE AMIGOS  %>
            <%# FORM  %>
                <%= render 'form' %>
            <%# FORM %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>