<div class="large-9 columns">
  <h5 class="whitetxt subheader">Datos del destinatario <small>(<a ng-init="my=<%= current_user.to_json( only: [:first_name, :last_name, :email, :mobile_phone]) %>" href="" ng-click="load_my_info()" >Cargar mi informacion</a>)</small></h5>
  <form name="data" class="customize" novalidate ng-submit="next(data)" >
    <div class="row collapse">
      <div class="large-6 columns">
        <div class="row">
          <div class="small-6 columns">
            <label for="gift_code_to_first_name" class="right inline whitetxt">Nombres *</label>
          </div>
          <div class="small-6 columns" ng-class="{true: 'error', false: '' }[ data.to_first_name.$invalid && submitted || data.to_first_name.$dirty && data.to_first_name.$invalid]">
            <input type="text" name="to_first_name" id="gift_code_to_first_name" ng-model="gift_code.to_first_name" required />
            <small ng-show="data.to_first_name.$dirty && data.to_first_name.$invalid || submitted">
              <div ng-show="data.to_first_name.$error.required">Campo obligatorio.</div>
            </small>
          </div>
        </div>
        <div class="row">
          <div class="small-6 columns">
            <label for="gift_code_to_last_name" class="right inline whitetxt" >Apellidos *</label>
          </div>
          <div class="small-6 columns" ng-class="{true: 'error', false: '' }[ data.to_last_name.$invalid && submitted || data.to_last_name.$dirty && data.to_first_name.$invalid]">
            <input type="text" name="to_last_name" id="gift_code_to_last_name" ng-model="gift_code.to_last_name" required />
            <small ng-show="data.to_last_name.$dirty && data.to_last_name.$invalid || submitted">
              <div ng-show="data.to_last_name.$error.required">Campo obligatorio.</div>
            </small>
          </div>
        </div>
        <div class="row">
          <div class="small-6 columns">
            <label for="gift_code_to_mobile_phone" class="right inline whitetxt" >Celular</label>
          </div>
          <div class="small-6 columns" ng-class="{true: 'error', false: '' }[ data.to_mobile_phone.$invalid && submitted || data.to_mobile_phone.$dirty && data.to_mobile_phone.$invalid]">
            <input type="text" name="to_mobile_phone" id="gift_code_to_mobile_phone" ng-model="gift_code.to_mobile_phone" />
            <small ng-show="data.to_mobile_phone.$dirty && data.to_mobile_phone.$invalid || submitted">
              <div ng-show="data.to_mobile_phone.$error.number">Ingresar un número telefónico.</div>
            </small>
          </div>
        </div>
        <div class="row">
          <div class="small-6 columns">
            <label for="gift_code_to_email" class="right inline whitetxt" >E-Mail *</label>
          </div>
          <div class="small-6 columns" ng-class="{true: 'error', false: '' }[ data.to_email.$invalid && submitted || data.to_email.$dirty && data.to_email.$invalid]">
            <input type="email" name="to_email" id="gift_code_to_email" ng-model="gift_code.to_email" required ng-pattern="EMAIL_REGEXP" />
            <small ng-show="data.to_email.$dirty && data.to_email.$invalid || submitted">
              <div ng-show="data.to_email.$error.required" >Campo obligatorio.</div>
              <div ng-show="data.to_email.$error.pattern">Ingresar un correo electronico valido.</div>
            </small>
          </div>
        </div>
        <div class="row">
          <div class="small-6 columns">
            <label for="gift_code_to_email_confirmation" class="right inline whitetxt"  >Confirmar e-Mail *</label>
          </div>
          <div class="small-6 columns" ng-class="{true: 'error', false: '' }[ data.to_email_confirmation.$invalid && submitted || data.to_email_confirmation.$dirty && data.to_email_confirmation.$invalid]">
            <input type="email" name="to_email_confirmation" id="gift_code_to_email_confirmation" ng-model="gift_code.to_email_confirmation" match="gift_code.to_email" required />
            <small ng-show="data.to_email_confirmation.$dirty && data.to_email_confirmation.$invalid || submitted">
              <div ng-show="data.to_email_confirmation.$error.required">Campo obligatorio.</div>
              <div ng-show="data.to_email_confirmation.$error.email">Ingresar un correo electronico valido.</div>
              <div ng-show="data.to_email_confirmation.$error.mismatch">Correo electronico no coinciden.</div>
            </small>
          </div>
        </div>
        <!--<div class="row">-->
          <!--<div class="small-6 columns">-->
            <!--<label for="gift_code_gift_card_id" class="right inline whitetxt" >Ciudad de destino *</label>-->
          <!--</div>-->
          <!--<div class="small-6 columns" ng-class="{true: 'error', false: '' }[ data.to_city_id.$invalid && submitted || data.to_city_id.$dirty && data.to_city_id.$invalid]">-->
            <!--<select required="required" ng-model="gift_code.to_city_id" name="to_city_id" id="to_city_id">-->
              <!--<option value="" ></option>-->
              <!--<option ng-repeat="city in form_campaign.cities" value="{{city.id}}" ng-bind="city.name" ></option>-->
            <!--</select>-->
            <!--<small ng-show="data.to_city_id.$dirty && data.to_city_id.$invalid || submitted">-->
              <!--<div ng-show="data.to_city_id.$error.required">Campo obligatorio.</div>-->
            <!--</small>-->
          <!--</div>-->
        <!--</div>-->
        <!--FECHA DE ENVIO -->
        <div class="row">
          <div class="small-6 columns">
            <label class="right inline whitetxt" >Fecha de envio *</label>
          </div>
          <div class="small-6 columns" ng-init="gift_code.send_notifications_now=true" >
              <div ng-hide="gift_code.send_notifications_now" >
                  <div class="" ng-class="{true: 'error', false: '' }[data.send_date.$invalid && submitted || data.send_date.$dirty && data.send_date.$invalid]">
                    <input type="text" id="send_date"  name="send_date" autocomplete="off" ng-model="gift_code.send_date" required="true" ng-required="!gift_code.send_notifications_now" datepicker date ng-disabled="gift_code.send_notifications_now" ng-init="gift_code.send_date='';">
                    <small ng-show="data.send_date.$invalid && submitted || data.send_date.$dirty && data.send_date.$invalid">
                      <div ng-show="data.send_date.$error.date || data.send_date.$error.henceforward">Fecha invalida.</div>
                      <div ng-show="data.send_date.$error.required">Campo obligatorio.</div>
                    </small>
                  </div>
                  <div class="" ng-class="{true: 'error', false: '' }[ data.send_time.$invalid && submitted || data.send_time.$dirty && data.send_time.$invalid ]" >
                    <%= select_hour(nil,{ ampm: true, prompt: 'Hora' }, { :class=> 'no-custom', :'ng-model'=> 'gift_code.send_time', :id => 'send_time',  :name => 'send_time', :'ng-disabled' => 'gift_code.send_notifications_now', :hour=>'', :send_date => '{{gift_code.send_date}}', :'ng-required'=>'!gift_code.send_notifications_now', :required=>"true" } ) %>
                    <small ng-show="data.send_time.$invalid && submitted || data.send_time.$dirty && data.send_time.$invalid">
                      <div ng-show="data.send_time.$error.henceforward">Hora invalida.</div>
                      <div ng-show="data.send_time.$error.required">Campo obligatorio.</div>
                    </small>
                  </div>
              </div>
              <div class="row">
                  <div class="" style="padding-top: 10px">
                    <label><input type="checkbox" id="send_notifications_now" ng-model="gift_code.send_notifications_now" name="send_notifications_now" class="no-custom" ng-click="gift_code.send_date='';data.send_date.$setViewValue('');data.send_date.$render();data.send_date.$dirty=false;" > Enviar ahora</label>
                  </div>
              </div>
          </div>
        </div>
        <!--FIN FECHA DE ENVIO -->
      </div>
      <div class="large-6 columns">
        <div class="row">
          <div class="small-4 columns">
            <label for="gift_code_body_message" class="right inline whitetxt" >Mensaje *</label>
          </div>
          <div class="small-8 columns" ng-class="{true: 'error', false: '' }[ data.body_message.$invalid && submitted || data.body_message.$dirty && data.body_message.$invalid]">
            <textarea type=text class="right inline" name="body_message" id="gift_code_body_message" ng-model="gift_code.body_message" required ng-maxlength="140" >
            </textarea>
            <small ng-show="data.body_message.$dirty && data.body_message.$invalid || submitted ">
              <div ng-show="data.body_message.$error.required">Campo obligatorio.</div>
              <div ng-show="data.body_message.$error.maxlength">Número maximo de caracteres 140.</div>
            </small>
          </div>
        </div>
		<br />
		<div class="row">
			<div class="small-12 columns">
				<label for="observaciones">Observaciones:</label>
				<small ng-bind="form_campaign.observations"></small>
				<hr />
	            <div class="row">
	              <div class="small-8 columns">
	                Valor del giftcode
	              </div>
	              <div class="small-4 columns">
	                <label class="right whitetxt" ng-bind="form_campaign.cost_current" ></label>
	              </div>
	            </div>
	            <div class="row">
	              <div class="small-8 columns">
	                Puntos a redimir
	              </div>
	              <div class="small-4 columns">
	                <label class="right whitetxt" ng-bind="form_campaign.points_required" ></label>
	              </div>
	            </div>
	            <div class="row">
	              <hr>
	              <div class="small-8 columns">
	                Total a pagar
	              </div>
	              <div class="small-4 columns">
	                <label class="right whitetxt">$0</label>
	              </div>
	            </div>
			</div>
		</div>
        <div class="goto-buttons right">
          <a ng-click="close(data)" class="cancelar button gray">Cancelar</a>
          <button type="submit" class="button pre continue" ng-disabled="preload_form">Continuar</button>
        </div>
      </div>
    </div>
  </form>
  <div ng-show="preload_form" class="preloader" >
  </div>
</div>