<div id="modal_gift_code" class="reveal-modal medium" data-options="closeOnBackgroundClick:false" >
  <div class="gray-warning">
    <p>Revisa todos los datos de tu GiftCode</p>
  </div>
  <div class="row">
    <div class="large-11 columns large-centered">
      <div class="bono bigone confirmation">
        <div class="row collapse">
          <div class="large-4 columns">
            <img class="brand-ico" ng-src="{{form_campaign.brand.image.thumb180.url}}" alt=""  height="180" width="180" >
          </div>
          <div class="large-8 columns">
            <div class="whos">
              <h4><span class="greentxt">De: </span><%= current_user.first_name %> <%= current_user.last_name %></h4>
              <h4><span class="greentxt">Para: </span>{{gift_code.to_first_name + ' ' + gift_code.to_last_name}}</h4>
              <h6>{{ gift_code.to_email }}<a href="tel:{{gift_code.to_mobile_phone}}" ng-show="gift_code.to_mobile_phone">, {{gift_code.to_mobile_phone}}</a></h6>
              <!--<h6>Ciudad de destino: {{city_name}}</h6>-->
              <h2 ng-bind="form_campaign.cost_current"></h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-10 columns large-centered">
            <div class="giftnote">
              <p class="in-modal">{{ gift_code.body_message }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

  </div>
  <hr />
  <div class="row">
    <div class="large-6 columns large-centered">
      <div class="goto-buttons more-space">
        <input type="button" class="cancelar button gray pre" value="Cancelar"  ng-click="close_confirmation()" ng-disabled="payment_disable">
        <input type="button" class="button pre continue" VALUE="Enviar giftcode" ng-click="preload_modal=true;payment_disable=true;end_up();" ng-disabled="payment_disable" >
      </div>
    </div>
  </div>
  <a class="close-reveal-modal"> <span>Cerrar</span> &#215;</a>
  <div ng-show="preload_modal" class="preloader show-hide"></div>
</div>