<div id="points_pop_up" class="reveal-modal medium radius" data-options="closeOnBackgroundClick:true" >
    <div class="row padding-50">
      <div class="large-11 columns large-centered">
        <h5>¿Para qué sirven los puntos?</h5>
        <p>Sirven para canjear por bonos de regalo <b>gratuitos</b> de nuestras marcas patrocinadoras (muy pronto).</p>
		<hr/>
        <h5 class="padding-20 no-margin">Ganas puntos por todo</h5>
        <ul>
        	<li>• <strong>Registro:</strong> 30 puntos.</li>
        	<li>• <strong>Seleccionar Marcas favoritas:</strong> 70 puntos.</li>
        	<li>• <strong>Por cada amigo que invites a giftcode y que se registre:</strong> 40 puntos.</li>
        	<li>• <strong>Compras (muy pronto):</strong> Por cada giftcode pago que envíes ganarás puntos dependiendo del valor de la compra.</li>
        </ul>
        <hr/>
        <h5><b>Herramientas para invitar amigos y ganar más puntos.</b></h5>
        <p>Las siguientes herramientas te ayudan a compartir en redes sociales e incluyen automáticamente tu "ID de giftcode", esto ayuda a ganar referidos y a su vez a ganar puntos:</p> <br/><br/>
        <div>
          <p>
          <ul>
            <li> 1. Utilizando los botones para <b>compartir en redes</b>, que encuntras al final de la página de <b><%= link_to 'Puntos', points_path %></b>:</li>
          </ul>
          <ul class="social-strip generic left">
            <li><a href="https://twitter.com/share?url=<%= root_url %>?amigo=<%= current_user.fbk_user_id %>&utm_source=giftcode&utm_medium=twitter&text=Utiliza mi link de @giftcode y obtén 100 puntos canjeables por bonos de las mejores marcas&related=<%= GlobalConstants::TWITTER_RELATED_ACCOUNTS %>&lang=es" class="t" target="_blank" >twitter</a></li>
            <li><a href="http://www.facebook.com/share.php?u=<%= fbshared_url %>?amigo=<%= current_user.fbk_user_id %>&utm_source=giftcode&utm_medium=facebook" target="_blank" class="f">facebook</a></li>
            <li><a href="https://plusone.google.com/_/+1/confirm?url=<%= fbshared_url %>?amigo=<%= current_user.fbk_user_id %>&utm_source=giftcode&utm_medium=gplus" target="_blank" class="gp">google plus</a></li>
          </ul>
          <br/>
          <br/>
          <br/>
          <ul>
            <li> 2. Compartiendo tus marcas favoritas en la sección <strong><%# link_to '#YoQuiero', yo_quiero_path %></strong> (ubicado en el menú principal):</li>
          </ul>
          <ul>
            <li class="centered"><%= image_tag("yoquiero_img.png") %></li>
          </ul>
          <ul>
            <li> 3. <b>Invitar</b> directamente a un amigo en la sección de <strong><%= link_to 'Amigos', friends_path %></strong> (ubicado en el menú principal):</li>
          </ul>
          <ul>
            <li class="centered"><%= image_tag("amigos_img.png") %></li>
          </ul>

          </p>
        </div>
        <div class="centered">
          <br/><br/><br/> <br/>
          <a class="button pre gray radius" href="" ng-click="close_pop_up()" >Cerrar</a>
        </div>
      </div>
    </div>
</div>