<div class="large-3 columns">
  <h5 class="whitetxt subheader" >Buscador de amigos</h5>
  <input type="text" ng-model="search.complete_name" class="search-query" placeholder="Buscar">
  <div class="">
    <div class="" style="overflow-y: auto; height: 340px">
      <ul class="no-bullet">
        <li ng-repeat="friend in friends | filter: search | orderBy:'first_name' " >
          <h6 class="add-friend">
            <a ng-click="load_friend( friend )">
              <img ng-src="https://graph.facebook.com/{{friend.fbk_user_id}}/picture?width=20&height=20"  height ='20'  width = '20'> {{((friend.first_name + ' ' +friend.last_name) | characters:21)}} <span>+</span>
            </a>
          </h6>
        </li>
      </ul>
    </div>
    <!--<div class="nano-pane"><div class="nano-slider"></div></div>-->
  </div>
</div>