<div class="row">
  <div class="large-8 columns large-centered">
    <div class="bono confirmation-payment bigone centered" >
      <div class="row collapse">
        <div class="large-4-static columns">
          <img ng-src="<%= @gift_code.campaign_point.brand.image_url(:thumb180) %>" class="brand-ico" width="180" height="181" alt="Logo Fold">
        </div>
        <div class="large-8-static columns">
          <div class="whos">
            <h4><span class="greentxt">De: </span><%= @gift_code.from_first_name + ' ' + @gift_code.from_last_name %></h4>
            <h4><span class="greentxt">Para: </span><%= @gift_code.to_first_name + ' ' + @gift_code.to_last_name %></h4>
            <h2><%= @gift_code.campaign_point.cost_current %></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-10 columns large-centered">
          <div class="giftnote">
            <p class="in-modal"><%= @gift_code.body_message %></p>
          </div>
        </div>
      </div>
    </div> <!-- /bono -->
    <br />
    <div class="bono confirmation-payment white flipped centered">
      <div class="row">
        <div class="whos">
          <img src="/assets/icono_grande.png" class="qr" alt="" width="74" height="84" />
          <h6 class="subheader text-center">&nbsp;</h6>
          <!--<h6 class="subheader text-center">Ciudad de destino: <%#  @gift_code.to_city.name %></h6>-->
          <h6 class="subheader text-center">Válido hasta: <%= l @gift_code.valid_until, :format => :web, :locale => :es %></h6>
        </div>
      </div>
      <div class="greenbg">
        <div class="row">
          <div class="large-10 columns large-centered">
            <p class="legal-advice whitetxt">Con este bono electrónico, estas contribuyendo con el medio ambiente al evitar el uso de tarjetas plásticas</p>
          </div>
        </div>
      </div>
    </div><!-- /bono white -->
  </div>
</div><!-- /row -->

<div class="row padding-50">
  <div class="text-center">
    <%= link_to '<span class="gifty"></span><span class="border">Continuar</span>'.html_safe, gift_codes_sent_path, class: 'button success radius normal text-center'  %>
  </div>
</div>
