<%= render 'personal-banner' %>
<br />
<div class="main-ux" ng-controller="PointsCtrl" ng-init="load_campaigns_points();load_friends();points=<%= current_user.available_points %>;">
  <div class="row">
      <h3 class="subheader text-center">Ya tienes <a href="" ng-click="open_pop_up()"><span class="referals " style="font-size: 17px"><strong class="whitetxt"><%= @points %></strong></span></a> puntos</h3>
      <h6 class="subheader text-center"><a class="info" href="" ng-click="open_pop_up()"></a><a href="" ng-click="open_pop_up()">¿Cómo ganar más puntos?</a></h6>
      <hr>
  </div>
  <div class="row">
    <h5 class="padding-20 text-center subheader graytxt2">Muy pronto podrás redimir tus puntos por bonos de regalo de marcas como:</h5>
  </div>
   <!-- <h5 class="subheader text-center">Tienes <strong><%= pluralize(@points, 'punto disponible', 'puntos disponibles') %></strong> para enviar Giftcodes gratuitos de las siguientes marcas</h5>
    <br ng-show="there_campaigns" />-->
    <%  if @campaigns == 0 %>

      <!--<div class="row"   >-->
        <!--<div class="large-12 columns padding-20">-->
          <!--<div class="radius lightbanner"  >-->
            <!--<div class="row">-->
              <!--<div class="large-12 columns">-->
                <!--<img class="left" src="assets/gamificacion_alert.png" width="101" height="96" alt="Gamificacion Alert">-->
                <!--<br />-->
                <!--<p>En este momento todos los Giftcodes gratuitos se han agotado . Visitanos mas adelante y podras encontrar mas giftcode gratuitos disponibles</p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <% else %>
      <!--<div class="row" >
        <div id="alert-box" data-alert="" class="alert-box alert radius show-hide" ng-show="alert" ng-bind="message"></div>
        <div class="large-12 columns">
          <ul class="brands-circle friends text-center per-brands show-hide"  ng-show="campaigns.length > 0" id="list">
            <li class="list" ng-repeat="(index, campaign) in campaigns | orderBy:'cost' " id="campaign_{{index+1}}" ng-init="params={ id: index + 1, campaign: campaign };" >
              <img ng-click="form(params);" ng-src="{{campaign.brand.image.thumb195.url }}" alt=""  height="195" width="195" style="height:195;width:195;" ng-style="{true: {cursor: 'pointer'}, false: {cursor: 'auto'}}[ points >= campaign.points_required ]" >
              <div class="points-number" >
                <h4 class="subheader whitetxt" ng-bind="campaign.points_required" ></h4>
              </div>
              <p>
                  <h4 class="text-center" ng-bind="campaign.cost_current"></h4>
                  <span class="text-center">Quedan {{campaign.available_gift_codes}} Giftcodes</span>
              </p>

              <p></p>
              <a ng-class="{true: 'button pre radius' , false: 'cancelar button gray pre radius' }[ points >= campaign.points_required ]" ng-click="form(params);" ng-style="{true: {cursor: 'pointer'}, false: {cursor: 'auto'}}[ point >= campaign.points_required ]" >Regalar</a>
            </li>
          </ul>
          <div ng-hide="there_campaigns" class="preloader"></div>
        </div>
      </div>-->
    <% end %>
  <!--<div class="row">-->
    <!--<div class="large-10 columns large-centered small-centered">-->
        <!--<h4 class="text-center subheader"><small><a href="<%= give_path %>">Ver todas la marcas</a></small></h4>-->
    <!--</div>-->
  <!--</div>-->
  <% carousel_brands = CarouselBrand.includes(:brand).order( 'position ASC' ) %>
  <% if carousel_brands.count > 0  %>
      <div class="gray-brands">
        <div class="row">
          <div class="large-10 columns large-centered">
            <h5 class="text-center subheader graytxt">-</h5>
            <a href="" class="jcarousel-control-prev">anterior</a>
            <div class="jcarousel" >
              <ul>
                <% carousel_brands.each do |carousel_brand| %>
                    <li><img src="<%= carousel_brand.brand.image_email.url(:thumb195).to_s %>" width="95" height="95" alt="<%= carousel_brand.brand.name.to_s %>">
                <% end %>
              </ul>
            </div>
            <a href="" class="jcarousel-control-next">siguiente</a>
            <p class="right subheader min-text"><small>Las marcas aquí mostradas no son patrocinadores ni tienen relación con Giftcode</small></p>
          </div>
        </div>
      </div>
  <% end %>
  <div class="graybanner no-padding no-margin">
    <div class="row">
      <div class="large-12 columns large-centered">
        <h4 class="subheader text-center">Aumenta el número de puntos invitando a todos tus amigos, compartiendo el siguiente enlance. Por cada amigo que se registre ganarás 40 puntos</h4>
        <br />
        <form action="#" class="custom padding-top-20">
          <div class="row collapse" >
            <div class="large-6 columns large-centered">
              <div class="row collapse">
                <div class="large-8 columns">
                  <div class="small-7 columns">
                    <input id="copy-text" class="no-border-radius" type="text" value="<%= root_url %>?amigo=<%= current_user.fbk_user_id %>&utm_source=giftcode&utm_medium=copy_text" readonly/>
                  </div>
                  <div class="small-5 columns">
                    <input type="submit" class="button postfix radius gray" value="Copiar link" id="copy-button"  data-clipboard-text="<%= root_url %>?amigo=<%= current_user.fbk_user_id %>&utm_source=giftcode&utm_medium=copy_link" >
                  </div>
                </div>
                <div class="large-4 columns">
                  <ul class="social-strip generic left">
                    <li><a href="https://twitter.com/share?url=<%= root_url %>?amigo=<%= current_user.fbk_user_id %>&utm_source=giftcode&utm_medium=twitter&text=Utiliza mi link de @giftcode y obtén 100 puntos canjeables por bonos de las mejores marcas&related=<%= GlobalConstants::TWITTER_RELATED_ACCOUNTS %>&lang=es" class="t" target="_blank" >twitter</a></li>
                    <li><a href="http://www.facebook.com/share.php?u=<%= fbshared_url %>?amigo=<%= current_user.fbk_user_id %>&utm_source=giftcode&utm_medium=facebook" target="_blank" class="f">facebook</a></li>
                    <li><a href="https://plusone.google.com/_/+1/confirm?url=<%= fbshared_url %>?amigo=<%= current_user.fbk_user_id %>&utm_source=giftcode&utm_medium=gplus" target="_blank" class="gp">google plus</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <%# DIV FORM %>
  <%= render "div_form" %>
  <%# FIN DIV FORM  %>
  <%#MODAL GIFTCODE %>
  <%= render "modal_gift_code" %>
  <%#FIN MODAL GIFTCODE %>

  <%= render 'pop_up' %>
</div><!-- /GiveCtrl -->

<% if GlobalConstants::use_mix_panel? %>
    <script type="text/javascript">
        <% if current_user.present? %>
        mixpanel.identify("<%= current_user.email %>");
        <% end %>
        mixpanel.track("Web - Puntos", {"Puntos": "1"});
    </script>
<% end %>