<%= render 'personal-banner' if current_user.show_introduction %>
<div id="favorites" ng-controller="FavoritesCtrl"
     ng-init="type='personal';load_favorites();brands=<%= @brands.to_json %>;search='';categories=<%= @categories.to_json( :only => [:_class, :position], :include => { :brands => { :only => [:id, :name]  } }) %>"
     xmlns="http://www.w3.org/1999/html">
<div class="row padding-top-20">
  <div class="large-12 columns">
    <div class="centered favorite-mark">
      <h3 class="subheader normal inline">
        <% if current_user.show_introduction %>
            <!--Selecciona todas tus marcas favoritas <i style="color: #2D781B;">( gana 70 puntos <img src="<%# asset_path('plus2.png') %>" width="32" height="32"/> )</i>-->
            Selecciona todas tus marcas favoritas
        <% else  %>
            Marcas favoritas
        <% end %>
      </h3>
      <hr>
      <h5 class="subheader text-center big padding-top-20">
        <% if current_user.show_introduction %>
            Le contaremos a tus amigos tus marcas favoritas, para que te regalen lo que realmente quieres.
        <% else %>
            Mantén actualizadas tus marcas favoritas, tus amigos las puedan ver en tú perfil y en fechas especiales te van a enviar  giftcodes de las marcas que más te gustan..
      <% end %>
      </h5>
    </div>

  </div>
</div>

<div class="row" >
  <div id="alert-box" data-alert="" class="alert-box alert radius centered show-hide" ng-show="alert" >
    <!--Es importante que selecciones por lo menos una de tus marcas favoritas para continuar. Recuerda que te ganarías 70 puntos que podrás redimir por giftcodes gratuitos.-->
    Es importante que selecciones por lo menos una de tus marcas favoritas para continuar.
  </div>
  <br ng-if="alert">
</div>

<% if !current_user.show_introduction %>
<div class="row">
  <div class="large-12 columns ">
    <div class="search-box">
      <div class="row">
        <div class="large-10 columns large-centered">
          <form  ng-submit="buscar()">
            <div class="large-10 columns large-centered">
              <div class="row collapse">
                <div class="small-9 columns">
                  <input type="text" ng-model="search" name="search" placeholder="Buscas alguna marca en particular">
                </div>
                <div class="small-3 columns">
                  <input type="submit" class="button postfix gray radius" value=" Buscar " style="" >
                </div>
              </div>
            </div>
            <div class="large-10 columns  large-centered show-hide" ng-show="not_found">
              <div class="text-center alert-box greentxt radius"  >
                Aun no tenemos esta marca, la tendremos en cuenta
              </div>
            </div>
          </form>
        </div>
      </div>



    </div>
  </div>
</div>
<% end %>
  <div  class="row">
	  
    <div class="large-12 columns" >
      <ul class="themarks" >
        <% @categories.each_with_index do |c,i| %>
            <li id="category_<%= i + 1  %>" ng-init="count[<%= c.id %>]=<%= c.favorites.where(:user_id => current_user.id).count %>;" ng-click="active('<%= c._class %>', <%= i + 1 %>)" ng-class="{active: class == '<%= c._class %>'}" class="<%= c._class %> first">
              <a>
                <%= c.name %>
              </a>
              <div class="like-number" ng-show="count[<%= c.id %>] > 0">
                  <h4 class="subheader whitetxt" ng-bind="count[<%= c.id %>]"></h4>
               </div>
            </li>
        <% end %>
      </ul>
      <% @categories.each_with_index do |c,i| %>
          <div id="list_brands_<%= i + 1 %>" class="row">
            <div class="large-12 columns">
              <div  class="brands show-hide" ng-show="class == '<%= c._class %>'"  >
                <a class="close close_button" ng-click="close()"></a>
                <ul class="col3">
                  <% c.brands.each do |b| %>
                      <%# if b.enable_for_selling == true  %>
                          <li ng-class="{ greentxt: result[<%= b.id %>] && search != '' }">
                            <input ng-model="favorites[<%= b.id %>]" ng-checked="favorites[<%= b.id %>]" ng-click="update(<%= b.id %>)" type="checkbox"/><span ng-class="{ whitetxt: favorites[<%= b.id %>] }" ng-click="click(<%= b.id %>)" style="cursor: pointer"><%= b.name%> <span ng-if="favorites[<%= b.id %>]" class="favorite"><i class="fi-heart size-18"></i></span></span>
                          </li>
                      <%# end %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="large-12 columns ">
      <p class="subheader goahed padding-20">
        <a class="button small continue" ng-click="next()">Continuar</a>
      </p>
    </div>
  </div>
  <div ng-show="preload" style="" class="preloader show-hide">
  </div>
  
<br /><br /><br /><br />


</div>
<% if session[:utm_source].present? && current_user.show_introduction %>
    <% if session[:utm_source] == 'google' %>
        <!-- Google Code for Registro Conversion Page -->
        <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 989159782;
            var google_conversion_language = "es";
            var google_conversion_format = "2";
            var google_conversion_color = "cccccc";
            var google_conversion_label = "thK8CPK-jQgQ5sLV1wM";
            var google_conversion_value = 1.000000;
            var google_remarketing_only = false;
            /* ]]> */
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
          <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/989159782/?value=1.000000&amp;label=thK8CPK-jQgQ5sLV1wM&amp;guid=ON&amp;script=0"/>
          </div>
        </noscript>
    <% elsif session[:utm_source] == 'facebook' %>
        <script type="text/javascript">
            var fb_param = {};
            fb_param.pixel_id = '6009535425081';
            fb_param.value = '0.00';
            fb_param.currency = 'COP';
            (function(){
                var fpw = document.createElement('script');
                fpw.async = true;
                fpw.src = '//connect.facebook.net/en_US/fp.js';
                var ref = document.getElementsByTagName('script')[0];
                ref.parentNode.insertBefore(fpw, ref);
            })();
        </script>
        <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6009535425081&amp;value=0&amp;currency=COP" /></noscript>
    <% end  %>
<% end  %>

<% if GlobalConstants::use_mix_panel? %>
<script type="text/javascript">
   <% if current_user.present? %>
   mixpanel.identify("<%= current_user.email %>");
   <% end %>
   mixpanel.track("Web - Visita Marcas Favoritas");
</script>
<% end %>