<%= semantic_form_for :abc, :url => new_office_admin_transaction_path, :html => {:method => :get} do |f| %>
  <%= f.inputs "Realizar proceso de pago y generar una transacción con un GiftCode:" do %>
    <%= f.actions do %>
      <%= f.commit_button "Pagar Compra con un GiftCode" %>
    <% end %>
  <% end %>
<% end %>