<%= semantic_form_for @gift_code,  :url => office_admin_bonus_path , :html => { :method => :post }  do |f| %>

    <%= f.inputs "Datos del que envia" do  %>
        <%= f.input :from_first_name, :label => "Nombres", :required => true %>
        <%= f.input :from_last_name, :label => "Apellidos", :required => true %>
        <%= f.input :from_email, :label => "e-Mail"   %>
    <% end %>

    <%= f.inputs "Datos de quien recibe" do %>
        <%= f.input :to_first_name, :label => "Nombres" %>
        <%= f.input :to_last_name, :label => "Apellidos" %>
        <%= f.input :to_city_id, :label => "Ciudad destino", :as => :select , :collection => @cities, :selected => @gift_code.to_city_id %>
        <%= f.input :to_mobile_phone, :label => "Celular" %>
        <%= f.input :to_email, :label => "e-Mail" %>
        <%= f.input :gift_card_id, :label => "Valor", :as => :select , :collection => @gift_cards, :selected => @gift_code.gift_card_id %>
        <%= f.input :send_date_time, :label => "Fecha de envio", :as => :string, :hint => "Formato: yyyy/MM/dd HH Ejemplo: 2014/02/06 22"  %>
        <%= f.input :send_notifications_now, :label => "Enviar ahora", :class => 'datepicker'  %>
        <%= f.input :body_message, :label => "Mensaje" %>
    <% end %>

    <%= f.actions do %>
        <%= f.action :submit, { :button_html => { :as => :button, :value => "Continuar" } }  %>
    <% end %>
<% end %>
