<div id="main_content">
  <div class="panel">
    <h3>Datos del bono</h3>
      <div class="panel_contents">
        <form class="formtastic">
            <fieldset class="inputs">
              <legend><span>Datos de quien envia</span></legend>
                <ol>
                  <li class="string input optional stringish">
                    <label class="label" >Nombres</label><input value="<%= @gift_code.from_first_name  %>" disabled>
                  </li>
                  <li class="string input optional stringish">
                    <label class="label" >Apellidos</label><input value="<%= @gift_code.from_last_name  %>" disabled>
                  </li>
                  <li class="string input optional stringish">
                    <label class="label" >e-Mail</label><input value="<%= @gift_code.from_email  %>" disabled>
                  </li>
                </ol>
            </fieldset>
            <fieldset class="inputs">
              <legend><span>Datos del que recibe</span></legend>
              <ol>
                  <li>
                    <label label class="label">Nombres</label><input value="<%= @gift_code.to_first_name %>" disabled>
                  </li>
                  <li>
                    <label label class="label">Apellidos</label><input value="<%= @gift_code.to_last_name %>" disabled>
                  </li>

                  <!--<li>-->
                    <!--<label label class="label">Ciudad destino</label><input value="<%# @gift_code.to_city.name %>" disabled>-->
                  <!--</li>-->
                  <li>
                    <label label class="label">Celular</label><input value="<%= @gift_code.to_mobile_phone %>" disabled>
                  </li>
                  <li>
                    <label label class="label" >e-Mail</label><input value="<%= @gift_code.to_email %>" disabled>
                  </li>
                  <li>
                    <label label class="label">Valor</label><input value="<%= @gift_code.gift_card.cost %>" disabled>
                  </li>
                  <li>
                    <label label class="label">Fecha de envio</label><input value="<%= (@gift_code.send_notifications_now) ? 'Enviar ahora.' :@gift_code.send_date_time %>" disabled>
                  </li>
                  <li>
                    <label label class="label">Mensaje</label><input value="<%= @gift_code.body_message %>" disabled>
                  </li>
              </ol>
            </fieldset>
        </form>
        <%= form_tag(office_admin_bonus_create_path('ref_sale'=>@gift_code.ref_sale), method: 'post') do %>
            <table>
                <tr>
                  <td><%= label_tag(:password, "Por favor confirme su contraseña de usuario:") %></td>
                  <td><%= password_field_tag(:password) %></td>
                  <td><%= submit_tag("Confirmar") %></td>
                </tr>
            </table>
        <% end %>
        <%# button_to 'Confirmar', office_admin_bonus_create_path('ref_sale'=>@gift_code.ref_sale), :confirm => '¿Está seguro?', :method => :post %>
        <a class="btn" href="#" onclick="history.back(); return false;">Cancelar</a>
      </div>
    </div>
  </div>
</div>