<%= render 'personal-banner' %>
<div ng-controller="FriendsCtrl" ng-init="load_referrals();load_guests();load_for_inviting();load_in_gift_code();load_friends();" >

  <div class="graybanner no-padding no-margin">
    <div class="row">
      <div class="large-12 columns large-centered">
        <h4 class="subheader text-center">Aumenta el número de puntos invitando a todos tus amigos, compartiendo el siguiente enlance. Por cada amigo que se registre ganarás 40 puntos</h4>
        <br />
        <form action="#" class="custom padding-top-20">
          <div class="row collapse" >
            <div class="large-6 columns large-centered">
              <div class="row collapse">
                <div class="large-8 columns">
                  <div class="small-7 columns">
                    <input id="copy-text" class="no-border-radius" type="text" value="<%= root_url %>?amigo=<%= current_user.fbk_user_id %>&utm_source=giftcode&utm_medium=copy_text" readonly/>
                  </div>
                  <div class="small-5 columns">
                    <input type="submit" class="button postfix radius gray" value="Copiar link" id="copy-button"  data-clipboard-text="<%= root_url %>?amigo=<%= current_user.fbk_user_id %>&utm_source=giftcode&utm_medium=copy_link" >
                  </div>
                </div>
                <div class="large-4 columns">
                  <ul class="social-strip generic left">
                    <li><a href="https://twitter.com/share?url=<%= root_url %>?amigo=<%= current_user.fbk_user_id %>&utm_source=giftcode&utm_medium=twitter&text=Utiliza mi link de @giftcode y obtén 100 puntos canjeables por bonos de las mejores marcas&related=<%= GlobalConstants::TWITTER_RELATED_ACCOUNTS %>&lang=es" class="t" target="_blank" >twitter</a></li>
                    <li><a href="http://www.facebook.com/share.php?u=<%= root_url %>?amigo=<%= current_user.fbk_user_id %>&utm_source=giftcode&utm_medium=facebook" target="_blank" class="f">facebook</a></li>
                    <li><a href="https://plusone.google.com/_/+1/confirm?url=<%= root_url %>?amigo=<%= current_user.fbk_user_id %>&utm_source=giftcode&utm_medium=gplus" target="_blank" class="gp">google plus</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

    <div class="graybanner">
        <div class="row">
            <h3 class="text-center">Amigos</h3>
            <!--<h5 class="subheader text-center">Descubre las marcas favoritas de todos tus amigos y regalales lo que ell@s verdaderamente quieren.  Invitalos  a todos  a unirse a <b>giftcode</b> y podrás ganar <b>40 puntos por cada amigo</b> que se nos una.</h5>-->
            <h5 class="subheader text-center">Descubre las marcas favoritas de todos tus amigos y regalales lo que ell@s verdaderamente quieren.  Invitalos  a todos  a unirse a <b>giftcode</b>.</h5>
        </div>
        <br />
        <div class="row">
            <div class="large-12 columns">
                <ul class="inline-list centrify filter-list">
                    <li><a href="" ng-click="load_friends()" >Todos (<i class="" ng-bind="all_friends.length"></i>) </a></li>
                    <li><a href="" ng-click="load_referrals()" >Referidos (<i class="" ng-bind="referrals_friends.length"></i>) <span class="referals-list"></span></a></li>
                    <li><a href="" ng-click="load_in_gift_code()" >En Giftcode (<i class="" ng-bind="in_gift_code_friends.length"></i>) <span class="ingiftcode"></span></a></li>
                    <li><a href="" ng-click="load_guests()" >Invitados (<i class="" ng-bind="guests_friends.length"></i>) <span class="guest"></span></a></li>
                    <li><a href="" ng-click="load_for_inviting()" >Por Invitar (<i class="" ng-bind="for_inviting_friends.length"></i>)<span class="toinvite"></span> </a></li>
                </ul>
            </div>
        </div>
        <br />
    </div>
	
	<div id="invitar"class="main-ux">
      <div class="row">
        <div class="large-6 columns large-centered">
          <div class="row collapse">
            <div class="small-9 columns">
              <input type="text" ng-model="search" name="search" placeholder="Busca a tus amigos">
            </div>
            <div class="small-3 columns">
              <input type="submit" class="button postfix gray radius" value=" Buscar " style="" >
            </div>
          </div>
        </div>
      </div>
		<div class="row">
			<div class="large-12 columns">
                <ul when-scrolled="scroll()" class="brands-circle friends text-center" >
                    <li
                    class="list friends-circle tip-top"
                    ng-class="{true: 'referal', false: {true:'giftcoder', false: {true:'already-invite', false:''}[invite_to_giftcode(friend.id)] }[friend.user_state_id == <%= UserState::STATES[:registered] %>] }[friend.referral_id == <%= current_user.fbk_user_id %>]"
                    ng-repeat="friend in filtered_friends = (friends | filter: search | limitTo: objects )"
                    id="friend_{{friend.id}}"
                    ng-click="click_friend(friend.id, '/perfil/amigo/', friend.fbk_user_id, '<%= current_user.fbk_user_id %>', '<%= fbshared2_url %>' )"
                    data-tooltip  data-width="160" data-options="disable-for-touch:true" title="{{friend.first_name + ' ' + friend.last_name}}"
                    >
                        <img ng-src="{{friend.image.thumb140.url}}" height='140' width='140' >
                        <!--<img ng-src="https://graph.facebook.com/{{friend.fbk_user_id}}/picture?width=142&height=142" height='142' width='142' >-->
                        <h6 style="cursor: pointer;" class="invite" id="friend_h6_{{friend.id}}" ng-bind="{true: 'Mi referido', false: {true:'Amigo giftcode', false: {true:'Invitado', false:'Invitar'}[invite_to_giftcode(friend.id)] }[friend.user_state_id == <%= UserState::STATES[:registered] %>] }[friend.referral_id == <%= current_user.fbk_user_id %>]" ></h6>
                        <h5 ng-bind="(friend.first_name.split(' ')[0] + ' ' + friend.last_name.split(' ')[0]) | characters:8"></h5>
                    </li>
                </ul>
		    </div>
	    </div>
    </div><!-- /main-ux -->

</div><!-- /FriendsCtrl -->
<% if session[:utm_source].present? %>
    <% if session[:utm_source] == 'google' %>
        <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 989159782;
            var google_conversion_language = "en";
            var google_conversion_format = "2";
            var google_conversion_color = "ffffff";
            var google_conversion_label = "SStnCOLAjQgQ5sLV1wM";

            var google_conversion_value = 0;
            var google_remarketing_only = false;
            /* ]]> */
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
          <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/989159782/?value=0&amp;label=SStnCOLAjQgQ5sLV1wM&amp;guid=ON&amp;script=0"/>
          </div>
        </noscript>
    <% elsif session[:utm_source] == 'facebook' %>
    <% end  %>
<% end  %>
<% session[:utm_source]=nil%>
<% session[:utm_medium]=nil%>

<% if GlobalConstants::use_mix_panel? %>
<script type="text/javascript">
   <% if current_user.present? %>
   mixpanel.identify("<%= current_user.email %>");
   <% end %>
   mixpanel.track("Web - Visita Invitar Amigos");
</script>
<% end %>


