<div class="personal-banner">
  <div class="row">
    <div class="large-9 columns large-centered padding-top-20">
    </div>
  </div>
</div>
<div class="row">
  <div class="large-8 columns large-centered">
    <div class="row">
      <div class="large-3 columns">
        <img ng-src="https://graph.facebook.com/<%= @friend.fbk_user_id %>/picture?width=142&height=142" height ='142'  width = '142' ng-hide="update" class="circle">
      </div>
      <div class="large-9 columns">
        <h4><em><%= @friend.complete_name %></em></h4>
        <p>Estas son las marcas favoritas que <%= @friend.first_name %> ha seleccionado para que siempre sepas qué regalarle en sus fechas especiales.<br /><strong>¿Qué esperas? ¡Envíale un giftcode!</strong></p>
        <p><%= @friend.fbk_location_name %></p>
        <p></p>
      </div>
    </div>
  </div>
</div>

<h4 class="text-center padding-50"><em><%= @friend.first_name %> tiene <%= pluralize(@friend.favorites.count, 'marca favorita', 'marcas favoritas') %></em></h4>


<div id="favorites" class="row" ng-controller="FavoritesCtrl" ng-init="type='friend';friend=<%= @friend.id %>;load_favorites();">
  <div  class="row">
    <div class="large-12 columns" >
      <ul class="themarks" >
        <% @categories.each_with_index do |c,i| %>
            <li id="category_<%= i + 1  %>" ng-init="count[<%= c.id %>]=<%= c.favorites.where(:user_id => @friend.id).count %>;" ng-click="active('<%= c._class %>', <%= i + 1 %>)" ng-class="{active: class == '<%= c._class %>'}" class="<%= c._class %> first">
              <a>
                <%= c.name %>
              </a>
              <div class="like-number" ng-show="count[<%= c.id %>] > 0">
                <h4 class="subheader whitetxt" ng-bind="count[<%= c.id %>]"></h4>
              </div>
            </li>
        <% end %>
      </ul>
      <% @categories.each_with_index do |c,i| %>
          <div id="list_brands_<%= i + 1 %>" class="row">
            <div class="large-12 columns">
              <div  class="brands show-hide" ng-show="class == '<%= c._class %>'"  >
                <a class="close close_button" ng-click="close()"></a>
                <ul class="col3">
                  <% c.brands.each do |b| %>
                      <%# if b.enable_for_selling == true  %>
                          <li class="show-hide" ng-show="favorites[<%= b.id %>]">
                            <span ng-class="{ whitetxt: favorites[<%= b.id %>] }" ><%= b.name%> <span class="favorite"><i class="fi-heart size-18"></i></span></span>
                          </li>
                      <%# end %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>