<div class="graybanner no-padding no-margin">
  <div class="row" >
    <div class="large-12 columns"  >
      <h4 class="subheader text-center">Recibir bonos electrónicos de regalo es muy sencillo.</h4>
      <h6 class="subheader text-center">Dale a conocer a tus amigos tus marcas favoritas para que recibas lo que realmente quieres</h6>
      <br>
      <div class="centered">
        <a href="<%= favorites_path %>" class="button pre radius greenbg2">Seleccionar Marcas Favoritas</a>
      </div>
      <br>
    </div>
  </div>
</div>