<div class="row">
  <div class="text-center">
    <div class="sub-menu">
      <ul class="inline-list">
        <li class="<%= 'active' if action_name == 'index_angular' && controller_name == 'gift_codes' %>"><%= link_to 'Bonos Recibidos', gift_codes_path %></li>
        <li class="<%= 'active' if action_name == 'index_sent_angular' && controller_name == 'gift_codes' %>"><%= link_to 'Bonos Enviados', gift_codes_sent_path %></li>
      </ul>
    </div>
  </div>
</div>