<div id="friend-id" class="reveal-modal medium no-reveal-margin" data-options="closeOnBackgroundClick:false">
  <div class="row">
    <div class="large-10 columns large-centered">
      <div class="bono bigone modal">
        <div class="row collapse">
          <div class="large-4-static columns">
            <img ng-src="{{_gift_code.brand.image.thumb180.url}}" class="brand-ico" width="180" height="181" alt="">
          </div>
          <div class="large-8-static columns">
            <div class="whos">
              <h4><span class="greentxt">De: </span> {{
                {
                true: ( _gift_code.brand.name | characters:40 ),
                false: ( ( _gift_code.data.from_first_name + ' ' + _gift_code.data.from_last_name ) | characters:40 )
                }
                [_gift_code.is_free]
                }}
              </h4>
              <h4><span class="greentxt">Para: </span> {{((_gift_code.data.to_first_name + ' ' + _gift_code.data.to_last_name) | characters:35)}}</h4>
              <h4><span class="greentxt">Saldo: </span>{{(_gift_code.available_balance)}}</h4>
              <h2 ng-bind="_gift_code.cost"></h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-10 columns large-centered">
            <div class="giftnote">
              <p class="in-modal" ng-bind="_gift_code.data.body_message" ></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="close-reveal-modal"> <span>Cerrar</span> &#215;</a>
  <a class="flip-card" data-reveal-id="friend-id-back"> <span>Ver reverso</span> <%= image_tag "reverso.png" %> </a>
</div>


<div id="friend-id-back" class="reveal-modal medium no-reveal-margin" data-options="closeOnBackgroundClick:false">
  <div class="row">
      <div class="bono modal white centered">
        <div class="row">
          <div class="whos">
            <img src="/assets/icono_grande.png" class="qr" alt="" width="74" height="84" />
            <h4 class="text-center">PIN: {{ _gift_code.pin }}</h4>
            <h4 class="text-center">PIN: {{ _gift_code.card_number }}</h4>
            <h4 class="text-center">PIN: {{ _gift_code.card_key }}</h4>
            <!--<h6 class="subheader text-center">Ciudad de destino: {{_gift_code.city}}</h6> -->
            <h6 class="subheader text-center">Válido hasta: {{_gift_code.valid}}</h6>
          </div>
          <div class="large-11 column large-centered text-right no-margin no-padding">
            <a href="/bono/{{ _gift_code.ref_sale }}" class="download-icon"><span>Descargar</span> <%= image_tag "download-icon.png" %></a>
          </div>
        </div>
        <div class="greenbg">
          <div class="row">
            <div class="large-10 columns large-centered">
              <p class="legal-advice whitetxt">Con este bono electrónico, estas contribuyendo con el medio ambiente al evitar el uso de tarjetas plásticas</p>
            </div>
          </div>
        </div>
      </div>

    <p class="text-center whitetxt padding-top-20">{{
      {
      true: '' + _gift_code.brand.name + ' te acaba de enviar un (Bono de Regalo) que podr&aacute;s reclamar en la tienda '+ _gift_code.office.office_name + ' en la ciudad de ' + _gift_code.city + '.',
      false: 'El presente Giftcode (Bono virtual de regalo) es personal e intransferible, si lo compartes o lo envías a otra persona estarás cediendo el derecho adquirido. Válido únicamente hasta la fecha establecida. Canjeable únicamente en las tiendas ' + _gift_code.brand.name + ' de ' + _gift_code.country + '. Cangeable por cualquier artículo disponible en las tiendas autorizadas, no canjeable por dinero. El valor de la compra no es reembonsable'
      }
      [_gift_code.is_free]
      }}</p>

  </div>
  <a class="close-reveal-modal"> <span>Cerrar</span> &#215;</a>
  <a class="flip-card back-flip" data-reveal-id="friend-id"> <span>Volver</span> <%= image_tag "volver.png" %> </a>
</div>