<br />
    <% bono = 'bono-logo-blanco.png'
       #bono = 'bono-verde.png'
       #bono = 'bono-rojo.png'
    %>
    <div class="bono bigone email centered" border="0" border="0" cellspacing="0" cellpadding="0" style="background: url('<%= ChunkyPNG::Image.from_blob(File.read(Rails.root.to_s + '/app/assets/images/'+ bono )).to_data_url  %>') no-repeat top center;">
        <div class="row collapse" >
          <div class="large-4-static columns" style="width:190px;">
            <%  if !Rails.env.development? %>
                <%#= image_tag(  @brand.image_email_url(:thumb180).to_s, :alt => "", :class => "brand-ico" ) %>
                <%# image_tag( "https://giftcodeprov2staging.s3.amazonaws.com/uploads/brand/image_email/28/thumb195_circle195x195.png", :alt => "", :class => "brand-ico" ) %>
                <img src="<%= @image_brand %>" class="brand-ico" alt="" />
            <%  else %>
                <% if @brand.image_email_url(:thumb180) != '/assets/brand_195x195_round.png'%>
                    <%= image_tag(  GlobalConstants::host + @brand.image_email_url(:thumb180) , :alt => "", :class => "brand-ico" ) %>
                <% else %>
                    <%= image_tag(  Rails.root.to_s + '/app/assets/images/brand_195x195_round.png' , :alt => "", :class => "brand-ico" ) %>
                <% end  %>
            <%  end %>
          </div>
          <div class="large-8-static columns" style="width:450px;" >
            <div class="whos">
              <h4><span class="greentxt">De: </span><%= truncate( @gift_code.from_name_capitalize, length: 25) %></h4>
              <h4><span class="greentxt">Para: </span><%= truncate( @gift_code.to_name_capitalize, length: 25) %></h4>
              <% if @gift_code.type == 'PUNTOS' %>
                <h2><%= @gift_code.campaign_point.cost_current %></h2>
              <% else  %>
                <h2><%= @gift_code.gift_card.cost_current %></h2>
              <% end %>
              <h6>&nbsp;</h6>
              <% if @gift_code.decrypt==2 %>
                <h6><span>Bono Nº: </span><%= @gift_code.redemption_pin_formatted(' ')[0..-5] %></h6>
              <% else %>
                <h6><span>Bono Nº: </span><%= @gift_code.redemption_pin_formatted(' ') %></h6>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-10 columns large-centered">
            <div class="giftnote">
              <p class="in-modal"><%= @gift_code.body_message %></p>
            </div>
          </div>

        </div>
    </div>
    <br />
    <div class="bono white email centered" border="0" border="0" cellspacing="0" cellpadding="0" style="background: url('<%= ChunkyPNG::Image.from_blob(File.read(Rails.root.to_s + '/app/assets/images/bono-white-logo-negro.png')).to_data_url  %>') no-repeat top center;" >
        <div class="row">
            <span class="text-left">&nbsp;<%= @gift_code.identification_number %></span>
              <% if @campaign.show_qr and !@campaign.show_barcode%>
                <img src="<%= @qr_code %>" class="" alt="" width="25%" />
                <p class="subheader text-center">Válido hasta: <%= l @gift_code.valid_until, :format => :web %></p>
                <% if @gift_code.decrypt==2 %>
                   <p class="subheader text-center" >No reveles tu clave, mantenla &nbsp;&nbsp;<b>segura</b>. Clave: <i><%= @gift_code.redemption_pin_formatted(' ')[-4..@gift_code.redemption_pin_formatted.length] %></i> </p>
                <% else %>
                   <h6 >&nbsp;</h6>
                <% end %>
              <% end %>
              <% if !@campaign.show_qr and @campaign.show_barcode %>
                  <p class="subheader text-center">Válido hasta: <%= l @gift_code.valid_until, :format => :web %></p>
                  <img src="<%= @barcode %>" class="" alt="" width="80%" />
                  <% if @gift_code.decrypt==2 %>
                      <p class="subheader text-center" style="margin-top:-20px">No reveles tu clave, mantenla &nbsp;&nbsp;<b>segura</b>. Clave: <i><%= @gift_code.redemption_pin_formatted(' ')[-4..@gift_code.redemption_pin_formatted.length] %></i> </p>
                  <% else %>
                      <h6 style="margin-top:-20px">&nbsp;</h6>
                  <% end %>
              <% end %>
              <% if @campaign.show_qr and @campaign.show_barcode %>
                  <p class="subheader text-center">Válido hasta: <%= l @gift_code.valid_until, :format => :web %></p>
                  <img src="<%= @qr_code %>" class="" alt="" width="22%" />
                  <img src="<%= @barcode %>" class="" alt="" width="70%" />
                  <% if @gift_code.decrypt==2 %>
                      <p class="subheader text-center">No reveles tu clave, mantenla &nbsp;&nbsp;<b>segura</b>. Clave: <i><%= @gift_code.redemption_pin_formatted(' ')[-4..@gift_code.redemption_pin_formatted.length] %></i> </p>
                  <% else %>
                      <h6>&nbsp;</h6>
                  <% end %>
              <% end %>
        </div>
        <div class="greenbg" style="margin-top:10px">
          <div class="row">
            <div class="large-10 columns large-centered">
              <p class="legal-advice whitetxt">Con este bono electrónico, estas contribuyendo con el medio ambiente al evitar el uso de tarjetas plásticas</p>
            </div>
          </div>
        </div>
    </div>
<br />
