<div id = "gift_code" class="row" style="display: none;">
  <div class="large-12 columns">
    <div class="brands min-bono-sent-received">
      <div class="the-close">
        <a class="close close_button" ng-click="close()" ></a>
      </div>
      <%# large-6-centered-bono large-centered  %>
      <div class="show-hide" ng-show="_gift_code" >
        <div class="left">
          <div class="bono sent-received">
            <div class="row collapse large-12">
              <div class="large-4-static columns">
                <img ng-src="{{_gift_code.brand.image.url}}" class="brand-ico smallish" />
              </div>
              <div class="large-8-static columns">
                <div class="whos <%= 'received' if action_name == 'index_angular' %>">
                  <h4><span class="greentxt">De: </span>
                    {{
                    {
                    true: ( _gift_code.brand.name | characters:30 ),
                    false: ( ( _gift_code.data.from_first_name + ' ' + _gift_code.data.from_last_name ) | characters:30 )
                    }
                    [_gift_code.is_free]
                    }}
                  </h4>
                  <h4><span class="greentxt">Para: </span>{{((_gift_code.data.to_first_name + ' ' + _gift_code.data.to_last_name) | characters:27)}}</h4>
                  <h4><span class="greentxt">Saldo: </span>{{(_gift_code.available_balance)}}</h4>
                   <h2>{{(_gift_code.cost)}}</h2>
                  <% if action_name == 'index_angular' %>
                  <h6 ng_if="_gift_code.decrypt==1"><span>Bono Nº: </span>{{(_gift_code.pin)}}</h6> <!--Pin generado por redeban-->
                  <h6 ng_if="_gift_code.decrypt==2"><span>Bono Nº: </span>{{(_gift_code.card_number)}}</h6><!--Pin generado por giftcode-->
                  <% end%>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="large-10 columns large-centered">
                <div class="giftnote">
                  <p class="in-modal" ng-bind="_gift_code.data.body_message  "></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="left">
          <div class="bono sent-received white">
            <div class="row large-12">
              <div class="large-12 columns">
                <%# src="/assets/icono_grande.png"  %>
                <img ng-src="{{_gift_code.qr}}"  class="qr <%= 'received' if action_name == 'index_angular' %>" alt="" />
                <span class="graytxt">Valido hasta {{_gift_code.valid}}</span>
                <% if action_name == 'index_angular' %>
                    <p class="subheader text-center">No reveles tu clave, mantenla <b>segura</b>. </p>
                    <p class="subheader" ng_if="_gift_code.decrypt==2">Clave:<i> {{ _gift_code.card_key }}</i></p>
                    <p class="subheader" ng_if="_gift_code.decrypt==1">&nbsp;</p>
                <% end %>
                <!--<span class="graytxt">Ciudad de destino: {{_gift_code.city}}</span>-->

              </div>
            </div>
          </div>
        </div>
      </div>
      <% if action_name == 'index_angular' %>
      <div class="large-12 columns show-hide padding-20" ng-show="_gift_code" >
        <p class="white">
          {{
          {
          true: '' + _gift_code.brand.name + ' te acaba de enviar un (Bono de Regalo) que podr&aacute;s reclamar en la tienda ' + _gift_code.office.office_name + ' en la ciudad de ' + _gift_code.city + '.',
          false: 'El presente Giftcode (Bono virtual de regalo) es personal e intransferible, si lo compartes o lo envías a otra persona estarás cediendo el derecho adquirido. No compartas tu clave con nadie. Válido únicamente hasta la fecha establecida. Canjeable únicamente en las tiendas ' + _gift_code.brand.name+' de ' + _gift_code.country + '. Canjeable por cualquier artículo disponible en las tiendas autorizadas, no canjeable por dinero. El valor de la compra no es reembonsable'
          }
          [_gift_code.is_free]
          }}
        </p>
        <div class="large-11 column large-centered text-right no-margin no-padding">
          <a href="/bono/{{ _gift_code.ref_sale }}" class="download-icon"><span>Descargar</span> <%= image_tag "download-icon.png" %></a>
        </div>
      </div>
      <% end  %>
      <div ng-hide="_gift_code" class="preloader"></div>
    </div>
  </div>
</div>