<%# render 'personal-banner' %>
<%# render 'menu' %>
<% if  current_user.gift_codes_received.count == 0 %>
<div class="row">
  <div class="large-12 columns">
    <div class="">
      <!--<hr>-->
      <h4 class="subheader text-center padding-top-50">Aún no has recibido tu primer giftcode</h4>
      <h4 class="subheader text-center"><i>Invita y comparte con tus amigos, recibir giftcodes de lo que te gusta es algo inolvidable.</i></h4>
      <br>
      <div class="centered">
        <%= link_to 'Invitar amigos', friend_give_path, class: 'button pre radius greenbg2' %>
      </div>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
<% else  %>
<div ng-controller="GiftCodesCtrl" ng-init="load_gift_codes_received();" >
  <div class="row">
    <div class="large-12 columns">
      <div class="">
        <h4 class="subheader text-center padding-top-20">Tienes <span class="label label-count" ><%= current_user.gift_codes_received.count %></span> bonos de regalo</h4>
      </div>
    </div>
    <hr>
  </div>
  <div class="main-ux">
    <div class="row">
      <div class="large-12 columns large-centered">
        <ul class="brands-circle text-center show-hide" ng-show="gift_codes" >
          <li class="list show-hide" ng-repeat="(index, gift_code) in gift_codes" id="gift_code_{{index + 1}}"  ng-show="gift_codes">
            <img
                ng-click="load_gift_code(gift_code.ref_sale, index + 1 )"
                ng-src="{{gift_code.img_url}}"
                alt=""
                width="180"
                style="cursor:pointer;"
            >
            <div class="friends-number" ng-show="gift_code.redeemed.code == 1 || gift_code.redeemed.code == 2 || gift_code.redeemed.code == 3">
              <h4 class="subheader whitetxt no-after" title="{{gift_code.redeemed.message}}"><span class="big-check">✔</span></h4>
            </div>
            <h5 class="subheader" ng-bind="'De: ' + ( gift_code.from_name | characters:14 )"></h5>
            <h5 class='subheader' ng-bind="gift_code.cost"></h5>
          </li>
        </ul>
        <div ng-hide="gift_codes" class="preloader"></div>
      </div>
    </div>
  </div>


  <%# GIFTCODE  %>
    <%= render 'show' %>
  <%# FIN GIFTCODE  %>


  <%# MODAL  %>
    <%# render 'modal_show' %>
  <%# FIN MODAL  %>

</div>

<% end  %>