<%# render 'personal-banner' %>
<%# render 'menu' %>

<% if current_user.gift_codes_sent.count == 0 %>
<div class="row">
  <div class="large-12 columns">
    <div class="">
      <!--<hr>-->
      <h4 class="subheader text-center padding-top-50">Aún no has sorprendido a alguien con un giftcode</h4>
      <h4 class="subheader text-center"><i>recuerda que es muy sencillo.</i></h4>
      <br>
      <div class="centered">
        <%= link_to 'Regalar', give_path, class: 'button pre radius greenbg2' %>
      </div>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
<% else  %>
<div ng-controller="GiftCodesCtrl" ng-init="load_gift_codes_sent();" >
  <div class="row">
    <div class="large-12 columns">
      <div class="">
        <h4 class="subheader text-center padding-top-20">Has enviado <span class="label label-count" ><%= current_user.gift_codes_sent.count %></span> bonos de regalo</h4>
      </div>
    </div>
  </div>
  <hr>
  <div class="main-ux">
    <div class="row">
      <div class="large-12 columns">
        <ul class="brands-circle text-center show-hide" ng-show="gift_codes" >
          <li class="list show-hide" ng-repeat="(index, gift_code) in gift_codes" id="gift_code_{{index + 1}}" >
            <img
            ng-click="load_gift_code_sent(gift_code.ref_sale, index + 1 )"
            ng-src="{{gift_code.img_url}}"
            alt=""
            width="180"
            style="cursor:pointer"
            >
            <div class="friends-number" ng-show="gift_code.redeemed.code == 1 || gift_code.redeemed.code == 2 || gift_code.redeemed.code == 3">
              <h4 class="subheader whitetxt no-after" title="{{gift_code.redeemed.message}}"><span class="big-check">✔</span></h4>
            </div>
            <h5 class="subheader" ng-bind="'Para: ' + ( gift_code.to_name | characters:14 )"> </h5>
            <h5 class='subheader' ng-bind="gift_code.cost"></h5>
          </li>
        </ul>
        <div ng-hide="gift_codes" class="preloader"></div>
      </div>
    </div>
  </div>

  <%# GIFTCODE  %>
  <%= render 'show' %>
  <%# FIN GIFTCODE  %>


  <%# MODAL  %>
  <%# render 'modal_show' %>
  <%# FIN MODAL  %>

  <%= render 'light_banner' %>
</div>
<% end  %>