<%= semantic_form_for [:office_admin_2, @transaction] do |f| %>
  <%= f.inputs "" do %>
    <%= f.input :content_qr_code, :label => "Contenido del GiftCode", :as => :password, :input_html => { :maxlength => 50, :value => @gift_code.content_qr_code, :readonly => true  }, :required => true %>
    <%= f.input :available_balance, :label => "Saldo Disponible", :input_html => { :value => @gift_code.available_balance.to_i, :readonly => true  }, :required => true %>
    <%= f.input :cost, :label => "Valor de la compra", :as => :string, :hint => "Ingrese el valor de la compra, NO utilice puntos NI comas.",  :input_html => {:autofocus => "autofocus", :autocomplete => :off} %>
    <%= f.input :cost_confirmation, :label => "Confirmación del valor de la compra", :required => true, :as => :string, :hint => "Confirme el valor de la compra, NO utilice puntos NI comas.",  :input_html => {:autocomplete => :off} %>
  <% end %>
  <%= f.actions do %>
    <%= f.button "Registrar Pago" %>
  <% end %>
<% end %>