'use strict'
angular.module("_app")
.factory "ApiBrand", [ '$resource',
    ($resource)->
      $resource '/api/off/v1/brands/:id.json', { id: '@id' }, { 'index': { method: 'GET', isArray: true },  'show': { method: 'GET', isArray: false } }

]
.factory "ApiGiftCode", [ '$resource',
  ($resource)->
    $resource '/api/off/v1/gift_codes/:id.json', { id: '@id' }

]
.controller "GiftOffController",[ '$scope', 'ApiBrand', 'ApiGiftCode', ($scope, Brand, GiftCode ) ->

  $scope.gift_code = new GiftCode()
  $scope._brand = null
  $scope.gift_code.send_date = ''
  $scope.gift_code.send_date_time = ''
  $scope.data_bono = true

  $scope.$on( 'GiftcodeView:payment_credibanco',
    ( even, response )->
        $scope.data_bono = response
        $scope.payment_url = ''
  )

  $scope.load_brands = ()->
    $scope.brands = Brand.index()

  $scope.load_brand = (brand_id)->
      Brand.show( id: brand_id,
          ( data )->
              $scope.gift_cards = data.gift_cards
              $scope.cost = data.cost
              $scope.images_brand = data.url
              $scope.preload_form = false
              $scope._brand = data
              angular.element("body,html").animate({scrollTop: angular.element( "#form_bono" ).offset().top - 80  }, "slow")
              angular.element("#gift_code_to_first_name").focus();
          ,
          ( data )->
              console.log data
      )

  $scope.load_parameters = ( brand )->
    $scope.preload_form = true
    $scope.refresh_form()
    brand.$show(
      ( data )->
        $scope.gift_cards = data.gift_cards
        $scope.cost = data.cost
        $scope.images_brand = data.url
        $scope.preload_form = false
        $scope._brand = brand
        angular.element("body,html").animate({scrollTop: angular.element( "#form_bono" ).offset().top - 80  }, "slow")
        angular.element("#gift_code_to_first_name").focus();
      ,
      ( data )->
        console.log data
    )

  $scope.refresh_form = ()->
    $scope.gift_cards = []
    $scope.cost = []
    $scope.gift_code.gift_card_id = ""
    $scope.gift_code.cost_current = ""
    $scope.gift_code.total_current = ""
    $scope.select_gift_card_show = false

  $scope.calculate_cost = (gift_card_id) ->
    $scope.gift_code.cost_current = ""
    $scope.gift_code.total_current = ""
    $scope.select_gift_card_show = false
    for gift_card in $scope.gift_cards
      if gift_card.id == parseInt( gift_card_id, 10)
        $scope.select_gift_card_show = true
        $scope.gift_code.cost_current = gift_card.campaign.currency.short_name + ' ' + gift_card.cost_current
        $scope.gift_code.total_current = gift_card.campaign.currency.short_name + ' ' + gift_card.cost_plus_cost_total_admin_current


  $scope.next = ( form )->
    $scope.preload_form = true
    $scope.submitted = true
    if form.$valid
      if $scope.gift_code.send_date && $scope.gift_code.send_time
        $scope.gift_code.send_date_time = moment($scope.gift_code.send_date, 'DD/MM/YYYY',true).hour($scope.gift_code.send_time).format()
      $scope.gift_code.$save(
        ( data )->
          console.log data
          switch data.entity
            when '<%= ThirdPartyEntity::ENTITY[:redeban] %>'
              $('#modal_gift_code').foundation('reveal', 'open')
            when '<%= ThirdPartyEntity::ENTITY[:credibanco] %>'
              $scope.data_bono = false
              $scope.payment_url = '/payments/' + data.ref_sale
            else
              alert 'La entidad no esta configurada'
        ,
        ( data )->
          console.log data
      )

    $scope.preload_form = false

  $scope.close_confirmation = () ->
    $('#modal_gift_code').foundation('reveal', 'close')

  $scope.demo = ( url ) ->
      window.location.href = url

  $scope.onclick_location = ( url, entity ) ->
      switch entity
          when '<%= ThirdPartyEntity::ENTITY[:redeban] %>', '<%= ThirdPartyEntity::ENTITY[:credibanco] %>'
              window.location.href = url
          else
              alert 'La entidad no esta configurada'

]