_app.controller "LandingPageCtrl",[ '$scope', '$http', ($scope, $http) ->

  $scope.friends = []
  $scope.search = []
  $scope.gift_code = []
  $scope.gift_code.send_date = ""
  $scope.gift_code.send_time = ""
  $scope.gift_code.send_notifications_now = true
  $scope.confirmation = false
  $scope.data_bono = true

  $scope.$on( 'GiftcodeView:payment_credibanco',
    ( even, response )->
        $scope.data_bono = response
        $scope.payment_url = ''
  )

  $('.show-hide').removeClass('show-hide')

  $scope.$watch 'gift_code.gift_card_id', (_new, _old) ->
    $scope.gift_code.total_current = 0
    for cost in $scope.json_total then do (cost) =>
      num = parseInt( _new, 10 )
      if cost.id == num
        $scope.gift_code.total_current = cost.cost_plus_cost_total_admin_current


  $scope.load_friends = ->
    $http( url: '/json/amigos', method: "GET")
    .success( (data) ->
      $scope.friends = data
    )
    .error( (data) ->
      $scope.friends = []
    )

  $scope.load_friend = ( friend ) ->
    $scope.search.complete_name = friend.complete_name
    $scope.gift_code.to_first_name = friend.first_name
    $scope.gift_code.to_last_name = friend.last_name
    $scope.gift_code.to_email = friend.email
    $scope.gift_code.to_email_confirmation = friend.email
    $scope.gift_code.to_user_id = friend.id
    $scope.gift_code.to_mobile_phone = friend.mobile_phone

  $scope.next = ( form ) ->
    $scope.preload_form = true
    if form.$valid
      $scope.submitted = false
      $http({
        method : 'POST',
        url : '/bono/crear',
        data :{
          'gift_code': {
            'to_first_name': $scope.gift_code.to_first_name,
            'to_last_name': $scope.gift_code.to_last_name ,
            'to_mobile_phone': $scope.gift_code.to_mobile_phone ,
            'to_email': $scope.gift_code.to_email,
            'to_email_confirmation': $scope.gift_code.to_email_confirmation,
            'send_notifications_now': $scope.gift_code.send_notifications_now,
            'send_date_time': moment($scope.gift_code.send_date, 'DD/MM/YYYY',true).hour($scope.gift_code.send_time).format(),
            'to_city_id': $scope.gift_code.to_city_id,
            'gift_card_id': $scope.gift_code.gift_card_id,
            'body_message': $scope.gift_code.body_message,
            'to_address': $scope.gift_code.address,
            'to_state': $scope.gift_code.state,
            'to_city': $scope.gift_code.city
          }
        }
      })
      .success( (data) ->
        if data.flash.type == "success"

          $scope.gift_code.ref_sale = data.ref_sale
          $scope.gift_code.cost_current = data.cost_current
          $scope.gift_code.currency_short_name = data.currency_short_name
          $scope.gift_code.entity = data.entity
          $scope.gift_code.fingerprint = data.fingerprint
          $scope.gift_code.from_first_name = data.from_first_name
          $scope.gift_code.from_last_name = data.from_last_name

          $scope.confirmation = true
          switch data.entity
            when '<%= ThirdPartyEntity::ENTITY[:redeban] %>'
              $('#modal_gift_code').foundation('reveal', 'open')
            when '<%= ThirdPartyEntity::ENTITY[:credibanco] %>'
              $scope.data_bono = false
              $scope.payment_url = '/payments/' + data.ref_sale
            else
              alert 'La entidad no esta configurada'
          $scope.preload_form = false

        else
          $scope.message = data.flash.text
          $scope.alert = true
      )
      .error( (data) ->
        $scope.message = "Error con el servidor, por favor intentalo mas tarde."
        $scope.alert = true
      )
    else
      $scope.submitted = true
      $scope.preload_form = false

  $scope.close_confirmation = () ->
    $('#modal_gift_code').foundation('reveal', 'close')

  $scope.onclick_location = ( url ) ->
    window.location.href = url
]