<% if object.errors.any? %>
    <div style="width: 96%; margin: auto" >
      <ul id="home-nav-list" data-role="listview" data-inset="true" data-theme="d" >
        <li>
        <span style="color: #0080FF; font-size: 18px;" ><%= pluralize(object.errors.count, "error") %> </span>
        <p><strong>
           prohibited this <%= type_object %> from being saved:</strong></p>
       <p>There were problems with the following fields:</p>
       <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
       <% end %>
       </li>
      </ul>
    </div>
<% end %>



