<% if object.errors.any? %>
  <div class="alert alert-error">
    <a class="close" href="#">&times;</a>
    <p><strong><%= object.errors.count %> <%= object.errors.count == 1? "error":"errores" %>
      no permitieron grabar <%= type_object %>:</strong></p>
    <p>Por favor corregir los siguientes campos:</p>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>



