<div style="width: 102%; margin: auto" >
  <ul id="home-nav-list" data-role="listview" data-inset="true" data-theme="d" >
  <% flash.each do |key, value| %>
    <% if key.to_s == 'success' || key.to_s == 'notice' %>
      <li>
        <span style="color: #0080FF; font-size: 11px;" ><strong><%= value %></strong></span>
      </li>
    <% else %>
      <li>
        <span style="color: #0080FF; font-size: 11px;" ><strong><%= value %></strong></span>
      </li>
    <% end %>
  <% end %>
  </ul>
</div>