<div class="main">
  <% flash.each do |key, value| %>
    <% if key.to_s == 'success' || key.to_s == 'notice' %>
    <div class="alert alert-success"><strong><%= value %></strong></div>
    <% else %>
    <div class="alert alert-<%= key %>"><strong><%= value %></strong></div>
    <% end %>
  <% end %>
</div>
