<div class="container">
  <div class="row">
    <div class="span12">
      <% flash.each do |key, value| %>
        <%= puts "KeyABC: "+key.to_s %>
        <% if key.to_s == 'success' || key.to_s == 'notice' %>
        <div class="alert alert-success"><strong><%= value %></strong></div>
        <% else %>
        <div class="alert alert-<%= key %>"><strong><%= value %></strong></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>