<div style="margin-top: 30px; margin-bottom: 30px; text-align: center;">
  <section id="content">
    <%= form_for(:search, :url => give_path, :method => :post, :html => {:class => "form-search"} ) do |f| %>
      <input type="text" placeholder="Ingresa la ciudad de destino" name="search[city_name]" placeholder="Bogota, Colombia" class="input-medium search-query" style="margin: 0 auto;" maxlength="20" data-provide="typeahead" data-items="8" data-source='[<%= City.all_cities_for_search %>]'>
      <%= f.button "Buscar", :class => "btn btn-large btn-primary" %>
    <% end %>
  </section>
</div>

