<div style="margin-top: 50px; margin-bottom: 30px;">
<section id="content">
  <form class="form-search">
    <input type="text" class="input-medium search-query" value="Ciudad donde quieres enviar tú regalo">
    <button type="submit" class="btn btn-large btn-primary">Buscar</button>
  </form>
</section>
</div>







