<section id="content">
  <div class="mc-main-title well">
    <div class="mc-space-top10">
      <%= form_for(:user, :url => user_omniauth_authorize_path(:facebook)) do |f| %>
        Bonos de regalo amigables con el planeta
        <input type="submit" name="submit" id="facebook" value="Ingresar" />
      <% end %>
    </div>
  </div>
</section>







