<div class="large-4 columns" >
  <input type="text" ng-model="search_brand.name" class="search-query" placeholder="Buscador de marcas" id="search_brand">
  <div class="" >
    <div class="list-brands" >
      <ul class="no-bullet">
        <li ng-repeat="brand in brands | filter: search_brand " >
          <h6 class="add-friend">
            <a ng-click="load_parameters(brand)">
              <img ng-src="{{brand.url.image.thumb120.url}}"  height ='60'  width = '60'> <var ng-bind="(brand.name) | characters:21"></var> <span  >+</span>
            </a>
          </h6>
        </li>
      </ul>
    </div>
  </div>
</div>