<div id="modal_gift_code" class="reveal-modal medium min-modal-bono" data-options="closeOnBackgroundClick:false" >
  <div class="gray-warning">
    <p>Revisa todos los datos de tu GiftCode</p>
  </div>
  <div class="row">
    <div class="bono bigone confirmation centered">
      <div class="row">
        <div class="large-4-static columns">
          <img class="brand-ico" ng-src="{{images_brand.image.thumb180.url}}" alt=""  height="180" width="180" >
        </div>
        <div class="large-8-static columns">
          <div class="whos">
            <h4><span class="greentxt">De: </span>{{gift_code.from_first_name + ' ' + gift_code.from_last_name}}</h4>
            <h4><span class="greentxt">Para: </span>{{gift_code.to_first_name + ' ' + gift_code.to_last_name}}</h4>
            <h6>{{ gift_code.to_email }}<a href="tel:{{gift_code.to_mobile_phone}}" ng-show="gift_code.to_mobile_phone">, {{gift_code.to_mobile_phone}}</a></h6>
            <h6>&nbsp;</h6>
            <h2 ng-bind="gift_code.currency_short_name + ' ' + gift_code.cost_current"></h2>
          </div>
        </div>
      </div>
      <div class="large-10 columns large-centered">
        <div class="row">
          <div class="giftnote">
            <p class="in-modal">{{ gift_code.body_message }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-4 large-centered columns">
      <img src="assets/payassets.jpg" width="277" height="64" alt="Payassets" class="centered">
    </div>
  </div>
  <hr />
  <div class="row" ng-if="!payment_modal">
    <div class="large-6 columns large-centered">
      <div class="goto-buttons more-space">
        <input type="button" class="cancelar button gray pre" value="Cancelar"  ng-click="close_confirmation()" ng-disabled="payment_disable">
        <% if Rails.env.development? || Rails.env.staging? || Rails.env.prestaging? %>
            <input type="button" class="cancelar button gray pre" VALUE="Demo" ng-click="preload_modal=true;payment_disable=true;demo('<%= root_url %>payments/demo/'+gift_code.ref_sale);" ng-disabled="payment_disable" >
        <% end %>
        <% if Rails.env.development? || Rails.env.production? || Rails.env.prestaging? %>
            <input type="button" class="button pre continue" VALUE="Pagar" ng-click="preload_modal=true;payment_disable=true;onclick_location('<%= root_url %>payments/'+gift_code.ref_sale, gift_code.entity );" ng-disabled="payment_disable" >
        <% end %>
      </div>
    </div>
  </div>

  <a class="close-reveal-modal"> <span>Cerrar</span> &#215;</a>
  <div ng-show="preload_modal" class="preloader show-hide"></div>
</div>
<br/>
<br/>
<br/>