<div id="form_bono" class="<%= 'large-8 columns' unless @brand  %>">
  <form  name="data" class="custom" novalidate ng-submit="next(data)" >
    <div class="row collapse">
        <i class="selected_brand " ng-class="left:_brand" ng-if="_brand">
          <% if @brand %>
            <div class="row centered size-21">Envia un Bono de Regalo: <img ng-src="{{_brand.url.image.thumb120.url}}"  height ='30'  width = '30'> <var ng-bind="_brand.name"></var></div>
            <br/>
          <% else %>
            Has selecionado: <img ng-src="{{_brand.url.image.thumb120.url}}"  height ='30'  width = '30'> <var ng-bind="_brand.name"></var>
          <% end %>
        </i>
        <h5 class="subheader right" >Tus datos</h5>
        <hr />

        <!--TUS DATOS-->
        <div class="row">
          <div class="small-5 columns">
            <label for="gift_code_to_first_name" class="right inline">Nombres <span>*</span></label>
          </div>
          <div class="small-7 columns" ng-class="{true: 'error', false: '' }[data.from_first_name.$invalid && submitted || data.from_first_name.$dirty && data.from_first_name.$invalid]" >
            <input type="text" name="from_first_name" id="gift_code_to_first_name" ng-model="gift_code.from_first_name" placeholder="Tu nombres" required />
            <small  ng-show="data.from_first_name.$dirty && data.from_first_name.$invalid || submitted">
              <div ng-show="data.from_first_name.$error.required">Campo obligatorio.</div>
            </small>
          </div>
        </div>

        <div class="row">
          <div class="small-5 columns">
            <label for="gift_code_from_last_name" class="right inline">Apellidos <span>*</span></label>
          </div>
          <div class="small-7 columns"  ng-class="{true: 'error', false: '' }[data.from_last_name.$invalid && submitted || data.from_last_name.$dirty && data.from_last_name.$invalid]" >
            <input type="text" name="from_last_name" id="gift_code_from_last_name" ng-model="gift_code.from_last_name" placeholder="Tu apellidos" required />
            <small ng-show="data.from_last_name.$dirty && data.from_last_name.$invalid || submitted">
              <div ng-show="data.from_last_name.$error.required">Campo obligatorio.</div>
            </small>
          </div>
        </div>

        <div class="row">
          <div class="small-5 columns">
            <label for="gift_code_from_email" class="right inline">Email <span>*</span></label>
          </div>
          <div class="small-7 columns"  ng-class="{true: 'error', false: '' }[data.from_email.$invalid && submitted || data.from_email.$dirty && data.from_email.$invalid]" >
            <input type="email" name="from_email" id="gift_code_from_email" ng-model="gift_code.from_email" required ng-pattern="EMAIL_REGEXP" placeholder="Tu correo" />
            <small ng-show="data.from_email.$dirty && data.from_email.$invalid || submitted">
              <div ng-show="data.from_email.$error.required" >Campo obligatorio.</div>
              <div ng-show="data.from_email.$error.pattern">Ingresar un correo electronico valido.</div>
            </small>
          </div>
        </div>
        <!--FIN TUS DATOS-->

        <!--INFO DEL BONO-->
        <h5 class="subheader right" >Información del destinatario</h5>
        <hr />


          <div class="row">
            <div class="small-5 columns">
              <label for="gift_code_to_first_name" class="right inline whitetxt">Nombres *</label>
            </div>
            <div class="small-7 columns" ng-class="{true: 'error', false: '' }[ data.to_first_name.$invalid && submitted || data.to_first_name.$dirty && data.to_first_name.$invalid]">
              <input type="text" name="to_first_name" id="gift_code_to_first_name" ng-model="gift_code.to_first_name" required />
              <small ng-show="data.to_first_name.$dirty && data.to_first_name.$invalid || submitted">
                <div ng-show="data.to_first_name.$error.required">Campo obligatorio.</div>
              </small>
            </div>
          </div>
          <div class="row">
            <div class="small-5 columns">
              <label for="gift_code_to_last_name" class="right inline whitetxt" >Apellidos *</label>
            </div>
            <div class="small-7 columns" ng-class="{true: 'error', false: '' }[ data.to_last_name.$invalid && submitted || data.to_last_name.$dirty && data.to_last_name.$invalid]">
              <input type="text" name="to_last_name" id="gift_code_to_last_name" ng-model="gift_code.to_last_name" required />
              <small ng-show="data.to_last_name.$dirty && data.to_last_name.$invalid || submitted">
                <div ng-show="data.to_last_name.$error.required">Campo obligatorio.</div>
              </small>
            </div>
          </div>
          <div class="row">
            <div class="small-5 columns">
              <label for="gift_code_to_mobile_phone" class="right inline whitetxt" >Celular </label>
            </div>
            <div class="small-7 columns" ng-class="{true: 'error', false: '' }[ data.to_mobile_phone.$invalid && submitted || data.to_mobile_phone.$dirty && data.to_mobile_phone.$invalid]">
              <input type="text" name="to_mobile_phone" id="gift_code_to_mobile_phone" ng-model="gift_code.to_mobile_phone" />
              <small ng-show="data.to_mobile_phone.$dirty && data.to_mobile_phone.$invalid || submitted">
                <div ng-show="data.to_mobile_phone.$error.required">Campo obligatorio.</div>
              </small>
            </div>
          </div>
          <div class="row">
            <div class="small-5 columns">
              <label for="gift_code_to_email" class="right inline whitetxt" >e-Mail *</label>
            </div>
            <div class="small-7 columns" ng-class="{true: 'error', false: '' }[ data.to_email.$invalid && submitted || data.to_email.$dirty && data.to_email.$invalid]">
              <input type="email" name="to_email" id="gift_code_to_email" ng-model="gift_code.to_email" required ng-pattern="EMAIL_REGEXP" />
              <small ng-show="data.to_email.$dirty && data.to_email.$invalid || submitted">
                <div ng-show="data.to_email.$error.required" >Campo obligatorio.</div>
                <div ng-show="data.to_email.$error.pattern">Ingresar un correo electronico valido.</div>
              </small>
            </div>
          </div>
          <div class="row">
            <div class="small-5 columns">
              <label for="gift_code_to_email_confirmation" class="right inline whitetxt"  >Confirmar e-Mail *</label>
            </div>
            <div class="small-7 columns" ng-class="{true: 'error', false: '' }[ data.to_email_confirmation.$invalid && submitted || data.to_email_confirmation.$dirty && data.to_email_confirmation.$invalid]">
              <input type="email" name="to_email_confirmation" id="gift_code_to_email_confirmation" ng-model="gift_code.to_email_confirmation" match="gift_code.to_email" required />
              <small ng-show="data.to_email_confirmation.$dirty && data.to_email_confirmation.$invalid || submitted">
                <div ng-show="data.to_email_confirmation.$error.required">Campo obligatorio.</div>
                <div ng-show="data.to_email_confirmation.$error.email">Ingresar un correo electronico valido.</div>
                <div ng-show="data.to_email_confirmation.$error.mismatch">Correo electronico no coinciden.</div>
              </small>
            </div>
          </div>


          <div class="row">
              <div class="small-5 columns">
                <label for="gift_code_body_message" class="right inline" >Mensaje *</label>
              </div>
              <div class="small-7 columns" ng-class="{true: 'error', false: '' }[ data.body_message.$invalid && submitted || data.body_message.$dirty && data.body_message.$invalid]">
                <textarea type=text class="right inline" name="body_message" id="gift_code_body_message" ng-model="gift_code.body_message" required ng-maxlength="110" >
                </textarea>
                <small ng-show="data.body_message.$dirty && data.body_message.$invalid || submitted ">
                  <div ng-show="data.body_message.$error.required">Campo obligatorio.</div>
                  <div ng-show="data.body_message.$error.maxlength">Número maximo de caracteres 110.</div>
                </small>
              </div>
          </div>
        <!--FECHA DE ENVIO -->
        <div class="row">
          <div class="small-5 columns">
            <label class="right inline whitetxt" >Fecha de envio *</label>
          </div>
          <div class="small-7 columns" ng-init="gift_code.send_notifications_now=true">
            <div ng-hide="gift_code.send_notifications_now" >
              <br>
              <div class="" ng-class="{true: 'error', false: '' }[data.send_date.$invalid && submitted ]">
                <input type="text" id="send_date"  name="send_date" autocomplete="off" ng-model="gift_code.send_date" ng-required="!gift_code.send_notifications_now" datepicker date="{{!gift_code.send_notifications_now}}" ng-disabled="gift_code.send_notifications_now" ng-init="gift_code.send_date='';">
                <small ng-show="data.send_date.$invalid && submitted || data.send_date.$dirty && data.send_date.$invalid">
                  <div ng-show="data.send_date.$error.date || data.send_date.$error.henceforward">Fecha invalida.</div>
                  <div ng-show="data.send_date.$error.required">Campo obligatorio.</div>
                </small>
              </div>
              <div class="" ng-class="{true: 'error', false: '' }[!data.send_date.$error.required && data.send_time.$invalid ]" >
                <%= select_hour(nil,{ ampm: true, prompt: 'Hora' }, { :class=> 'no-custom', :'ng-model'=> 'gift_code.send_time', :id => 'send_time',  :name => 'send_time', :'ng-disabled' => 'gift_code.send_notifications_now', :hour=>'{{!gift_code.send_notifications_now}}', :send_date => '{{gift_code.send_date}}', :'ng-required'=>'!gift_code.send_notifications_now' } ) %>
                <small ng-show="!data.send_date.$error.required && data.send_time.$invalid">
                  <div ng-show="data.send_time.$error.henceforward">Hora invalida.</div>
                  <div ng-show="data.send_time.$error.required">Campo obligatorio.</div>
                </small>
              </div>
            </div>
            <div class="row">
              <div class="" ng-style="gift_code.send_notifications_now && { 'padding-top':'10px' } ">
                <p ng-hide="gift_code.send_notifications_now" ></p>
                <label><input type="checkbox" id="send_notifications_now" ng-model="gift_code.send_notifications_now" name="send_notifications_now" class="no-custom" ng-click="gift_code.send_date='1';gift_code.send_date='';data.send_date.$setViewValue('');data.send_date.$render();data.send_date.$dirty=false;   gift_code.send_time='1';gift_code.send_time='';data.send_time.$setViewValue('');data.send_time.$render();data.send_time.$dirty=false;"> Enviar ahora</label>
              </div>
            </div>
          </div>
        </div>
        <!--FIN FECHA DE ENVIO -->


          <div class="row" ng-show="gift_cards">
            <br>
            <div class="small-5 columns">
              <label for="gift_code_gift_card_id" class="right inline">Valor *</label>
            </div>
            <div class="small-7 columns">
              <div class="row">
                <div class="small-12 columns" ng-class="{true: 'error', false: '' }[ data.gift_card_id.$invalid && submitted || data.gift_card_id.$invalid && select_gift_card_show ]">
                  <select name="gift_card_id" id="gift_card_id" class="no-custom" ng-model="gift_code.gift_card_id" ng-change="calculate_cost(gift_code.gift_card_id)" required>
                    <option></option>
                    <option ng-repeat="gift_card in gift_cards" ng-value="gift_card.id" ng-bind="gift_card.campaign.currency.short_name + ' ' + gift_card.cost_current"></option>
                  </select>
                  <small ng-show="data.gift_card_id.$invalid && submitted || data.gift_card_id.$invalid && select_gift_card_show">
                    <div ng-show="data.gift_card_id.$error.required">Campo obligatorio.</div>
                  </small>
                </div>
              </div>
            </div>
          </div>

          <div class="large-12 columns" ng-hide="gift_cards">
            <label for="search_brand"  class="right"><span class="info"></span><i>Por favor selecione un marca.</i><br><br><br></label>
          </div>

          <div class="row">
            <div class="small-5 columns"></div>
            <div class="small-7 columns">
              <div class="row">
                <div class="small-5 columns">
                  Bono
                </div>
                <div class="small-7 columns">
                  <label class="right " ng-bind="gift_code.cost_current"></label>
                </div>
              </div>
              <div class="row">
                <div class="small-5 columns">
                  Servicio
                </div>
                <div class="small-7 columns">
                  <label class="right" ng-bind="cost.admin.currency.short_name + ' ' + cost.admin.value"></label>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="small-5 columns">
                  Total
                </div>
                <div class="small-7 columns">
                  <label class="right size-24" ng-bind="gift_code.total_current" ></label>
                </div>
              </div>
            </div>
          </div>

          <div class="goto-buttons right">
            <button type="submit" class="button pre continue" ng-disabled="preload_form" ng-if="!preload_form">Continuar</button>
            <button type="button" class="button gray pre continue" ng-disabled="preload_form" ng-if="preload_form">Enviando...</button>
          </div>

    </div>
  </form>
  <div ng-show="preload_form" class="preloader" >
  </div>
</div>
