<div class="off" ng-controller="GiftOffController" <%= @brand ? "ng-init=load_brand(#{@brand.id});" : "ng-init=load_brands();" %>>
  <div class="row">
    <div class="large-12 columns" ng-show="data_bono">
        <div class="brands shopping"  >
          <div class="shop" >
            <div class="row">
              <div class="large-12 columns">
                <%# BUSCARDOR DE AMIGOS %>
                <%= render 'brands' unless @brand %>
                <%# FIN BUSCARDOR DE AMIGOS  %>
                <%# FORM  %>
                <%= render 'form' %>
                <%# FORM %>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="large-12 columns shop" ng-if="!data_bono" ng-include="payment_url" >
    </div>
  </div>
  <%= render 'confirmation' %>
</div>