<div id="settings" ng-controller = "SettingsCtrl" >
<%# render 'personal-banner' %>
<div class="row" >
  <br><br><br>
  <div id="success-box" data-alert="" class="alert-box greentxt radius show-hide text-center " ng-show="success" ng-init="<%= 'success=true;' if(flash[:notice]) %>" ng-bind="message_text">
    Se actualizó perfil
  </div>
  <% if flash[:alert] %>
      <div id="alert-box" data-alert="" class="alert-box alert radius"  >
        <%= flash[:alert] %>
      </div>
  <% end%>
  <div id="alert-box" data-alert="" class="alert-box alert radius show-hide" ng-show="alert" >
    No se logro guardar perfil, por favor intentelo de nuevo
  </div>
  <div  class="large-12 columns" id="form_for">
    <%= form_for( @user, :url => '', :method => :put,:html => { :'ng-submit'=>'save(user,perfil)', :multipart => true, :novalidate => 'novalidate',:class => 'custom', :name=>'perfil', :'ng-init'=>"url='#{settings_path}'" }) do |f| %>

    <div class="row">
      <div  class="large-7 columns large-centered" >
        <div class="row">
          <div class="large-12 columns">
            <div class="">
              <h1 class="subheader text-center padding-top-20">
                  <% if current_user.show_introduction %>
                      Actualiza tus datos
                  <% else  %>
                      Información personal
                  <% end %>
              </h1>
            </div>
          </div>
        </div>
        <hr>
        <br>
      
        <div  class="row">
          <div class="small-5 columns" ng-class="{true: 'error', false: '' }[ perfil.email.$invalid && submitted || perfil.email.$dirty && perfil.email.$invalid]" >
            <%= f.label :email,  'e-Mail <span class="greentxt">*</span>'.html_safe, :class => 'right inline' %>
          </div>
          <div class="small-7 columns" ng-class="{true: 'error', false: '' }[ perfil.email.$invalid && submitted || perfil.email.$dirty && perfil.email.$invalid]" >
            <%= f.text_field :email, :maxlength=> 50 , :name =>'email', :required => 'required', :'ng-model'=>'user.email', :'ng-init'=>"user.email='#{@user.email}'" %>
            <small ng-show="perfil.email.$dirty && perfil.email.$invalid || submitted ">
              <div ng-show="perfil.email.$error.required">Campo obligatorio.</div>
            </small>
          </div>
        </div>
        <div class="row">
            <div class="small-5 columns" ng-class="{true: 'error', false: '' }[ perfil.first_name.$invalid && submitted || perfil.first_name.$dirty && perfil.first_name.$invalid]" ><%= f.label :first_name, 'Nombres <span class="greentxt">*</span>'.html_safe, :class => 'right inline' %></div>
            <div class="small-7 columns" ng-class="{true: 'error', false: '' }[ perfil.first_name.$invalid && submitted || perfil.first_name.$dirty && perfil.first_name.$invalid]" >
              <%= f.text_field :first_name, :maxlength=> 50, :name =>'first_name', :required => 'required', :'ng-model'=>'user.first_name', :'ng-init'=>"user.first_name='#{@user.first_name}'"%>
              <small ng-show="perfil.first_name.$dirty && perfil.first_name.$invalid || submitted ">
                <div ng-show="perfil.first_name.$error.required">Campo obligatorio.</div>
              </small>
            </div>
        </div>

        <div class="row">
          <div class="small-5 columns" ng-class="{true: 'error', false: '' }[ perfil.last_name.$invalid && submitted || perfil.last_name.$dirty && perfil.last_name.$invalid]"><%= f.label :last_name, 'Apellidos <span class="greentxt">*</span>'.html_safe, :class => 'right inline'  %></div>
          <div class="small-7 columns" ng-class="{true: 'error', false: '' }[ perfil.last_name.$invalid && submitted || perfil.last_name.$dirty && perfil.last_name.$invalid]" >
            <%= f.text_field :last_name, :maxlength=> 50, :name =>'last_name', :required => 'required', :'ng-model'=>'user.last_name', :'ng-init'=>"user.last_name='#{@user.last_name}'" %>
            <small ng-show="perfil.last_name.$dirty && perfil.last_name.$invalid || submitted ">
              <div ng-show="perfil.last_name.$error.required">Campo obligatorio.</div>
            </small>
          </div>
        </div>

        <div class="row">
          <div class="small-5 columns" ng-class="{true: 'error', false: '' }[ perfil.sex_id.$invalid && submitted || perfil.sex_id.$dirty && perfil.sex_id.$invalid]" ><%= f.label :sex_id,  'Sexo <span class="greentxt">*</span>'.html_safe, :class => 'right inline' %></div>
          <div class="small-7 columns" ng-class="{true: 'error', false: '' }[ perfil.sex_id.$invalid && submitted || perfil.sex_id.$dirty && perfil.sex_id.$invalid]" >
            <%= f.collection_select :sex_id, Sex.all, :id, :name, {:prompt => true}, :name =>'sex_id', :required => 'required', :'ng-model'=>'user.sex_id', :'ng-init'=>"user.sex_id='#{@user.sex_id}'" %>
            <small ng-show="perfil.sex_id.$dirty && perfil.sex_id.$invalid || submitted ">
              <div ng-show="perfil.sex_id.$error.required">Campo obligatorio.</div>
            </small>
          </div>
        </div>
        <div class="row">
          <div class="small-5 columns" ng-class="{true: 'error', false: '' }[ perfil.mobile_phone.$invalid && submitted || perfil.mobile_phone.$dirty && perfil.mobile_phone.$invalid]" ><%= f.label :mobile_phone, 'Celular', :class=>'right inline' %></div>
          <div class="small-7 columns" ng-class="{true: 'error', false: '' }[ perfil.mobile_phone.$invalid && submitted || perfil.mobile_phone.$dirty && perfil.mobile_phone.$invalid]" >
            <%= f.text_field :mobile_phone, :maxlength=> 20, :name =>'mobile_phone', :'ng-model'=>'user.mobile_phone', :'ng-init'=>"user.mobile_phone='#{@user.mobile_phone}'" %>
            <p class="help-inline">
              <a href="#" rel="popover" tabindex="-1" title="Teléfono Móvil" data-content="Tu teléfono móvil sólo será utilizado para agilizarte el proceso de pago.">
                <i class="icon-info-sign"></i>
              </a>
            </p>
            <small ng-show="perfil.mobile_phone.$dirty && perfil.mobile_phone.$invalid || submitted ">
              <div ng-show="perfil.mobile_phone.$error.required">Campo obligatorio.</div>
            </small>
          </div>
        </div>

        <div class="row" >
          <div class="small-5 columns" ng-class="{true: 'error', false: '' }[ perfil.fbk_location_name.$invalid && submitted || perfil.fbk_location_name.$dirty && perfil.fbk_location_name.$invalid]" ><%= f.label :city_id, 'Ciudad <span class="greentxt">*</span>'.html_safe, :class => 'right inline' %>
          </div>
          <div class="small-7 columns" ng-class="{true: 'error', false: '' }[ perfil.fbk_location_name.$invalid && submitted || perfil.fbk_location_name.$dirty && perfil.fbk_location_name.$invalid]" >
            <%= f.text_field :fbk_location_name, :maxlength=> 50, :name =>'fbk_location_name', :required => 'required', :'ng-model'=>'user.fbk_location_name', :'ng-init'=>"user.fbk_location_name='#{@user.fbk_location_name}'", :'autocomplete-city'=>'', :placeholder=> 'Escriba tu ciudad aqui' %>
            <small ng-show="perfil.fbk_location_name.$dirty && perfil.fbk_location_name.$invalid || submitted ">
              <div ng-show="perfil.fbk_location_name.$error.required">Campo obligatorio.</div>
            </small>
          </div>
        </div>

        <div class="row">
          <div class="small-5 columns" ng-class="{true: 'error', false: '' }[ perfil.time_zone.$invalid && submitted || perfil.time_zone.$dirty && perfil.time_zone.$invalid]" ><%= f.label :time_zone, 'Zona horaria <span class="greentxt">*</span>'.html_safe, :class => 'right inline' %></div>
          <div class="small-7 columns" ng-class="{true: 'error', false: '' }[ perfil.time_zone.$invalid && submitted || perfil.time_zone.$dirty && perfil.time_zone.$invalid]" >
            <%= f.time_zone_select :time_zone, nil, :default => "Bogota", :name =>'time_zone', :required => 'required', :'ng-model'=>'user.time_zone', :'ng-init'=>"user.time_zone='#{@user.time_zone}'" %>
            <small ng-show="perfil.time_zone.$dirty && perfil.time_zone.$invalid || submitted ">
              <div ng-show="perfil.time_zone.$error.required">Campo obligatorio.</div>
            </small>
          </div>
        </div>

        <div class="row" ng-init="user.birthday='<%= @user.birthday %>'" >
          <div class="small-5 columns" ng-class="{true: 'error', false: '' }[ perfil.birthday.$invalid && submitted || perfil.birthday.$dirty && perfil.birthday.$invalid]" ><%= f.label :mobile_phone, 'Fecha de cumpleaños <span class="greentxt">*</span>'.html_safe, :class=>'right inline' %></div>
          <div class="small-7 columns" ng-class="{true: 'error', false: '' }[ perfil.birthday.$invalid && submitted || perfil.birthday.$dirty && perfil.birthday.$invalid]" >
            <%# f.text_field :birthday, :maxlength=> 20, :name =>'birthday', :'ng-model'=>'user.birthday', :'ng-init'=>"user.birthday='#{@user.birthday}'", type:'date', placeholder:"yyyy-MM-dd", :required => 'required', :datepicker2 => '' %>
            <input type="text" id="perfil_birthday" name="birthday" autocomplete="off" ng-model="user.birthday"  datepicker2 required  placeholder="yyyy-MM-dd">
            <p class="help-inline">
              <a href="#" rel="popover" tabindex="-1" title="Teléfono Móvil" data-content="Tu teléfono móvil sólo será utilizado para agilizarte el proceso de pago.">
                <i class="icon-info-sign"></i>
              </a>
            </p>
            <small ng-show="perfil.birthday.$dirty && perfil.birthday.$invalid || submitted ">
              <div ng-show="perfil.birthday.$error.required">Campo obligatorio.</div>
            </small>
          </div>
        </div>

        <hr />
        <div class="row" >
          <div class="profile-pic">
            <a><%= image_tag current_user.image_url(:thumb140) %></a>
          </div>
          <br>
          <h4 class="text-center subheader centered padding-20" ng-init="user.image=''" >¿Deseas cambiar tu foto de perfil?</h4>
          <%= f.file_field :image, :class => 'center-image-input', :name => 'image', :'ng-model' => 'user.image', :'ng-file-select'=>'onFileSelect($files)', :'wiz-val-file' => '', :'wiz-val-file-types' => "[ 'image/jpeg', 'image/jpg' ]", :'wiz-val-file-size' => '1000000', 'wiz-val-file-number' => '1', :'accept' => 'image/jpeg, image/jpg' %>
        </div>
        <div ng-class="{true: 'error', false: '' }[ perfil.image.$invalid ]" >
          <small class="show-hide text-center" ng-show="perfil.image.$invalid">
            <small ng-show="perfil.image.$error.wizValFileTypes" >Tipo de archivo permitido .jpg, .jpeg.</small>
            <small ng-show="perfil.image.$error.wizValFileSize" >Tamaño maximo permitido 1 MB.</small>
            <small ng-show="perfil.image.$error.wizValFileNumber" >Numero de archivos permitidos 1.</small>
          </small>
        </div>
        <hr />

        
        <% if current_user.show_introduction %>
        <div class="row centered padding-50">
          <%= f.submit 'Continuar', :class=>"button pre radius greenbg2" %>
        </div>
        <% else  %>
        <div class="row centered padding-50">
          <a ng-click="cancel()" class="button gray pre radius">Cancelar</a>
          <%= f.submit 'Guardar', :class=>"button pre radius greenbg2" %>
        </div>
        <% end %>
      </div>



    <% end %>
    <div ng-show="preload" style="" class="preloader show-hide"></div>
</div>

  </div>
</div>
</div>


