<%= render 'personal-banner' %>
<div class="row padding-top-20">
  <div class="large-12 columns">
    <div class="centered favorite-mark">
      <%# Has marcado %>
      <h3 class="normal inline">¡Súper!, ya tienes <%= pluralize(@count_favorites, 'marca favorita', 'marcas favoritas') %></h3><%= link_to( 'Editar', favorites_path, :class=>'button success times radius pre' ) if !current_user.show_introduction  %><!--<a href="#" class="button success times radius pre">Editar</a>-->
      <p class="text-center big">
        Todos tus amigos en Facebook lo saben y muy pronto tus marcas también.Preparate a recibir sorpresas
        <%# Recuerda que desde ahora, todos tus amigos y familiares conocerán tus marcas favoritas. Comparte tú experiencia para que tú también, conozcas las de ellos y puedas sorprenderlos. %>
      </p>
    </div>
  </div>
</div>
<div class="share-block">
  <div class="centered padding-top-20">
    <h6 class="text-center times">Comparte esta experiencia</h6>
    <div class="large-4 large-centered columns">
      <div class="row collapse">
        <div class="small-9 columns">
          <input type="text" value="<%= root_url %>?amigo=<%= current_user.fbk_user_id %>" readonly>
        </div>
        <div class="small-3 columns">
          <%#  %>
          <button id="copy-button" class="button prefix" data-clipboard-text="<%= root_url %>?amigo=<%= current_user.fbk_user_id %>">Copiar</button>
        </div>
      </div>
    </div>
    <ul class="social-strip">
      <li><a href="https://twitter.com/share?url=<%= root_url %>?amigo=<%= current_user.fbk_user_id %>&text=Te invito a conocer @GiftCode: La manera más fácil y rápida para enviar bonos de regalo&via=giftcode&related=<%= GlobalConstants::TWITTER_RELATED_ACCOUNTS %>&lang=es" class="t" target="_blank" >twitter</a></li>
      <li><a href="http://www.facebook.com/share.php?u=<%= root_url %>?amigo=<%= current_user.fbk_user_id %>" target="_blank" class="f">facebook</a></li>
      <li><a href="https://plusone.google.com/_/+1/confirm?url=<%= root_url %>?amigo=<%= current_user.fbk_user_id %>" target="_blank" class="gp">google plus</a></li>
    </ul>
  </div>
</div>