<div class="personal-banner">
  <div class="row">
    <div class="large-9 columns large-centered padding-top-20">
    </div>
  </div>
</div>
<div class="row text-justify">
  <div  class="large-10 columns large-centered" >
    <h3 class="text-center">TÉRMINOS Y CONDICIONES CONCURSO REFERIDOS</h3>
    <br/>
    <br/>
    <p class="subheader" >¡Gánate uno de los 100 bonos de regalo de $20.000 que sortearemos! Invita a tus amigos en Facebook y consigue que mínimo 5 se registren y seleccionen sus marcas favoritas. Participa desde el 4 de Diciembre de 2013 hasta el 28 de Febrero de 2014.<p>
    <p class="subheader"><strong>*</strong> Este concurso aplica solamente para personas residentes en Colombia.</p>
    <br/>
    <br/>
    <p class="subheader">Este reglamento establece las condiciones bajo las cuales se regirá el concurso llevado a cabo por Gifcode:</p>
    <p class="subheader">Mediante el presente documento denominado “REGLAMENTO” se estipulan las condiciones y restricciones de la actividad que adelanta la plataforma virtual <%= link_to 'giftcode', root_url %> a los usuarios de sus redes sociales, y que quieran participar, de esta forma, dentro de la actividad que se desarrollará principalmente a través del sitio web oficial www.gifcode.co y Fan Page en Facebook. (www.facebook.com/giftcode.co)</p>

    <h2 class="subheader padding-top-20 text-center" >EL CONCURSO</h2>
    <p class="subheader" ><%= link_to 'Giftcode', root_url %> es el organizador y responsable de un sorteo llevado a cabo mediante la página oficial, el cual consiste en la interacción de participantes (en adelante los Participantes) que deberán realizar lo siguiente:</p>
    <br/>
    <p class="subheader"><strong>1.</strong> Los participantes deberán entrar a <%= link_to 'www.giftcode.co', root_url %> y registrarse con su cuenta de Facebook.</p>
    <p class="subheader"><strong>2.</strong> Seleccionar sus marcas favoritas.</p>
    <p class="subheader"><strong>3.</strong> Invitar a sus amigos en Facebook y conseguir que al menos 5 realicen el mismo proceso de registro y selección de marcas.</p>
    <p class="subheader"><strong>4.</strong> Las personas que realicen esos 3 pasos entre el 04 de Diciembre de 2013 y el 28 de Febrero de 2014, participarán en la rifa de uno de los 100 <%= link_to 'giftcodes', root_url %> (Bonos de regalo) por valor de $20.000 para redimirlo con las marcas aliadas a <%= link_to 'giftcode', root_url %> y disponibles al momento de hacer efectivo el bono a partir del 15 de Marzo de 2014.</p>
    <p class="subheader"><strong>5.</strong> El 8 de Marzo de 2014 se le comunicará a los ganadores el resultado del concurso, junto con los documentos y requisitos que deben acreditar.</p>
    <p class="subheader"><strong>6.</strong> Los <%= link_to 'giftcodes', root_url %> se entregarán a cada uno de los ganadores de forma virtual el 15 de Marzo de 2014.</p>

    <h3 class="subheader padding-top-20 text-center" >PARTICIPACIÓN EN EL CONCURSO</h3>
    <p class="subheader">Podrán participar en el Concurso las personas que cumplan con los siguientes requisitos:</p>
    <br/>
    <p class="subheader"><strong>1.</strong> Cada participante deberá tener una cuenta activa en facebook e iniciar sesión en la misma, registraste en <%= link_to 'www.giftcode.co', root_url %> y seleccionar sus marcas favoritas.</p>
    <p class="subheader"><strong>2.</strong> Invitar a sus amigos y conseguir que mínimo 5 realicen el mismo proceso.</p>
    <p class="subheader"><strong>3.</strong> Los participantes deberán ser mayores de 16 años.</p>
    <p class="subheader"><strong>4.</strong> Se sortearán 100 giftcodes entre todas las personas que realicen esos 3 pasos entre el 04 de Diciembre de 2013 al 28 de Febrero de 2014, ganarán un  Giftcode (Bono de regalo) por valor de $20.000 para redimirlo con las marcas aliadas con Giftcode y disponibles al momento de hacer efectivo el bono a partir del 15 de Marzo de 2014.</p>
    <p class="subheader"><strong>5.</strong> Los Participantes deberán leer, aceptar y sujetarse a los presentes términos y condiciones del concurso.</p>
    <p class="subheader"><strong>6.</strong> Los usuarios que participen en el concurso, aceptan sin ninguna modificación ni restricción, todas las condiciones, términos y avisos contenidos en este reglamento para efectos del concurso.</p>
    <p class="subheader"><strong>7.</strong> El administrador del Fan Page tiene la libertad para eliminar cualquier mensaje, palabras, fotos, videos y/o audios que considere atentan contra el buen uso de la marca o son ofensivos porque contienen sexo, violencia explícita, consumo de drogas, cigarrillo y/o personalidades públicas o imágenes alusivas de la competencia o alguna de las marcas aliadas. El administrador será el responsable de filtrar este material que considera no apropiado para ser publicado en el Fan Page y el Participante quedará inmediatamente descalificado de la Actividad.</p>
    <p class="subheader"><strong>8.</strong> <%= link_to 'Giftcode', root_url %> se reserva todos los derechos para modificar el desarrollo y fechas de la actividad.</p>

    <h3 class="subheader padding-top-20 text-center" >NOTIFICACIÓN Y ENTREGA DE LOS PREMIOS</h3>
    <p class="subheader"> <strong>1.</strong> Se le notificará a cada uno de los ganadores de los <%= link_to 'giftcodes', root_url %> vía e-mail, se hará una publicación o post en el muro del Fan Page anunciando la lista de los 100 ganadores de los <%= link_to 'giftcodes', root_url %> tras haberse terminado la actividad.</p>
    <p class="subheader"> <strong>2.</strong> Se informará a los ganadores por medio de un mensaje privado, solicitando el envío de sus datos de contacto (Nombre completo, correo electrónico, documento de identidad y teléfono) al correo electrónico info@giftcode.co, una vez se hayan confirmado los datos se entregará cada <%= link_to 'giftcode', root_url %> (bono de regalo) virtualmente, enviándolo al correo de cada uno de los ganadores.</p>
    <p class="subheader"> <strong>3.</strong> Los ganadores recibirán su <%= link_to 'giftcode', root_url %> el día 15 de Marzo de 2014.</p>
    <p class="subheader"> <strong>4.</strong> Los ganadores podrán redimir su bono de regalo con las marcas aliadas con <%= link_to 'giftcode', root_url %> y disponibles al momento de hacer efectivo el bono a partir del 15 de Marzo de 2014.</p>
    <p class="subheader"> <strong>5.</strong> Los ganadores tendrán 6 meses para redimir sus bonos de regalo, es decir desde Marzo 15 hasta Septiembre 14 de 2014.</p>
    <p class="subheader"> <strong>6.</strong> El giftcode podrá ser utilizado en alguna de las tiendas seleccionadas por giftcode y servirá cómo parte de pago total ó parcial de acuerdo al valor de los productos en la tienda seleccionada.</p>
    <p class="subheader"> <strong>6.</strong> Los bonos de regalo deben redimirse en el tiempo estipulado, de lo contrario no podrán ser canjeados de ninguna manera posteriormente.</p>

    <h3 class="subheader padding-top-20 text-center" >CONDICIONES DEL SORTEO</h3>

    <p class="subheader"> <strong>1.</strong> Si en cualquier momento, sea antes, durante o con posterioridad al desarrollo del concurso, se descubre que algún participante incumple con este reglamento, o se sospecha que realizó fraude para ser Ganador, <%= link_to 'giftcode', root_url %> podrá descalificarlo y no entregarle el premio.</p>
    <p class="subheader"> <strong>2.</strong> No se realizarán cambios de los Premios por dinero, valores o cualquier otro producto. Si el Ganador no acepta el Premio o sus condiciones de entrega, se entenderá que el Ganador renuncia al mismo y éste último no tendrá derecho a reclamo o indemnización alguna.</p>
    <p class="subheader"> <strong>3.</strong> El Ganador deberá suscribir un acta electrónica de entrega en el que conste el recibo del premio, aceptando las limitaciones y condiciones que el premio represente; el ganador liberará a <%= link_to 'giftcode', root_url %> de toda responsabilidad por cualquier daño que pueda causarse con la participación en el concurso, la entrega o redención de los Premios.</p>
    <p class="subheader"> <strong>4.</strong> El derecho del premio no es transferible ni negociable. El premio será entregado únicamente al ganador.</p>
    <p class="subheader"> <strong>5.</strong> Los Participantes aceptan expresamente que la información que suministren a <%= link_to 'giftcode', root_url %> en virtud del concurso podrá ser utilizada por <%= link_to 'giftcode', root_url %> para efectos de enviar información de interés comercial bien sea en medio físico o digital.</p>
    <p class="subheader"> <strong>6.</strong> El ganador acepta y autoriza que su nombre e imágenes aparezcan en los programas, publicaciones y demás medios publicitarios de <%= link_to 'giftcode', root_url %> y en general en todo material de divulgación con fines promocionales que <%= link_to 'giftcode', root_url %> desee hacer durante el concurso o una vez finalizado el mismo, sin que ello implique la obligación de remunerar o compensar al ganador por dichos usos. Así mismo, el Ganador renuncia a cualquier reclamo por el uso de su imagen.</p>
    <p class="subheader"> <strong>7.</strong> Los Participantes aceptan conocer que este concurso no está patrocinado, avalado, administrado ni asociado en modo alguno a Facebook.</p>
    <p class="subheader"> <strong>8.</strong> En caso de resultar necesario por razones no imputables, <%= link_to 'giftcode', root_url %> se reserva el derecho de ampliar y/o aclarar el presente reglamento y/o cualquiera de los procedimientos allí previstos con anterioridad a la fecha de escogencia del ganador indicada en el presente reglamento.</p>
    <p class="subheader"> <strong>9.</strong> Los participantes y sus amigos registrados deben ser personas naturales residentes en Colombia y ser fans del Fan Page “<%= link_to 'www.facebook.com/giftcode.co', 'http://www.facebook.com/giftcode.co', :target => "_blank" %>” en Facebook.</p>
    <p class="subheader"> <strong>10.</strong> Para el caso de menores de edad, los participantes declaran que el titular de su patria potestad acepta su participación en el sorteo.</p>
    <br/>
    <br/>
    <p class="subheader" ><strong>Mayor información:</strong> Si los participantes desean obtener mayor información sobre la actividad, podrán requerir información enviando un correo para tal fin a la cuenta: info@giftcode.co<p>
    <p class="subheader" ><strong>Idioma y entendimiento:</strong> Este documento es de total comprensión, entera aceptación por parte de los participantes y está escrito y redactado en idioma español y se ha sido a conocer a todos y cada uno de los participantes.<p>
    <br/>
    <div class="large-10 large-centered centered">
        <p class="subheader centered" ><strong>Para todos los efectos legales, GIFTCODE certifica que toda la información anotada en el presente reglamento es verás.</strong><p>
    </div>
  </div>
</div>