<%= render 'banner_concurso_2014' %>
<div class="row padding-50">
  <div class="large-12 columns">
    <ul class="large-block-grid-3">
      <li>
        <img src="<%= asset_path('registrateV4.png') %>" class="centered" alt="" width="251" height="224"/>
        <h5 class="text-center">1. <%= I18n.t('views.pages.concurso2014.title_1') %></h5>
        <p class="text-center"><%= I18n.t('views.pages.concurso2014.message_1') %></p>
      </li>
      <li>
        <img src="<%= asset_path('seleccionV1.png') %>" class="centered" alt="" width="251" height="224"/>
        <h5 class="text-center">2. <%= I18n.t('views.pages.concurso2014.title_2') %></h5>
        <p class="text-center"><%= I18n.t('views.pages.concurso2014.message_2') %></p>
      </li>
      <li>
        <img src="<%= asset_path('riega-la-bola.png') %>" class="centered" alt="" width="251" height="224"/>
        <h5 class="text-center">3. <%= I18n.t('views.pages.concurso2014.title_3') %></h5>
        <p class="text-center"><%= I18n.t('views.pages.concurso2014.message_3') %></p>
      </li>
    </ul>
  </div>
</div>

<div class="greenbanner">
  <div class="row">
    <div class="large-6 columns">
      <a class="button success radius normal right" href="<%= what_is_pages_path %>"><span class="gifty"></span><span class="border"><%= I18n.t('views.pages.concurso2014.learn_more') %></span></a>
    </div>
	<div class="large-6 columns">
        <%= form_for(:user, :url => user_omniauth_authorize_path(:facebook), :html => { :class => "fixed-form"}) do |f| %>
            <%= f.button "<span class='facebook'></span><span class='border'>#{I18n.t('views.pages.concurso2014.sign_up')}</span>".html_safe, { name: "submit", id: "facebook", :class => 'button success radius normal left'} %>
        <% end %>
	</div>
  </div>
</div>


<div class="row padding-50">
  <div class="large-6 columns">
    <%= image_tag( "marca-interesada.png", :alt => "", :height =>"291", :width => "368") %>
  </div>
  <div class="large-6 columns">
    <br/>
    <br/>
    <br/>
    <br/>
    <h5><%= I18n.t('views.pages.concurso2014.item.title') %></h5>
    <p><%= I18n.t('views.pages.concurso2014.item.description') %></p>
    <br>
  </div>
</div>

<% if GlobalConstants::use_mix_panel? %>
<script type="text/javascript">
   <% if current_user.present? %>
   mixpanel.identify("<%= current_user.email %>");
   <% end %>
   mixpanel.track("Web - Visita al Concurso");
</script>
<% end %>