<div class="banner4">
  <div class="headline">
    <div class="row">
      <div class="large-10 columns large-centered">
        <h2 class="text-center no-margin">Más de 20.000 usuarios esperando recibir un giftcode de tu marca.</h2>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <div class="forbanner">
        <p class="description ">Somos un nuevo canal online para la comercialización, distribución y redención de bonos electrónicos de regalo.</p>
        <button ng-click="open_contact()" href="mailto:contacto@giftcode.co" class="button big success radius normal on-small"><span class='gifty'></span><span class='border'>Contáctanos hoy</span></button>
      </div>
    </div>
    <div class="large-6 columns"></div>
  </div>
</div>

<div class="respaldo">
	<div class="row">
		<div class="large-12 columns">
			<h5 class="subheader text-center">Con el respaldo de:</h5>
			<div class="text-center"><%= image_tag "respaldo_landing.jpg" %></div>
			<br />
		</div>
	</div>
</div>

<% if GlobalConstants::use_mix_panel? %>
    <script type="text/javascript">
        <% if current_user.present? %>
        mixpanel.identify("<%= current_user.email %>");
        <% end %>
        mixpanel.track("Web - Retailers", {"Retailers": "1"});
    </script>
<% end %>