<div class="banner4">
  <div class="headline">
    <div class="row">
      <div class="large-10 columns large-centered">
        <h2 class="text-center no-margin"><%= I18n.t('views.pages.retailers.banner_message') %></h2>
      </div>
      <!--<div class="large-9 columns large-centered">-->
        <!--<h4 class="subheader text-center no-margin">Únete al canal online de bonos electrónicos de regalo de mayor potencial en Colombia.</h4>-->
      <!--</div>-->
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <div class="forbanner">
        <p class="description "><%= I18n.t('views.pages.retailers.banner_message_2') %></p>
        <!--<p class="point padding-top-20"><span></span>Elimina la logística de los actuales bonos plásticos y disminuye costos.</p>-->
        <!--<p class="point"><span></span>Incrementa el tráfico de nuevos compradores en tus tiendas (Físicas y Online)</p>-->
        <!--<p class="point"><span></span>No require integración y ya esta listo para funcionar en tu sistema POS.</p>-->
        <button ng-click="open_contact()" href="mailto:contacto@giftcode.co" class="button big success radius normal on-small"><span class='gifty'></span><span class='border'>Contáctanos hoy</span></button>
      </div>
    </div>
    <div class="large-6 columns"></div>
  </div>
</div>

<div class="row padding-50">
  <div class="large-12 columns">
    <h3 class="text-center">Beneficios para tu negocio</h3>
    <br>
    <ul class="large-block-grid-3">
      <li>
        <img src="assets/sin_logistica.jpg" class="centered" alt="" width="195" height="195"/>
        <br>
        <h5 class="text-center"> <%= I18n.t('views.pages.retailers.title_1') %> </h5>
        <%# <p class="text-center">Regala fácil, rápido y seguro, conocemos las marcas favoritas de tus amigos y le apostamos a la preservación del planeta, no mas tarjetas plásticas que contaminan.</p>  %>
        <p class="text-center"><%= I18n.t('views.pages.retailers.message_1') %></p>
        <%# <a class="text-center block" href="">Ver más</a> %>
      </li>

      <li>
        <img src="assets/sin_integracion.jpg" class="centered" alt="" width="195" height="195"/>
        <br>
        <h5 class="text-center"><%= I18n.t('views.pages.retailers.title_2') %></h5>
        <%# <p class="text-center">El bono llegará al teléfono móvil ó tablet, de la persona que tú quieras, quien solo tendrá que presentarse en la tienda más cercana, escoger lo que quiera a su gusto y medida y pagar presentando su teléfono ó tablet.</p> %>
        <p class="text-center"><%= I18n.t('views.pages.retailers.message_2') %> ¿Estas listo para <a ng-click="open_contact()">iniciar</a>? </p>
      </li>
      <li>
        <img src="assets/trafico_online.jpg" class="centered" alt="" width="195" height="195"/>
        <br>
        <h5 class="text-center"><%= I18n.t('views.pages.retailers.title_3') %></h5>
        <%# <p class="text-center">Háblales a tus amigos sobre tus marcas favoritas en Giftcode, el próximo día especial recibirás lo que realmente quieres.</p> %>
        <p class="text-center"><%= I18n.t('views.pages.retailers.message_3') %></p>
      </li>
    </ul>
  </div>
</div>

<div class="respaldo">
  <div class="row">
    <div class="large-12 columns">
      <h5 class="subheader text-center">Con el respaldo de:</h5>
      <div class="text-center"><%= image_tag "respaldo_landing.jpg" %></div>
      <br />
    </div>
  </div>
</div>

<div class="row padding-50">
  <div class="large-12 columns">
    <h3 class="text-center">Más Beneficios</h3>
    <br>
    <ul class="large-block-grid-3">
      <li>
        <img src="assets/sin_equivocarse.png" class="centered" alt="" width="195" height="195"/>
        <br>
        <h5 class="text-center"> <%= I18n.t('views.pages.retailers.title_4') %> </h5>
        <p class="text-center"><%= I18n.t('views.pages.retailers.message_4') %></p>
        <%# <a class="text-center block" href="">Ver más</a> %>
      </li>

      <li>
        <img src="assets/recibe_bonos_regalo_gratis.png" class="centered" alt="" width="195" height="195"/>
        <br>
        <h5 class="text-center"><%= I18n.t('views.pages.retailers.title_5') %></h5>
        <p class="text-center"><%= I18n.t('views.pages.retailers.message_5') %></p>
      </li>
      <li>
        <img src="assets/ahorra_tiempo_dinero.png" class="centered" alt="" width="195" height="195"/>
        <br>
        <h5 class="text-center"><%= I18n.t('views.pages.retailers.title_6') %></h5>
        <p class="text-center"><%= I18n.t('views.pages.retailers.message_6') %></p>
      </li>
    </ul>
  </div>
</div>

<% if GlobalConstants::use_mix_panel? %>
    <script type="text/javascript">
        <% if current_user.present? %>
        mixpanel.identify("<%= current_user.email %>");
        <% end %>
        mixpanel.track("Web - Retailers", {"Retailers": "2"});
    </script>
<% end %>