<%= render 'team-banner' %>
<%= render 'equipo' %>
<br />
<div class="greenbanner">
  <div class="row">
    <% if user_signed_in? %>
        <div class="large-4 columns large-centered">
          <a class="button success radius" href="<%= friends_path %>"><span class="facebook"></span><span class="border">Invitar Amigos</span></a>
        </div>
    <% else %>
        <div class="large-5 columns large-centered">
          <%= form_for(:user, :url => user_omniauth_authorize_path(:facebook), :html => { :class => 'fixed-form-both'}) do |f| %>
              <%# f.button "<span class='gifty'></span><span class='border'>Regalar</span>".html_safe, { name: "submit", id: "facebook", :class => 'button success radius normal left'} %>
              <%= f.button "<span class='facebook'></span><span class='border'>Regístrate usando Facebook</span>".html_safe, { name: "submit", id: "facebook", :class => 'button success radius normal right'} %>
          <% end %>
          <!--<a class="button success radius" href="#"><span class="gifty"></span><span class="border">Aprende mas sobre GiftCode</span></a><a class="button success radius" href="#"><span class="gifty"></span><span class="border">Registrate Usando Facebook</span></a>-->
        </div>
    <% end %>
  </div>
</div>

