<%= render 'banner' %>

<%# carousel_brands = CarouselBrand.includes(:brand).order( 'position ASC' ) %>
<%# if carousel_brands.count > 0  %>
    <!--<div class="gray-brands">-->
      <!--<div class="row">-->
        <!--<div class="large-10 columns large-centered">-->
          <!--<h5 class="text-center subheader padding-top-20"><strong>Marcas</strong></h5>-->
          <!--<a href="" class="jcarousel-control-prev">anterior</a>-->
          <!--<div class="jcarousel" >-->
            <!--<ul>-->
              <!--<%# carousel_brands.each do |carousel_brand| %>-->
                  <!--<li ng-click="login()" ><img src="<%# carousel_brand.brand.image_email.url(:thumb195).to_s %>" width="95" height="95" alt="<%# carousel_brand.brand.name.to_s %>">-->
              <!--<%# end %>-->
            <!--</ul>-->
          <!--</div>-->
          <!--<a href="" class="jcarousel-control-next">siguiente</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
<%# end %>



<div class="row padding-50">
  <div class="large-12 columns">
    <h3 class="text-center">Beneficios</h3>
    <br>
    <ul class="large-block-grid-3">
      <li>
        <img src="assets/sin_equivocarse.png" class="centered" alt="" width="195" height="195"/>
        <br>
        <h5 class="text-center"> <%= I18n.t('views.pages.home.title_1') %> </h5>
        <%# <p class="text-center">Regala fácil, rápido y seguro, conocemos las marcas favoritas de tus amigos y le apostamos a la preservación del planeta, no mas tarjetas plásticas que contaminan.</p>  %>
        <p class="text-center"><%= I18n.t('views.pages.home.message_1') %></p>
        <%# <a class="text-center block" href="">Ver más</a> %>
      </li>

      <li>
        <img src="assets/recibe_bonos_regalo_gratis.png" class="centered" alt="" width="195" height="195"/>
        <br>
        <h5 class="text-center"><%= I18n.t('views.pages.home.title_2') %></h5>
        <%# <p class="text-center">El bono llegará al teléfono móvil ó tablet, de la persona que tú quieras, quien solo tendrá que presentarse en la tienda más cercana, escoger lo que quiera a su gusto y medida y pagar presentando su teléfono ó tablet.</p> %>
        <p class="text-center"><%= I18n.t('views.pages.home.message_2') %></p>
      </li>
      <li>
        <img src="assets/ahorra_tiempo_dinero.png" class="centered" alt="" width="195" height="195"/>
        <br>
        <h5 class="text-center"><%= I18n.t('views.pages.home.title_3') %></h5>
        <%# <p class="text-center">Háblales a tus amigos sobre tus marcas favoritas en Giftcode, el próximo día especial recibirás lo que realmente quieres.</p> %>
        <p class="text-center"><%= I18n.t('views.pages.home.message_3') %></p>
      </li>
    </ul>
  </div>
</div>



<%# render 'corporate_points' %>
<%= render 'graybanner' %>


<!--<div class="row padding-50">
  <h3 class="text-center">Ellos ya ganaron</h3>
  <br>
  <div class="large-12 columns">

    <ul class="large-block-grid-3">
      <li>
        <img src="assets/edwin_bernal.jpg" class="centered" alt="" />
        <br>
        <p class="text-center">“Entré a gíftcode me registré, compartí y listo” <br><br><br><br><strong>@deaquello</strong></p>
      </li>
      <li>
        <img src="assets/catherine_cruz.jpg" class="centered" alt="" />
        <br>
        <p class="text-center">“Compartí gíftcode con mis amigos y recibí el regalo que deseaba” <br><br><br><strong>@CatherineCruzB</strong></p>
      </li>
      <li>
        <img src="assets/angela_perez.jpg" class="centered" alt="" />
        <br>
        <p class="text-center">“Seleccioné mis marcas favoritas y lo compartí con mis amigos, luego me sorprendieron con un bono de regalo gratis” <br><br><strong>@Alela_Perez</strong></p>
      </li>
    </ul>
  </div>
</div>-->
<h3 class="text-center padding-top-20">Envia un Bono de Regalo</h3>
<h4 class="subheader text-center">Selecciona una marca, diligencia el formulario y envia el regalo ideal a tus seres queridos.</h4>
<div ng-include="'api/off/v1/pages.html'" ></div>

<% if GlobalConstants::use_mix_panel? %>
<script type="text/javascript">
   <% if current_user.present? %>
   mixpanel.identify("<%= current_user.email %>");
   <% end %>
   mixpanel.track("Web - Visita al Home", {"Version Home": "1"});
</script>
<% end %>