<%= render 'banner2' %>
<div class="row padding-50">
  <div class="large-12 columns">
    <ul class="large-block-grid-3">
      <li>
        <img src="assets/sorprendeV3.png" class="centered" alt="" width="251" height="224"/>
        <h5 class="text-center"> <%= I18n.t('views.pages.home2.title_1') %> </h5>
        <%# <p class="text-center">Regala fácil, rápido y seguro, conocemos las marcas favoritas de tus amigos y le apostamos a la preservación del planeta, no mas tarjetas plásticas que contaminan.</p>  %>
        <p class="text-center"><%= I18n.t('views.pages.home2.message_1') %></p>
        <%# <a class="text-center block" href="">Ver más</a> %>
      </li>
      <li>
        <img src="assets/facil-rapido-seguro.png" class="centered" alt="" width="251" height="224"/>
        <h5 class="text-center"><%= I18n.t('views.pages.home2.title_2') %></h5>
        <%# <p class="text-center">El bono llegará al teléfono móvil ó tablet, de la persona que tú quieras, quien solo tendrá que presentarse en la tienda más cercana, escoger lo que quiera a su gusto y medida y pagar presentando su teléfono ó tablet.</p> %>
        <p class="text-center"><%= I18n.t('views.pages.home2.message_2') %></p>
      </li>
      <li>
        <img src="assets/tiempo-y-dineroV1.png" class="centered" alt="" width="251" height="224"/>
        <h5 class="text-center"><%= I18n.t('views.pages.home2.title_3') %></h5>
        <%# <p class="text-center">Háblales a tus amigos sobre tus marcas favoritas en Giftcode, el próximo día especial recibirás lo que realmente quieres.</p> %>
        <p class="text-center"><%= I18n.t('views.pages.home2.message_3') %></p>
      </li>
    </ul>
  </div>
</div>

<div class="greenbanner">
  <div class="row">
    <div class="large-6 columns">
      <a class="button success radius normal right" href="<%= what_is_pages_path %>"><span class="gifty"></span><span class="border"><%= I18n.t('views.pages.home2.learn_more') %></span></a>
    </div>
	<div class="large-6 columns">
      <!--<a class="button success radius" href="#"><span class="gifty"></span><span class="border">Aprende mas sobre GiftCode</span></a><a class="button success radius" href="#"><span class="gifty"></span><span class="border">Registrate Usando Facebook</span></a>-->
        <%= form_for(:user, :url => user_omniauth_authorize_path(:facebook), :html => { :class => "fixed-form"}) do |f| %>
            <%= f.button "<span class='facebook'></span><span class='border'>#{ I18n.t('views.pages.home2.sign_up') }</span>".html_safe, { name: "submit", id: "facebook", :class => 'button success radius normal left'} %>
        <% end %>
	</div>
  </div>
</div>
<div class="row padding-50">
  <div class="large-6 columns">
    <%= image_tag( "marca-interesada.png", :alt => "", :height =>"291", :width => "368") %>
  </div>
  <div class="large-6 columns">
    <br/>
    <br/>
    <br/>
    <br/>
    <%# <h5>Clientes Corporativos</h5> %>
    <h5><%= I18n.t('views.pages.home2.give_happiness_title') %></h5>
    <%# <p>Aumenta ya el número de compradores en tus tiendas con Giftcode, el bono electrónico de regalo que podrá ser redimido en tu tienda, ahorrándote todos los gastos y procesos logísticos de los bonos de regalo plásticos que además son altamente contaminantes. Porque Giftcode, como tú, está comprometido con el futuro del planeta.</p>  %>
    <p><%= I18n.t('views.pages.home2.give_happiness_description') %></p>
    <br>
  </div>
</div>

<% if GlobalConstants::use_mix_panel? %>
<script type="text/javascript">
   <% if current_user.present? %>
   mixpanel.identify("<%= current_user.email %>");
   <% end %>
   mixpanel.track("Web - Visita al Home", {"Version Home": "2"});
</script>
<% end %>
