<%# render 'que-banner' %>
<%# render 'howit_works' %>

<div class="blackbanner">
	<div class="text-center anchor">
		<h4 class="times whitetxt">¿Cómo funciona?</h4>
	</div>
</div>
<div class="banner1">
	<h3 class="whitetxt text-center">Regístrate <!--y acumula puntos--></h3>
	<br />
	<div class="row">
		<div class="large-6 columns">
			<ul class="list-how text-right">
				<li>
					<p class="whitetxt">Conéctate utilizando
					tu cuenta de Facebook</p>
					<span class="thenumber yellowish">1</span>
				</li>
				<li>
					<p class="whitetxt">Selecciona tus
						marcas favoritas</p>
					<span class="thenumber yellowish">2</span>
				</li>
				<li>
					<p class="whitetxt">Invita a tus amigos</p>
					<span class="thenumber yellowish">3</span>
				</li>
			</ul>
		</div>
		<div class="large-6 columns"></div>
	</div>
</div>
<div class="banner2">
	<h3 class="text-center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Regala</h3>
	<br />
	<div class="row">
		<div class="large-6 columns">
			<br />
		</div>
		<div class="large-6 columns">
			<ul class="list-how text-left">
				<li>
					<span class="thenumber">1</span>
					<p>Selecciona un  amigo
						o su marca favorita</p>
				</li>
				<li>
					<span class="thenumber">2</span>
					<p>Define el monto
						y escribe algo especial</p>
				</li>
				<li>
					<span class="thenumber">3</span>
					<p>Verifica los datos
						y completa la transacción</p>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="banner3">
	<h3 class="text-center">Redime</h3>
	<br />
	<div class="row">
		<div class="large-6 columns">
			<ul class="list-how text-right">
				<li>
					<p>Recibe un Giftcode en tu email con toda la información</p>
					<span class="thenumber yellowish">1</span>
				</li>
				<li>
					<p>Dirigete a la tienda más cercana y elige lo que te gusta</p>
					<span class="thenumber yellowish">2</span>
				</li>
				<li>
					<p>Presenta tu Giftcode desde tu dispositivo móvil o impreso</p>
					<span class="thenumber yellowish">3</span>
				</li>
			</ul>
		</div>
		<div class="large-6 columns"></div>
	</div>
</div>