<div class="headline">
	<div class="row">
		<div class="large-10 columns large-centered">
			<h2 class="subheader whitetxt text-center no-margin">Más de 20.000 usuarios esperando recibir un
			giftcode de tu marca.</h2>
			<h4 class="subheader whitetxt text-center no-margin">Únete al canal online de bonos electrónicos de regalo de mayor potencial en Colombia.</h4>
		</div>
	</div>
</div>
<%= render 'banner' %>

<div class="respaldo">
	<div class="row">
		<div class="large-12 columns">
			<h5 class="subheader text-center">Con el respaldo de:</h5>
			<div class="text-center"><%= image_tag "respaldo_landing.jpg" %></div>
			<br />
		</div>
	</div>
</div>