  <div class="large-6 columns landing_column uno">
    <div class="row">
      <div class="row">
          <%= link_to image_tag( "/assets/logo2.png", :alt => "logo", :width => "245", :class => "logo" ), root_path %>
      </div>
      <div class="row">
        <h5 class="small-7 columns normal text right"><%= I18n.t('views.pages.home.banner_message_landing2') %></h5>
      </div>
    </div>
  </div>
  <div class="large-6 columns landing_column dos">
    <div class="row">
      <div class="large-12 columns large-centered padding-top-20_ ">
        <br/>
        <h2 class="subheader centered">Regístrate hoy y gana tus primeros <b>100 puntos</b> para redimir por bonos <b>gratis</b>.</h2>
        <% unless user_signed_in? %>
            <button ng-click="login()" class="button big greenbg2 radius normal on-small centered" id="facebook" name="submit" type="submit"><span class="gifty"></span><span class="border">Iniciar ahora</span></button>
        <% end %>
        <br/>

      </div>
      <% carousel_brands = CarouselBrand.includes(:brand).order( 'position ASC' ) %>
      <% if carousel_brands.count > 0  %>

        <div class="large-12 columns padding-top-100 carousel-position">
          <h5 class="text-center subheader padding-top-20"><strong>Marcas</strong></h5>
          <a href="" class="jcarousel-control-prev">anterior</a>
          <div class="jcarousel" >
            <ul>
              <% carousel_brands.each do |carousel_brand| %>
                  <li ng-click="login()" ><img src="<%= carousel_brand.brand.image_email.url(:thumb195).to_s %>" width="95" height="95" alt="<%= carousel_brand.brand.name.to_s %>">
              <% end %>
            </ul>
          </div>
          <a href="" class="jcarousel-control-next">siguiente</a>
          <p class="right subheader min-text"><small>Las marcas aquí mostradas no son patrocinadores ni tienen relación con Giftcode</small></p>
        </div>
      <% end %>
    </div>
  </div>

  <% if GlobalConstants::use_mix_panel? %>
      <script type="text/javascript">
          <% if current_user.present? %>
          mixpanel.identify("<%= current_user.email %>");
          <% end %>
          mixpanel.track("Web - Visita al Landing3", {"Version Landing3": "1"});
      </script>
  <% end %>