<%= render 'banner_landing2' %>

<% carousel_brands = CarouselBrand.includes(:brand).order( 'position ASC' ) %>
<% if carousel_brands.count > 0  %>
      <div class="row">
        <div class="large-10 columns large-centered">
          <h5 class="text-center subheader padding-top-20"><strong>Marcas</strong></h5>
            <a href="" class="jcarousel-control-prev">anterior</a>
              <div class="jcarousel" >
                <ul>
                  <% carousel_brands.each do |carousel_brand| %>
                      <li ng-click="login()" ><img src="<%= carousel_brand.brand.image_email.url(:thumb195).to_s %>" width="95" height="95" alt="<%= carousel_brand.brand.name.to_s %>">
                  <% end %>
                </ul>
              </div>
              <a href="" class="jcarousel-control-next">siguiente</a>
          <p class="right subheader min-text"><small>Las marcas aquí mostradas no son patrocinadores ni tienen relación con Giftcode</small></p>
        </div>
      </div>
<% end %>



<% if GlobalConstants::use_mix_panel? %>
<script type="text/javascript">
   <% if current_user.present? %>
   mixpanel.identify("<%= current_user.email %>");
   <% end %>
   mixpanel.track("Web - Visita al Landing2", {"Version Landing2": "1"});
</script>
<% end %>