<div class="headline">
	<h2 class="subheader whitetxt text-center no-margin">headline that matches what was clicked</h2>
	<h4 class="subheader whitetxt text-center no-margin">A supporting subheader to provide extra information</h4>
</div>
<%= render 'banner' %>


<div class="gray-brands">
	<div class="row">
		<div class="large-10 columns large-centered">
			<h5 class="text-center subheader graytxt">Próximamente</h5>
			<a href="" class="jcarousel-control-prev">anterior</a>
			<div class="jcarousel">
			    <ul>
			        <li><img src="assets/brandswithus/levis.png" width="95" height="95" alt="Levis"></li>
			        <li><img src="assets/brandswithus/americanino.png" width="96" height="95" alt="Americanino"></li>
					<li><img src="assets/brandswithus/zara.png" width="96" height="95" alt="Zara"></li>
			        <li><img src="assets/brandswithus/levis.png" width="95" height="95" alt="Levis"></li>
			        <li><img src="assets/brandswithus/americanino.png" width="96" height="95" alt="Americanino"></li>
			        <li><img src="assets/brandswithus/levis.png" width="95" height="95" alt="Levis"></li>
			        <li><img src="assets/brandswithus/americanino.png" width="96" height="95" alt="Americanino"></li>
					<li><img src="assets/brandswithus/zara.png" width="96" height="95" alt="Zara"></li>
			        <li><img src="assets/brandswithus/levis.png" width="95" height="95" alt="Levis"></li>
			        <li><img src="assets/brandswithus/americanino.png" width="96" height="95" alt="Americanino"></li>
			    </ul>
			</div>
			<a href="" class="jcarousel-control-next">siguiente</a>
			<p class="text-center"><small>Las marcas aca mostradas no son patrocinadores ni tienen relacion con Giftcode</small></p>
		</div>
	</div>
</div>

<div class="other-people">
	<div class="row">
		<div class="large-6 columns">
			<div class="row">
				<div class="large-3 columns">
					<%= image_tag "onegirl.jpg" %>
				</div>
				<div class="large-9 columns">
					<p>Officia vero eaque unde voluptatibus? Qui, porro perspiciatis commodi architecto facere nesciunt a fuga ipsa.</p>
					<h6 class="subheader graytxt">Mauricio montoya, Nombre de la empresa</h6>
				</div>
			</div>
		</div>
		<div class="large-6 columns">
			<div class="row">
				<div class="large-3 columns">
					<%= image_tag "oneboy.jpg" %>
				</div>
				<div class="large-9 columns">
					<p>Deleniti voluptas explicabo obcaecati officia vero eaque unde voluptatibus? Qui, porro perspiciatis commodi architecto facere nesciunt a fuga ipsa.</p>
					<h6 class="subheader graytxt">Mauricio montoya, Nombre de la empresa</h6>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row padding-50">
  <div class="large-12 columns">
    <ul class="large-block-grid-3">
      <li>
        <img src="assets/que_es_giftcode.png" class="centered" alt="" width="251" height="224"/>
        <h5 class="text-center"> <%= I18n.t('views.pages.home.title_1') %> </h5>
        <%# <p class="text-center">Regala fácil, rápido y seguro, conocemos las marcas favoritas de tus amigos y le apostamos a la preservación del planeta, no mas tarjetas plásticas que contaminan.</p>  %>
        <p class="text-center"><%= I18n.t('views.pages.home.message_1') %></p>
        <%# <a class="text-center block" href="">Ver más</a> %>
      </li>
      <li>
        <img src="assets/como_funciona.png" class="centered" alt="" width="251" height="224"/>
        <h5 class="text-center"><%= I18n.t('views.pages.home.title_2') %></h5>
        <%# <p class="text-center">El bono llegará al teléfono móvil ó tablet, de la persona que tú quieras, quien solo tendrá que presentarse en la tienda más cercana, escoger lo que quiera a su gusto y medida y pagar presentando su teléfono ó tablet.</p> %>
        <p class="text-center"><%= I18n.t('views.pages.home.message_2') %></p>
      </li>
      <li>
        <img src="assets/riega-la-bola.png" class="centered" alt="" width="251" height="224"/>
        <h5 class="text-center"><%= I18n.t('views.pages.home.title_3') %></h5>
        <%# <p class="text-center">Háblales a tus amigos sobre tus marcas favoritas en Giftcode, el próximo día especial recibirás lo que realmente quieres.</p> %>
        <p class="text-center"><%= I18n.t('views.pages.home.message_3') %></p>
      </li>
    </ul>
  </div>
</div>


