<div class="personal-banner">
  <div class="row">
    <div class="large-9 columns large-centered padding-top-20">
    </div>
  </div>
</div>
<div class="row text-justify">
  <div  class="large-10 columns large-centered" >
    <p>En <%= link_to 'giftcode.co', root_url %> queremos siempre ofrecerte la mejor experiencia cuando pienses en comprar, enviar ó recibir un bono electrónico de regalo de las marcas que amas y en las fechas que siempre esperas que te regalen ó que tu regales a tus amigos, familiares ó conocidos.</p>

    <p>Para lograr esto ahora requerimos algunos datos adicionales al momento de registrarte, con el propósito de poder conocerte mejor y mantenerte informado de las mejores opciones, para que siempre tomes la mejor decisión a la hora de enviar uno de nuestros <%= link_to 'giftcode'.html_safe, root_url %> (bonos electrónicos de regalo).</p>

    <p>Te invitamos a que revises nuestra política de privacidad y nuestros términos y condiciones.</p>

    <h1 class="text-center padding-50">POLÍTICA DE PRIVACIDAD</h1>

    <p>Gracias por acceder a nuestra página web <%= link_to 'www.giftcode.co', root_url %> (el "Sitio") operada por GREENCODE SAS. Nosotros respetamos tu privacidad y tu información personal.</p>

    <p>Nuestra Política de Privacidad explica cómo recolectamos, utilizamos y (bajo ciertas condiciones) divulgamos tu información personal. Ésta política de privacidad también explica las medidas que hemos tomado para asegurar tu información personal. Por último, esta política de privacidad explica los procedimientos que seguimos frente a la recopilación, uso y divulgación de tu información personal.</p>

    <p>La protección de datos es una cuestión de confianza y privacidad, por ello es importante para nosotros. Por lo tanto, utilizaremos solamente tu nombre y la información referente a ti. bajo los términos previstos en nuestra política de privacidad.</p>

    <p>Sólo mantendremos tu información durante el tiempo que nos sea requerido por la ley o debido a la relevancia de los propios fines para los que fueron recopilados.</p>

    <p>Puedes visitar el sitio y navegar sin tener que proporcionar datos personales. Durante tu visita al sitio, permanecerás de manera anónima y en ningún momento te podremos identificar, a menos que te registres, te conviertas en uno de nuestros usuarios ó inicies sesión con tu cuenta de Facebook.</p>

    <h3 class="subheader padding-top-20" >LOS DATOS QUE RECOGEMOS</h3>

    <p>Recopilaremos varios datos tuyos en el momento en que te registres en nuestro sitio con tu usuario de Facebook.</p>

    <p>Ésta información la recogeremos, procesaremos y almacenaremos de manera segura y la utilizaremos para contarle a tus amigos cuales son tus marcas favoritas y las fechas en las que deseas recibir nuestros <%= link_to 'giftcode'.html_safe, root_url %> (bonos lectrónicos de regalo), al igual que para ofrecerte recomendaciones informadas de descuentos, promociones, lanzamientos de las marcas que has definido como tus favoritas en nuestro sitio ó para que te enteres y puedas tomar la mejor decisión cuando de comprar y enviar un <%= link_to 'giftcode'.html_safe, root_url %> se trate. Cuando te registras con Facebook podremos recopilar datos de tu información personal como: E-mail, fecha de nacimiento, la ciudad que tienes registrada, podremos publicar de manera automática en tu muro, otras fechas que tengas registradas. Todo lo anterior siempre y cuando no tengas ninguna restricción. Tendremos acceso al nombre de tus amigos y su fecha de nacimiento siempre y cuando sea pública, podremos sugerirte</p>

    <p>publicar en el muro de tus amigos ó enviarles mensajes directos pero no de manera automática, solamente tu lo podrás hacer de manera individual (uno a uno) ó de manera masiva.</p>

    <p>Cuando vayas a enviar uno de nuestros <%= link_to 'giftcode'.html_safe, root_url %> (bonos electrónicos de regalo) debes compartirnos el nombre del beneficiario, su correo electrónico, su numero de teléfono móvil, que utilizaremos para hacerle llegar el <%= link_to 'giftcode'.html_safe, root_url %>. Esta información la almacenaremos y la utilizaremos solo en casos de dificultades en la prestación del servicio como por ejemplo: no redención, perdida, vencimiento y cualquier otra que amerite el contacto con el beneficiario. Para los demás efectos el beneficiario deberá registrarse directamente en nuestro sitio y convertirse en usuario.</p>

    <p>A la información y detalle de la tarjeta de pago (debito ó crédito) ó cualquier otro medio de pago que coloquemos a disposición de los usuarios, no tendremos acceso y no podrá ser almacenada por nosotros. Ésta información será recopilada, procesada y almacenada directamente por la pasarela de pagos que tengamos a disposición de nuestros usuarios, para este caso GLOBAL PAY</p>

    <p>Usaremos la información que nos proporciones para administrar tu cuenta con nosotros, mantenerte al tanto con información comercial relevante de las marcas y de tus amigos, familiares y/o conocidos en la medida en que ellos también se conviertan en usuarios registrados en nuestro sitio <%= link_to 'www.giftcode.co', root_url %> . Te enviaremos información que pensamos puede serte útil incluida información sobre nuestros productos y servicios, a menos que nos haya comunicado que te opones a ser contactado para estos fines. Sujeto a la obtención de tu consentimiento podemos comunicarnos contigo, por correo electrónico, mensaje de texto (SMS, MMS), por medio telefónico, o por cualquier medio de comunicación existente o por existir, con los detalles de otros productos y servicios. Si prefiere no recibir comunicaciones de marketing, puede comunicarlo en cualquier momento y dejará de recibir dichas comunicaciones.</p>

    <p>Los pagos que se realicen a través del Sitio serán procesados por nuestro operador de pagos en línea. Sólo se debe proporcionar su información en nuestro sitio. Dicha información debe ser precisa y veraz y debe mantenerse al día. Si ocurre algún cambio en sus datos, debe informarnos para poder actualizarlos en nuestra base de datos, con el fin de evitar inconvenientes en los pagos o la entrega de sus productos.</p>

    <p>Los detalles de la compra y recepción de nuestros <%= link_to 'giftcode'.html_safe, root_url %> pueden ser almacenados por nosotros y podrás acceder a esta información ingresando a tu Cuenta en el Sitio. Allí podrás ver los detalles de las <%= link_to 'giftcode'.html_safe, root_url %> que te han enviado, la marca, el monto, la fecha de vencimiento y demás información que consideremos importante publicar, también podrás visualizar las compras que hayas realizado y enviadas y si éstas han sido abiertas ó redimidas por las personas a quienes has enviado. Tu te comprometes a tratar tus datos personales de acceso de manera confidencial y no ponerla a disposición de terceros no autorizados. No podemos asumir ninguna responsabilidad por el mal uso de contraseñas que hagas.</p>

    <h3 class="subheader padding-top-20" >OTROS USOS DE TU INFORMACIÓN PERSONAL</h3>

    <p>Podemos enviarte información adicional acerca de nosotros, el Sitio, nuestros otros sitios web, nuestros productos, promociones de ventas, nuestros boletines de noticias, todo lo relacionado con otras empresas de nuestro grupo o de nuestros socios de negocios. Si prefieres no recibir este tipo de información adicional, como se detalla en este apartado (o cualquier parte de ella), por favor haga clic en el 'unsubscribe' en el enlace de cualquier correo electrónico que le enviamos. Dentro de siete (7) días hábiles después de recibir su instrucción se dejará de enviar la información solicitada. Si su instrucción no es clara nos comunicaremos contigo para aclararla.</p>

    <h3 class="subheader padding-top-20" >CONCURSOS Y COMPETENCIAS</h3>

    <p>Para la realización de concursos y ofertas podemos hacer uso de tu información. Si bien las condiciones generales de uso se regulan en este documento, te recomendamos revisar el reglamento particular de cada actividad o concurso.</p>

    <h3 class="subheader padding-top-20" >TERCEROS Y ENLACES</h3>

    <p>Podemos transmitir tus datos a otras empresas de nuestro grupo. También podemos proporcionar tu información a nuestros agentes y subcontratistas para que nos ayuden con cualquiera de las funciones mencionadas en nuestra Política de Privacidad. Por ejemplo, podemos utilizar a terceros para que nos ayuden con el marketing y publicidad de nuestros servicios y/o productos o tercerizar nuestros sistemas de servicio al cliente. Podemos transferir nuestras bases de datos que contienen tu información personal si vendemos nuestro negocio o parte de este. Al margen de lo establecido en la presente Política de Privacidad, no podremos vender o divulgar sus datos personales a terceros sin obtener su consentimiento previo, a menos que sea necesario para los fines establecidos en esta Política de Privacidad o estemos obligados a hacerlo por ley. El Sitio puede contener publicidad de terceros y enlaces a otros sitios o marcos de otros sitios. Ten en cuenta que no somos responsables de las prácticas de privacidad o contenido de dichos terceros u otros sitios, ni por cualquier tercero a quien se transfieran sus datos de acuerdo con nuestra Política de Privacidad.</p>

    <h3 class="subheader padding-top-20" >COOKIES</h3>

    <p>La aceptación de las cookies no es un requisito para visitar el Sitio. Las cookies son pequeños archivos de texto que identifican tu computadora ó dispositivo cualquiera que este sea en nuestro servidor como un usuario único. Las cookies se pueden utilizar para reconocer su dirección de protocolo de Internet, lo que te ahorrará tiempo mientras te encuentras en el Sitio o si quiere entrar a él en el futuro. Sólo utilizamos cookies para su comodidad en el uso del sitio (por ejemplo, para recordar quién es Ud, cuando deseas enviar uno de nuestros <%= link_to 'giftcode'.html_safe, root_url %> sin tener que volver a introducir su dirección de correo electrónico) y no para obtener o usar cualquier otra información sobre Ud. (por ejemplo de publicidad segmentada u oculta). Su navegador puede ser configurado para no aceptar cookies, pero esto podría restringir su uso del Sitio y limitar su experiencia en el mismo. El uso de cookies no contiene ni afecta datos de carácter personal o privado y no representa peligro de virus. Si desea obtener más información acerca de las cookies, visite http://wwww.allaboutcookies.org/</p>

    <h3 class="subheader padding-top-20" >SEGURIDAD</h3>

    <p>Tenemos en marcha medidas técnicas y de seguridad para evitar el acceso no autorizado o ilegal o la pérdida accidental, destrucción u ocurrencia de daños a su información. Cuando se recogen datos a través del Sitio, recogemos sus datos personales en un servidor seguro. Nosotros usamos programas de protección en nuestros servidores. Si bien no podemos garantizar al 100% de seguridad, estos sistemas han probado ser efectivos en el manejo de información reservada y harán que sea difícil para un hacker descifrar sus datos. Mantenemos las salvaguardias físicas, electrónicas y de procedimiento en relación con la recogida, almacenamiento y divulgación de su información. Nuestros procedimientos de seguridad significan que en ocasiones podremos solicitarle una prueba de identidad antes de revelar información personal. Tenga en cuenta que Ud. es el único responsable de la protección contra el acceso no autorizado a su contraseña y a su computadora.</p>

    <h3 class="subheader padding-top-20" >TUS DERECHOS</h3>

    <p>Si estas tienes alguna preocupación en relación con tus datos tienes el derecho de solicitar acceso a tus datos personales que podamos tener o procesar. Tienes el derecho de obligarnos a corregir cualquier inexactitud en los datos de forma gratuita. En cualquier momento, también tienes derecho a pedirnos que dejemos de utilizar tus datos personales para fines de marketing directo.</p>

    <p>Para utilizar los Servicios ofrecidos por <%= link_to 'giftcode'.html_safe, root_url %> y sus sitios relacionados, los Usuarios deberán facilitar determinados datos de carácter personal. Su información personal se procesa manteniendo altos estándares de seguridad y protección tanto física como tecnológica.</p>

    <h1 class="text-center padding-50">Ley de Protección de datos</h1>

    <p>Greencode S.A.S. es una empresa que se dedica al desarrollo de software para construir soluciones que les faciliten la vida a las personas, que contribuyan con el cuidado del medio ambiente y que se conviertan en un negocio sostenible y perdurable en el tiempo.</p>

    <p>Atendiendo a la Ley 1581 de 2012 y al Decreto 1377 de 2013, queremos contarte que tu información hace parte de la base de datos que administran Greencode, Giftcode, Ticketcode y sus demás partners. Dichos datos serán utilizados con la única finalidad de mantenerte actualizado de las ofertas, promociones, actividades, concursos, novedades  y eventos que te interesen a ti y a tus amigos y que realizamos en nuestras diversas plataformas. Buscamos conocer tus gustos y hacer investigación en tendencias y mercados para brindarte productos y beneficios que realmente te interesan.</p>

    <p>Con el fin de conocer a profundidad el uso de tus datos te invitamos a leer y aceptar los términos y condiciones de nuestra política de privacidad en el link <%= link_to 'www.giftcode.co/terminos-y-condiciones', tos_pages_path %>. Si deseas actualizar, corregir o retirar tu información de nuestra base de datos, por favor envíanos un comunicado a contacto@greencode.co dentro  de los 30 días siguientes de  haber recibido esta información. De no obtener manifestación alguna durante dicho término, entenderemos que podremos continuar haciendo uso de tus datos. Sin embargo, queremos recordarte que en cualquier momento nos podrás solicitar la supresión o modificación de los mismos.</p>
  </div>
  <br>
  <br>
  <br>
</div>

<% if GlobalConstants::use_mix_panel? %>
    <script type="text/javascript">
        <% if current_user.present? %>
        mixpanel.identify("<%= current_user.email %>");
        <% end %>
        mixpanel.track("Web - Politica de Privacidad", {"Politica de Privacidad": "1"});
    </script>
<% end %>