<div class="personal-banner" style="background: url(../assets/slider-eco.jpg) repeat scroll 0% 0% / cover transparent;height: 221px;" >
  <div class="row">
    <div class="large-12 columns large-centered padding-top-50">

    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h1 class="subheader text-center graytxt2"><%= I18n.t('views.projects.title') %></h1>
    <div class="centered favorite-mark">
      <p class="text-center padding-top-20">
        <%= I18n.t('views.projects.description') %>
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <ul class="large-block-grid-3">
      <li>
        <img src="assets/no-mas-plastico.png" class="centered" alt="Anne Helmond" width="251" height="224"/>
        <h5 class="text-center"><%= I18n.t('views.projects.item_1.title') %></h5>
        <p class="text-center"><%= I18n.t('views.projects.item_1.description') %></p>
      </li>
      <li>
        <img src="assets/mas-arboles.png" class="centered" alt="skoeber" width="251" height="224"/>
        <h5 class="text-center"><%= I18n.t('views.projects.item_2.title') %></h5>
        <p class="text-center"><%= I18n.t('views.projects.item_2.description') %></p>
      </li>
      <li>
        <img src="assets/es-por-el-planeta.png" class="centered" alt="jjjohn" width="251" height="224"/>
        <h5 class="text-center"><%= I18n.t('views.projects.item_3.title') %></h5>
        <p class="text-center"><%= I18n.t('views.projects.item_3.description') %></p>
      </li>
    </ul>
  </div>
</div>
<br>
<br>

<% if GlobalConstants::use_mix_panel? %>
    <script type="text/javascript">
        <% if current_user.present? %>
        mixpanel.identify("<%= current_user.email %>");
        <% end %>
        mixpanel.track("Web - Puntos", {"Puntos": "1"});
    </script>
<% end %>

