<div class="team-view">
	<!--<br />-->
	<!--<h3 class="text-center subheader"><i>Hacemos lo que nos gusta</i></h3>-->
	<%# image_tag "nosotros_giftcode.jpg", :class => "image-x" %>
</div>

<div class="row">
	<div class="large-10 columns large-centered centered">
		<p class="text-center padding-top-50">Convertir ideas en proyectos y proyectos en empresas sostenibles en el tiempo, que le solucionen problemas y le faciliten la vida a millones de personas y que además favorezcan la protección al medio ambiente, es lo que hoy en día nos apasiona verdaderamente.</p>
	</div>
</div>

<div class="graybanner">
		<div class="row">
			<div class="large-10 columns large-centered">
				<br>
				<h4 class="text-center">Hacemos la diferencia</h4>
                <br>
				<p class="text-center">Somos uno de los mejores equipos de jóvenes emprendedores en Colombia, con la capacidad y conocimiento técnico, comercial y financiero para ofrecer al mercado, la forma más sencilla de enviar y recibir bonos electrónico de regalo.</p>
                <br>
                <br>
				<ul class="large-block-grid-3">
					<li>
						<div class="text-center"><%= image_tag "alex_vazquez_v2.png" %></div>
                        <br>
						<h5 class="subheader text-center no-margin">Alex Vásquez</h5>
						<h5 class="subheader text-center no-margin">Director General</h5>
						<p class="text-center padding-20">
                          Soy emprendedor y después de mi familia y mi hijo Simón lo que más disfruto es hacer parte de uno de los mejores equipos de emprendedores colombianos. Cada proyecto es una aventura increíble, cada negocio es un desafío, cada decisión se convierte en la mejor alternativa y cada meta cumplida es el premio al trabajo apasionado y a la colaboración colectiva.
						</p>
					</li>
					<li>
						<div class="text-center"><%= image_tag "mario_villamizar.png" %></div>
                        <br>
						<h5 class="subheader text-center no-margin">Mario Villamizar</h5>
						<h5 class="subheader text-center no-margin">Director de Tecnología</h5>
						<p class="text-center padding-20">
                          Emprendedor en formación con background del mundo científico. Participo en la implementación de las arquitecturas de TI y de las aplicaciones que facilitan el envío de giftcodes. Fiel creedor que los emprendedores persistentes y enfocados estamos para transformar el mundo.
						</p>
					</li>
					<li>
						<div class="text-center"><%= image_tag "miguel_higuera.png" %></div>
                        <br>
						<h5 class="subheader text-center no-margin">Miguel Higuera</h5>
						<h5 class="subheader text-center no-margin">Director de Desarrollo</h5>
						<p class="text-center padding-20">
                          Desde temprana edad me he sentido atraido por los temas relacionados con la ciencia y la tecnología, siempre intentando crear nuevas herramientas que nos permitan mejorar y ayudar. Como amante de la naturaleza, estoy convencido que tenemos la responsabilidad de cuidar de nuestro planeta y entregarlo de la mejor manera a nuestros hijos y futuras generaciones.
						</p>
					</li>
				</ul>
              <ul class="large-block-grid-3">
                <li>
                  <ul class="social-strip generic no-left">
                    <li class="twitter"><a class="t" href="http://twitter.com/alexgreencode" target="_blank">twitter</a></li>
                    <li class="face"><a class="in" href="http://co.linkedin.com/in/alexgreencode" target="_blank">facebook</a></li>
                  </ul>
                </li>
                <li>
                  <ul class="social-strip generic no-left">
                    <li class="twitter"><a class="t" href="http://twitter.com/mariocloud" target="_blank">twitter</a></li>
                    <li class="face"><a class="in" href="http://co.linkedin.com/in/mariojosevillamizarcano" target="_blank">facebook</a></li>
                  </ul>
                </li>
                <li>
                  <ul class="social-strip generic no-left">
                    <li class="twitter"><a class="t" href="https://twitter.com/miguelgreencode" target="_blank" >twitter</a></li>
                    <li class="face"><a class="in" href="http://co.linkedin.com/pub/miguel-angel-higuera-torres/14/a65/921" target="_blank">facebook</a></li>
                  </ul>
                </li>
              </ul>
			  <br>
              <br>
			</div>
		</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<br />
		<h4 class="text-center">Reconocimientos</h4>
		<p class="text-center">Nuestros proyectos y nosotros mismos hemos sido reconocidos como emprendedores innovadores de alto impacto por las entidades de emprendimiento más importantes en Colombia.</p>
		<div class="padding-50">
			<ul class="large-block-grid-3">
				<li>
					<div class="text-center"><%= image_tag "innpulsa_circle.png" %></div>
					<p class="text-center">
						Reconocimiento como emprendedores dinámicos e innovadores, ganadores de la convocatoria EDI-07/2012, entre más de 600 emprendimientos.
					</p>
				</li>
				<li>
					<div class="text-center"><%= image_tag "apps-co.png" %></div>
					<p class="text-center">
                       Fuimos seleccionados entre mas de 300 emprendimientos colombianos y del exterior para hacer parte del proceso de consolidación empresarial. Tuvimos el privilegio de compartir experiencias y conocimientos con los mejores emprendedores en Colombia y en los Estados Unidos.
                    </p>
				</li>
				<li>
					<div class="text-center"><%= image_tag "emprendentic.png" %></div>
					<p class="text-center">
                      Programa liderado por la secretaria de desarrollo económico de Bogotá. Fuimos seleccionados como uno de los proyectos con mayor potencial de crecimiento de la región, recibiendo entrenamiento con líderes empresariales de Colombia y España.
					</p>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="graybanner no-margin">
		<div class="row">
			<div class="large-12 columns">
				<br />
				<h4 class="text-center">Aliados</h4>
				<p class="text-center"> Las empresas más importantes de la banca, el emprendimiento y el marketing digital en Colombia son nuestros aliados estratégicos y de negocios. La meta es convertir a la industria de bonos electrónicos de regalo en un nuevo caso de emprendimiento exitoso.</p>
				<ul class="large-block-grid-3">
					<li>
            <br>
            <div class="text-center"><%= image_tag "credibanco.png" %></div>
            <br>
            <p class="text-center padding-20">
              Es una de las redes bancarias más importantes de Colombia, actualmente esta totalmente integrada con giftcode, convirtiendose en uno de nuestros más importantes aliados estratégicos. Provee la pasarela de pago y la redención de nuestros bonos de regalo en todos sus datáfonos.
            </p>
					</li>

					<li>
            <br>
            <div class="text-center"><%= image_tag "innpulsa_circle_v2.png" %></div>
            <br>
            <p class="text-center padding-20">
            Con su iniciativa de apoyo financiero en etapa temprana a emprendimientos de  proyección global, se ha convertido en nuestro principal aliado y fuente de recursos de financiación para el desarrollo y crecimiento de nuestro negocio.
            </p>
					</li>

          <li>
            <br>
            <div class="text-center"><%= image_tag "redeban.png" %></div>
            <br>
            <p class="text-center padding-20">
              Es una de las 2 redes bancarias en Colombia y se ha convertido en nuestro aliado estratégico y de negocios. Hemos logrado ser un medio de pago en sus más de 100.000 datáfonos, lo que permite la fácil redención de nuestros bonos electrónicos de regalo en cualquiera de sus comercios asociados.
            </p>
          </li>
				</ul>
				<br /><br />
			</div>
		</div>
</div>


<div class="row">
  <div class="large-12 columns">
    <h4 class="text-center padding-top-50">Mentores</h4>
    <br>
    <p class="text-center">Empresarios talentosos y exitosos han creído en giftcode. Son conocedores de la industria del retail, del mercado financiero y del marketing digital en la región, nos han asesorado con su experiencia en el conocimiento, entendimiento y perfeccionamiento de nuestro modelo de negocio.</p>
    <ul class="large-block-grid-3">
      <li>
        <br>
        <div class="text-center"><%= image_tag "JuanFelipe_Castano.png" %></div>
        <br>
        <h5 class="subheader text-center no-margin">Juan Felipe Castaño</h5>
        <p class="text-center padding-20">
            <b>Gerente de Enter.co y Chief Creative Strategist de Platafor.ma</b> Experto en el desarrollo de negocios digitales y marketing digital
        </p>
      </li>
      <li>
        <br>
        <div class="text-center"><%= image_tag "jaime_gutierrez.png" %></div>
        <br>
        <h5 class="subheader text-center no-margin">Jaime Gutierrez</h5>
        <p class="text-center padding-20">
            <b>Gerente y propietario de Ptesa.</b> Experto en el desarrollo de negocios con el sistema financiero y bancario en Colombia.
        </p>
      </li>
      <li>
        <br>
        <div class="text-center"><%= image_tag "roberto_held.png" %></div>
        <br>
        <h5 class="subheader text-center no-margin">Roberto Held</h5>
        <p class="text-center padding-20">
            <b>CFO - Juan Valdez Cafe / Procafecol.</b> Experto en negocios financieros y conocedor de la relación entre la industria Retail, la banca y los dispositivos móviles.
        </p>
      </li>
    </ul>
    <br /><br />
  </div>
</div>

<% if GlobalConstants::use_mix_panel? %>
    <script type="text/javascript">
        <% if current_user.present? %>
        mixpanel.identify("<%= current_user.email %>");
        <% end %>
        mixpanel.track("Web - About us", {"About us": "1"});
    </script>
<% end %>