<div class="personal-banner">
  <div class="row">
    <div class="large-9 columns large-centered padding-top-20">
    </div>
  </div>
</div>
<div class="row text-justify">
  <div  class="large-10 columns large-centered" >
      <h1 class="subheader text-center">T&eacute;rminos y condiciones</h1>
      <br/>
      <h3 class="subheader padding-top-20" >Aspectos Generales</h3>
      <p>
        Encontrar y enviar el regalo ideal de forma cómoda y rápida no es una tarea fácil. Con <%= link_to 'giftcode.co', root_url %> cualquier persona conectada a Internet desde cualquier dispositivo, podrá comprar un bono de regalo virtual en cualquier momento y enviarlo directamente al celular ó al dispositivo móvil de otra persona en cualquier parte del mundo, quien lo podrá convertir en realidad a su gusto y medida, de manera inmediata, fácil y segura.
      </p>

      <p>
        Con nuestros regalos electrónicos, favorecemos el medio ambiente al eliminar el uso de tarjetas plásticas usadas en la actualidad como bonos de regalo.
      </p>

      <p>
        Nuestros bonos virtuales de regalo (<%= link_to 'giftcodes'.html_safe, root_url %>) pueden canjearse por cualquier tipo de producto ó servicio en las tiendas especificas y definidas por las marcas aliadas, sin ningún valor o costo adicional para el poseedor del GiftCode. La vigencia máxima para canjear un Giftcode (bono virtual de regalo) es de seis meses (6) a partir del momento de la compra.
      </p>

      <p>
        Nuestra plataforma permite emitir <%= link_to 'giftcodes'.html_safe, root_url %> por cualquier monto, valor ó cuantía. Depende de la tienda ó marca definir el monto mínimo y/o máximo posible que un comprador podrá adquirir y enviar. Nuestros <%= link_to 'giftcodes'.html_safe, root_url %> podrán permitir el manejo de saldos que podrán ser canjeados durante el tiempo de vigencia del mismo.
      </p>

      <p>
        Para garantizar la entrega del giftcode (bono electrónico de regalo) y de acuerdo con los permisos concedidos por los usuarios, nuestra plataforma podrá utilizar los siguientes canales: mensajería de texto (SMS, MMS), correo Electrónico, publicación en el muro ó inbox de Facebook, envío de mensaje directo al buzón de Twitter, de manera impresa ó cualquier otra que decidamos utilizar
      </p>

      <p>
        Los <%= link_to 'giftcodes'.html_safe, root_url %> (bonos electrónicos de regalo) podrán contener el logo de la marca aliada. La marca garantizará el cumpliendo con las restricciones y políticas propias de privacidad y derechos de autor par el uso de imágenes.
      </p>

      <p>
        Cada giftcode (bono electrónico de regalo) enviado y recibido por el destinatario ó beneficiario es único personal e intransferible y sobre este último recae la custodia y cuidado. Se presume que la primera persona que lo presenta en el momento del canje es la persona destinataria. <%= link_to 'giftcode.co', root_url %> no se hace responsable por la transferencia, copia, fotocopia ó replica del giftcode (bono electrónico de Regalo) a otro usuario diferente al destinatario original.
      </p>

      <p>
        Cada giftcode (bono electrónico de regalo) además de la imagen ó logo de la empresa y/o tienda contiene la información del destinatario, fecha exacta de vencimiento, monto ó valor disponible y toda información adicional que consideremos relevante para la redención por parte del beneficiario.
      </p>

      <p>
        Los <%= link_to 'giftcodes'.html_safe, root_url %> (bonos electrónicos de regalo) pueden ser enviados en cualquier ocasión ó motivo (cumpleaños, aniversario, bodas, babyshower, grado, agradecimiento, día del amor y la amistad, día del padre, día de la madre, San Valentín ó cualquier otra fecha especial) y pueden contener un mensaje ó dedicatoria de máximo 140 caracteres.
      </p>


      <h3 class="text-center padding-50" >TERMINOS DE USO</h3>

      <p>Para efectos de este Acuerdo, (a) "GREENCODE", que en adelante significa "nosotros" , "nos" o "nuestro" es una SOCIEDAD ANONIMA SIMPLIFICADA (S.A.S), establecida mediante matrícula mercantil No. 02013910 de la Cámara de Comercio de Bogotá y propietaria de la marca giftcode. y/o <%= link_to 'www.giftcode.co', root_url %> (b) "Sitio" significa el sitio web ubicado en <%= link_to 'www.giftcode.co', root_url %> y cualquier otra página web sucesora, incluyendo todos los servicios prestados por nosotros a ti a través de la plataforma de servicios en el Sitio, (c) "Servicios" significa la adquisición de bonos electrónicos de regalo “giftcode” ó “<%= link_to 'giftcodes'.html_safe, root_url %>” que compres ó recibas a través del Sitio, (d) "Comprador" significa quien compra ó adquiere uno o varios <%= link_to 'giftcodes'.html_safe, root_url %> para su uso personal o para enviarlos vía correo electrónico, mensajería de texto o cualquier otro canal, a otra persona en cualquier parte del mundo en donde nosotros tengamos presencia, (e) “Destinatario / beneficiario” es el beneficiario ó usuario final del giftcode o de los <%= link_to 'giftcodes'.html_safe, root_url %> según corresponda (f) "Marca ó Empresa" hace referencia a las marcas ó empresas afiliadas y presentes en nuestra plataforma <%= link_to 'www.giftcode.co', root_url %> y de las cuales el comprador puede adquirir uno ó varios <%= link_to 'giftcodes'.html_safe, root_url %> de acuerdo a sus necesidades particulares.</p>

      <p>El presente Acuerdo se compone de los términos de uso y condiciones de uso y de las políticas de privacidad, junto con cualquier otra política, procedimiento o directriz o cualquier información adicional que aparezca en el Sitio. GREENCODE S.A.S se reserva el derecho de modificar cualquiera de los términos y condiciones contenidos en este Acuerdo y/o las políticas que rigen el Sitio, en cualquier momento, a su absoluta discreción. Todos los cambios entrarán en vigor tras su publicación en el Sitio y se puede hacer sin ningún otro aviso de ningún tipo. Usted está en todo momento responsable de leer y entender todas las versiones de este Acuerdo y las políticas. el uso de la siguiente web: <%= link_to 'www.giftcode.co', root_url %> y de toda la información en ella publicada implica la aceptación de dichos cambios. si no estás de acuerdo con los cambios a este acuerdo (incluyendo a cualquiera de las políticas, términos, condiciones, etc), no debes utilizar el sitio.</p>

      <h3 class="subheader">Condiciones espec&iacute;ficas:</h3>


      <h3 class="subheader">1. <small>Canje &oacute; Redenci&oacute;n:</small></h3>


      <p>
        Solamente pueden canjearse los <%= link_to 'giftcodes'.html_safe, root_url %> (bonos electrónicos de regalo) generados, autorizados y comprados de manera correcta en la plataforma <%= link_to 'www.giftcode.co', root_url %> ó en el botón ó enlace que se coloque en la página Web de la marca aliada. El inventario disponible de mercancía y/o la disponibilidad del servicio adquirido por el comprador es responsabilidad de la marca en cada una de sus tiendas autorizadas para canjear los <%= link_to 'giftcodes'.html_safe, root_url %> (bonos electrónicos de regalo). Si el valor de la compra supera el monto ó valor del giftcode, la diferencia debe ser asumida por la persona que canjea el giftcode (bono electrónico de regalo) que se presume es el destinatario original. En cada una de las tiendas autorizadas por la marca para el canje de los <%= link_to 'giftcodes'.html_safe, root_url %> (bonos electrónicos de regalo) el destinatario ó beneficiario podrá consultar el saldo disponible de cada <%= link_to 'giftcode'.html_safe, root_url %> que posea.
      <p>

      <h3 class="subheader">2. <small>Limitaciones:</small></h3>


      <p>
        Un <%= link_to 'gift<span style="color:black;">code<span>'.html_safe, root_url %> (bono electrónico de regalo) solamente puede ser canjeado por productos ó servicios disponibles en las tiendas autorizadas por la marca, no se pueden recargar ó canjear por dinero, tampoco se pueden revender ó transferir bajo ningún concepto.
      </p>

      <h3 class="subheader">3. <small>Riesgo de perdida:</small></h3>


      <p>
        <%= link_to 'giftcode.co', root_url %> y/o <%= link_to 'www.giftcode.co', root_url %> no se hace responsable por la perdida, robo, descuido ó utilización sin el permiso del beneficiario o destinatario del <%= link_to 'giftcode'.html_safe, root_url %> (bono electrónico de regalo).
      </p>

      <h3 class="subheader">4. <small>Fraude:</small></h3>

      <p>
        <%= link_to 'giftcode.co', root_url %> y/o <%= link_to 'www.giftcode.co', root_url %> no se hace responsable por el fraude electrónico que se pueda presentar por el mal uso de la plataforma de pagos contratada con terceros, y en general por la no adecuada custodia y manejo de las claves personales de acceso y compra con cualquier medio de pago electrónico que posea el Sitio. El tercero contratado para la prestación del servicio de pasarela de pago es Global Pay y/o https://www.globalpay.com.co/BotonPago/
      </p>

      <h3 class="subheader">5. <small>Limitaci&oacute;n de Responsabilidad:</small></h3>

      <p>
        Greencode S.A.S, como propietario de <%= link_to 'giftcode.co', root_url %> no otorga garantías implícitas o expresas en la prestación del servicio, especialmente en aquellas actividades ó procesos que no dependen totalmente de nuestra gestión, administración, custodia desarrollo ó ejecución o cualquiera diferente a la actividad propia. Nuestra responsabilidad una vez comprobada la veracidad y justificación de la información que el comprador presente en un plazo no mayor a 7 días hábiles, nuestra entera responsabilidad es la restitución ó reenvío del <%= link_to 'giftcode'.html_safe, root_url %> (bono electrónico de regalo) de acuerdo a las características de la transacción.
      </p>

      <h3 class="subheader">6. <small>Diferencias y/o Controversias:</small></h3>

      <p>
        La interpretación y ejecución del presente acuerdo se regirá por las leyes Colombianas. Las diferencias o controversias que surjan entre las partes, por concepto de la celebración, interpretación, ejecución ó terminación del acuerdo, cuyo valor individual y/o acumulada por un monto superior a Diez Millones de Pesos (COP$10’000.000) que no puedan ser resueltas de común de acuerdo entre ellas serán redimidas conforme al siguiente procedimiento:
      </p>

      <p>
        1- Si la diferencia fuera de carácter técnico, cualquiera de las partes podrá solicitar arbitramento técnico, de acuerdo con el procedimiento establecido en las disposiciones legales sobre la materia. Los árbitros serán profesionales expertos en la materia técnica de que se trate. El fallo será de carácter técnico y se proferirá según las normas o principios de la ciencia correspondientes; la decisión que de allí emane será obligatoria para las partes. 2- Si la diferencia fuere de naturaleza jurídica, sobre la interpretación sobre este acuerdo ó sobre la aplicación de alguna de sus cláusulas, cualquiera de las partes podrá solicitar que sea sometida al procedimiento arbitral independiente, con las formalidades y efectos previstos en las normas vigentes. Los árbitros serán abogados titulados y su fallo se proferirá en derecho. En ambos eventos se aplicaran las disposiciones de la legislación comercial y en especial las disposiciones de la Cámara de Comercio de Bogotá. Los árbitros o peritos serán, (1). El arbitro ó perito será designado de común acuerdo entre las partes. Si no hubiere acuerdo para la designación, lo hará la Cámara de Comercio de la ciudad de Bogotá. El peritazgo ó el arbitramento funcionaran en la misma capital. La parte vencida asumirá las costas del procedimiento.
      </p>
    </div>
  <br>
  <br>
  <br>
</div>

<% if GlobalConstants::use_mix_panel? %>
<script type="text/javascript">
  <% if user_signed_in? %>
    mixpanel.identify("<%= current_user.email %>");
    mixpanel.name_tag("<%= current_user.email %>");
  <% end %>
  mixpanel.track("Terms Page Loaded");
</script>
<% end %>