<%= render 'que-banner' %>
<%= render 'que' %>
<div class="greenbanner">
  <div class="row">
    <% if user_signed_in? %>
        <div class="large-4 columns large-centered">
          <a class="button success radius" href="<%= friends_path %>"><span class="facebook"></span><span class="border"><%= I18n.t('views.what_is.invite_friends') %></span></a>
        </div>
    <% else %>
        <div class="large-5 columns large-centered">
          <%= form_for(:user, :url => user_omniauth_authorize_path(:facebook), :html => { :class => 'fixed-form-both'}) do |f| %>
              <%# f.button "<span class='gifty'></span><span class='border'>Regalar</span>".html_safe, { name: "submit", id: "facebook", :class => 'button success radius normal left'} %>
              <%= f.button ("<span class='facebook'></span><span class='border'>"+I18n.t('views.what_is.sign_up')+"</span>").html_safe, { name: "submit", id: "facebook", :class => 'button success radius normal right fix-margin'} %>
          <% end %>
          <!--<a class="button success radius" href="#"><span class="gifty"></span><span class="border">Aprende mas sobre GiftCode</span></a><a class="button success radius" href="#"><span class="gifty"></span><span class="border">Registrate Usando Facebook</span></a>-->
        </div>
    <% end %>
  </div>
</div>


<%= render 'corporate_clients' %>
