<%= render 'personal-banner' %>

<div class="yoquiero"  ng-controller="YoQuieroCtrl">
  <div class="row">
    <div class="large-12 columns">
      <h3 class="text-center">#YoQuiero</h3>
      <div class="row">
        <div class="large-8 columns large-centered">
          <h6 class="text-center subheader">Convence a tus amigos para que te regalen un GiftCode en cualquier momento.
            Selecciona y comparte todas las veces que quieras</h6>
        </div>
      </div>
      <div class="padding-50">
        <ul class="face">
          <li class="colored">
            Compartir en facebook
          </li>
          <li class="second">
            #YoQuiero un @giftcode de
            <%= select_tag 'yo_quiero_facebook', options_from_collection_for_select(@brands_fbk, 'name', 'name'), include_blank: '- Selecciona una Marca -', :'ng-model' => 'yo_quiero_facebook'  %>
          </li>
          <li>
            <button  href="" class="thebutton" ng-click="share_facebook();" ng-bind="messagesharefb" ng-disabled="messagesharefb=='Enviando ...'" ></button>
            <%= image_tag 'check.png', :width => '20', :'ng-if'=>'sent_fb'%>
          </li>
        </ul>
        <ul>
          <li class="colored">
            Compartir en twitter
          </li>
          <li class="second">
            #YoQuiero un @giftcode de
            <%= select_tag 'yo_quiero_twitter', options_from_collection_for_select(@brands_tw, 'sn_twitter_name', 'name'), :include_blank => '- Selecciona una Marca -', :'ng-model' => 'yo_quiero_twitter' %>
          </li>
          <li>
            <a ng-href="https://twitter.com/share?url=http://www.giftcode.co&utm_source=giftcode&utm_medium=twitter&text=%23YoQuiero un @giftcode de {{yo_quiero_twitter}} &related=<%= GlobalConstants::TWITTER_RELATED_ACCOUNTS %>&lang=es" class="thebutton" target="_blank" >Tweet</a>
            <%= image_tag 'checktw.png', :width => '20', :'ng-if'=>'sent_tw'%>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<% if GlobalConstants::use_mix_panel? %>
    <script type="text/javascript">
        <% if current_user.present? %>
        mixpanel.identify("<%= current_user.email %>");
        <% end %>
        mixpanel.track("Web - YoQuiero", {"Yo Quiero": "1"});
    </script>
<% end %>