<%= render 'personal-banner' %>

<div class="yoquiero">
	<div class="row">
		<div class="large-12 columns">
			<h3 class="text-center">#YoQuiero</h3>
			<div class="row">
				<div class="large-8 columns large-centered">
					<h6 class="text-center subheader">Convence a tus amigos para que te regalen un GiftCode en cualquier momento.
					Selecciona y comparte todas las veces que quieras</h6>
				</div>
			</div>
			<div class="padding-50">
				<ul>
					<li class="colored">
						Compartir en twitter
					</li>
					<li class="second">
						#YoQuiero un @giftcode de 
						<select name="" id="">
							<option value="">Marca</option>
						</select>
					</li>
					<li>
						<a href="" class="thebutton">Tweet</a>
					</li>
				</ul>
				<ul class="face">
					<li class="colored">
						Compartir en facebook
					</li>
					<li class="second">
						#YoQuiero un @giftcode de 
						<select name="" id="">
							<option value="">Marca</option>
						</select>
					</li>
					<li>
						<a href="" class="thebutton">Compartir</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

