<div id="modal_contact" class="reveal-modal small min-modal-bono radius-modal" data-options="closeOnBackgroundClick:true" ng-controller="ContactCtrl"  style="font-size: 16px">
      <div class="green-warning">
        <p><i class="step fi-mail size-36" ></i> Contacto</p>
        <a class="close close_button_login" ng-click="close_contact()"></a>
      </div>
      <div class="row">
        <br/><br/>
        <div  class="large-11 columns large-centered" >
          <%= form_for(:contact, :url =>"", :html => { :class => 'custom', :'ng-submit'=>'send(_contact,contact)' ,:novalidate=>'novalidate', :name=>'_contact', :'ng-init'=>"url=\"#{contacts_path}\"" } ) do |f| %>

              <div class='row' ng-class="{true: 'error', false: '' }[_contact.email.$invalid && submitted || _contact.email.$dirty && _contact.email.$invalid]">
                <div class="small-4 columns"><%= f.label :email,    "#{ I18n.t("views.contacts.form.field_2.name")} ".html_safe, :class=>'right inline'  %></div>
                <div class="small-8 columns" ng-class="{true: 'error', false: '' }[_contact.email.$invalid && submitted || _contact.email.$dirty && _contact.email.$invalid]" >
                  <%= f.email_field :email, :"ng-model"=>"contact.email", :required => "required", :name => "email"%>
                  <small ng-show="_contact.email.$dirty && _contact.email.$invalid || submitted">
                    <div ng-show="_contact.email.$error.required"><%= I18n.t("views.contacts.form.field_2.error.required") %></div>
                    <div ng-show="_contact.email.$error.email"><%= I18n.t("views.contacts.form.field_2.error.email") %></div>
                  </small>
                </div>
                <div class="small-2 columns" >&nbsp;</div>
              </div>

              <div class='row' ng-class="{true: 'error', false: '' }[_contact.message.$invalid && submitted || _contact.message.$dirty && _contact.message.$invalid]">
                <div class="small-4 columns"><%= f.label :message,  "#{ I18n.t("views.contacts.form.field_5.name")} ".html_safe, :class=>'right inline'  %></div>
                <div class="small-8 columns" ng-class="{true: 'error', false: '' }[_contact.message.$invalid && submitted || _contact.message.$dirty && _contact.message.$invalid]">
                  <%= f.text_area :message, :"ng-model"=>"contact.message", :required => "required", :name => "message" %>
                  <small ng-show="_contact.message.$dirty && _contact.message.$invalid || submitted">
                    <div ng-show="_contact.message.$error.required"><%= I18n.t("views.contacts.form.field_5.error.required") %></div>
                  </small>
                </div>
                <div class="small-2 columns" >&nbsp;</div>
              </div>

              <div class='row padding-20'>
                <div class="large-3 large-centered columns">
                  <input type="submit" class="button pre radius" ng-value="msg_sending" ng-disabled="msg_sending=='Enviando ...'" >
                </div>
              </div>
              <div class="large-1 columns">&nbsp;</div><div class="large-10 columns centered"><small>Teléfono: (571) 4853878 Movil: (571) 311 506 2021<br/>Email: contacto@giftcode.co <br/>Carrera 15 # 83 - 24 of. 208 Bogotá - Colombia</small></div><div class="large-1 columns">&nbsp;</div>
          <% end %>
        </div>


      </div>
  <br/>
</div>

<% if GlobalConstants::use_mix_panel? %>
    <!--<script type="text/javascript">
        <% if current_user.present? %>
        mixpanel.identify("<%= current_user.email %>");
        <% end %>
        mixpanel.track("Web - Contactenos Modal", {"Contactenos Modal": "1"});
    </script>-->
<% end %>