<div class="personal-banner">
  <div class="row">
    <div class="large-9 columns large-centered padding-top-20">
    </div>
  </div>
</div>
<div class="row padding-20">
  <div class="large-12 columns">
    <div class="centered favorite-mark">
      <h3 class="normal inline"><%= I18n.t('views.contacts.title') %></h3>
      <p class="text-center">
        <%= I18n.t('views.contacts.description') %>
      </p>
    </div>
  </div>
</div>
<div  id="contact" class="row padding-50" ng-controller="ContactCtrl">
  <div id="success-box" data-alert="" class="alert-box success radius" ng-show="success" style="display: none;" >
    Se envio mensaje
  </div>
  <div id="alert-box" data-alert="" class="alert-box alert radius" ng-show="alert" style="display: none;" >
    No se logro enviar mensaje, por favor intentelo de nuevo
  </div>
  <div  class="large-6 columns large-centered" >
    <%= form_for(@contact, :url =>"", :html => { :class => 'custom', :'ng-submit'=>'send(_contact,contact)' ,:novalidate=>'novalidate', :name=>'_contact', :'ng-init'=>"url=\"#{contacts_path}\"" } ) do |f| %>
        <div class='row' ng-class="{true: 'error', false: '' }[_contact.name.$invalid && submitted || _contact.name.$dirty && _contact.name.$invalid]">
          <div class="small-3 columns"><%= f.label :name,  "#{ I18n.t("views.contacts.form.field_1.name")} <span class=\"greentxt\">*</span>".html_safe, :class=>'right inline' %></div>
          <div class="small-9 columns" ng-class="{true: 'error', false: '' }[_contact.name.$invalid && submitted || _contact.name.$dirty && _contact.name.$invalid]" >
              <%= f.text_field :name, :'ng-model'=>'contact.name', :required => 'required', :name => 'name' %>
              <small  ng-show="_contact.name.$dirty && _contact.name.$invalid || submitted">
                <div ng-show="_contact.name.$error.required"><%= I18n.t("views.contacts.form.field_1.error.required") %></div>
              </small>
          </div>
        </div>
        <div class='row' ng-class="{true: 'error', false: '' }[_contact.email.$invalid && submitted || _contact.email.$dirty && _contact.email.$invalid]">
          <div class="small-3 columns"><%= f.label :email,    "#{ I18n.t("views.contacts.form.field_2.name")} <span class=\"greentxt\">*</span>".html_safe, :class=>'right inline'  %></div>
          <div class="small-9 columns"  ng-class="{true: 'error', false: '' }[_contact.email.$invalid && submitted || _contact.email.$dirty && _contact.email.$invalid]" >
              <%= f.email_field :email, :"ng-model"=>"contact.email", :required => "required", :name => "email"%>
              <small ng-show="_contact.email.$dirty && _contact.email.$invalid || submitted">
                <div ng-show="_contact.email.$error.required"><%= I18n.t("views.contacts.form.field_2.error.required") %></div>
                <div ng-show="_contact.email.$error.email"><%= I18n.t("views.contacts.form.field_2.error.email") %></div>
              </small>
          </div>
        </div>
        <div class='row' ng-class="{true: 'error', false: '' }[_contact.phone.$invalid && submitted || _contact.phone.$dirty && _contact.phone.$invalid]">
          <div class="small-3 columns"><%= f.label :phone,    "#{ I18n.t("views.contacts.form.field_3.name")} <span class=\"greentxt\">*</span>".html_safe, :class=>'right inline'  %></div>
          <div class="small-9 columns"  ng-class="{true: 'error', false: '' }[_contact.phone.$invalid && submitted || _contact.phone.$dirty && _contact.phone.$invalid]" >
            <%= f.text_field :phone, :"ng-model"=>"contact.phone", :required => "required", :name => "phone" %>
            <small ng-show="_contact.phone.$dirty && _contact.phone.$invalid || submitted">
              <div ng-show="_contact.phone.$error.required"><%= I18n.t("views.contacts.form.field_3.error.required") %></div>
            </small>
          </div>
        </div>
        <div class='row' ng-class="{true: 'error', false: '' }[_contact.company.$invalid && submitted || _contact.company.$dirty && _contact.company.$invalid]">
          <div class="small-3 columns"><%= f.label :company,  "#{ I18n.t("views.contacts.form.field_4.name")}  <span class=\"greentxt\">*</span>".html_safe, :class=>'right inline'  %></div>
          <div class="small-9 columns"  ng-class="{true: 'error', false: '' }[_contact.company.$invalid && submitted || _contact.company.$dirty && _contact.company.$invalid]" >
            <%= f.text_field :company, :"ng-model"=>"contact.company", :required => "required", :name => "company" %>
            <small ng-show="_contact.company.$dirty && _contact.company.$invalid || submitted">
              <div ng-show="_contact.company.$error.required"><%= I18n.t("views.contacts.form.field_4.error.required") %></div>
            </small>
          </div>
        </div>        
        <div class='row' ng-class="{true: 'error', false: '' }[_contact.message.$invalid && submitted || _contact.message.$dirty && _contact.message.$invalid]">
          <div class="small-3 columns"><%= f.label :message,  "#{ I18n.t("views.contacts.form.field_5.name")}  <span class=\"greentxt\">*</span>".html_safe, :class=>'right inline'  %></div>
          <div class="small-9 columns"  ng-class="{true: 'error', false: '' }[_contact.message.$invalid && submitted || _contact.message.$dirty && _contact.message.$invalid]" >
            <%= f.text_area :message, :"ng-model"=>"contact.message" , :required => "required", :name => "message" %>
            <small ng-show="_contact.message.$dirty && _contact.message.$invalid || submitted">
              <div ng-show="_contact.message.$error.required"><%= I18n.t("views.contacts.form.field_5.error.required") %></div>
            </small>
          </div>
        </div>
        <div class='row padding-50'>
          <div class="large-3 large-centered columns">
            <input type="submit" class="button pre radius" style="padding: 10px 10px" value="&nbsp;<%= I18n.t('views.contacts.form.submit') %>&nbsp;" >
          </div>
        </div>
        <div ng-show="preload" style="display: none;" class="preloader">
        </div>
    <% end %>
  </div>
  <img src="assets/Imagen.png" class="centered" width="81" height="82" alt=""/>
  <h6 class="text-center"><%= I18n.t('views.contacts.support') %></h6>
  <p class="text-center"><%= I18n.t('views.contacts.contact') %></p>
  <p class="text-center"><%= I18n.t('views.contacts.address') %></p>
  <br />
</div>