<% if @enabled && @data && request.post? && @approbation_number.blank? %>
<form action="<%= office_admin_root_path %>" onsubmit="return confirm('Esta seguro de redimir este giftcode.');" method="post">
  <table border="0" cellspacing="0" cellpadding="0" style="font-size: 42px;">
    <tr >
      <td>Ingrese Valor:</td>
    </tr>
    <tr>
      <td>
        <br/>
        <input type="hidden" name="authenticity_token" value="#{form_authenticity_token.to_s}">
        <input type="text" name="value" value='<%= @data[:balance].to_s %>' />
        <input type="hidden" name="redemption_pin" value='<%= @data[:pin].to_s %>' />
      </td>
      <td>
        <br/>
        <br/>
        <select name="currency">
          <%= options_from_collection_for_select(@currency, :short_name, :name) %>
        </select>
      </td>
      <td style="font-size: 22px;" >
        <br/>
        <br/>
        <input type="submit" name="redimir" value="Redimir">
      </td>
    </tr>
  </table>
</form>
<% end %>