<% if @redeem %>
<div class="panel">
  <h3>Redención Giftcode</h3>
  <div class="panel_contents">
    <form action="<%= office_admin_root_path %>" method="post">
      <input type="hidden" name="authenticity_token" value="#{form_authenticity_token.to_s}">
      <div style="text-align: center;">
        <label for="gift_code_redemption_pin"><b>Ingrese PIN: </b></label>
        <input id="gift_code_redemption_pin" type="password" name="redemption_pin" autocomplete="off">
        <input type="submit" value="Validar" name="validar">
      </div>
    </form>
  </div>
</div>
<% end %>