<% if @message %>
    <br>
    <h2 style="color: darkorange"><%= @message %></h2>
<% end %>

<% if @enabled && @data && request.post? %>
<table border="0" cellspacing="0" cellpadding="0">
  <thead>
  <tr>

    <th class="balance">Balance</th>

  </tr>
  </thead>
  <tbody>
  <tr >

    <td>
      <h1 style="font-size: 82px;">
        <%= number_to_currency( @data[:balance], :separator => ",", :delimiter => ".", :precision => 0, :locale => :en) %>
      </h1>
    </td>

  <tr>

  </tbody>
</table>
<hr>
<br>
<% end %>