<%= semantic_form_for GiftCode.new, :url => gift_code_query_office_admin_gift_codes_path, :html => {:method => :get} do |f| %>
    <%= f.inputs "Consultar la informacion detallada de un GiftCode de un cliente:" do %>
      <%= f.input :content_qr_code, :label => "Contenido del GiftCode", :as => :password, :input_html => { :maxlength => 50  }, :required => true %>
        <%= f.actions do %>
          <%= f.commit_button "Consultar" %>
        <% end %>
    <% end %>
<% end %>