<%= semantic_form_for GiftCode.new, :url => gift_code_query_office_admin_gift_codes_path, :html => {:method => :get} do |f| %>
    <%= f.inputs "Utilizando el PIN" do %>
      <%= f.input :redemption_pin, :label => "Ingrese el PIN:", :input_html => { :maxlength => 12, :autocomplete => :off }, :required => true, :hint => "Ingrese manualmente los 12 caracteres del PIN del GiftCode, NO incluya el caracter de separación." %>
        <%= f.actions do %>
            <%= f.actions :submit,{ :label => "Consultar/Pagar", :button_html => { :as => :button } }  %>
        <% end %>
    <% end %>
<% end %>