<%= semantic_form_for GiftCode.new, :url => gift_code_query_office_admin_gift_codes_path, :html => {:method => :get} do |f| %>
    <%= f.inputs "Utilizando el QR Code" do %>
      <%= f.input :content_qr_code, :label => "Ingrese el contenido del QR Code:", :as => :password, :input_html => { :maxlength => 50, :autocomplete => :off, :autofocus => true  }, :required => true, :hint => "Lea el contenido del QR code utilizando el lector." %>
        <%= f.actions do %>
          <%= f.actions :submit,{ :label => "Consultar/Pagar", :button_html => { :as => :button } }  %>
        <% end %>
    <% end %>
<% end %>