<tr>
  <td valign="top" align="center">

    <table width="600" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;background-color:#1d1916;border-top:0;border-bottom:0">
      <tbody>
      <tr>
        <td valign="top" style="padding-bottom:9px">
          <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse">
            <tbody>
            <tr>
              <td valign="top" style="padding:9px">
                <table width="false" align="left" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse">
                  <tbody>
                  <tr>
                    <td valign="top" align="center" style="padding:9px 140px 0px 140px">
                      <a target="_blank" style="word-wrap:break-word" title="" href="http://giftcode.co">
                        <img width="142" style="max-width:142px;border:0;outline:none;text-decoration:none;vertical-align:bottom" src="https://ci3.googleusercontent.com/proxy/3UpaXtJ6mj3KMjzcf_yUJ3zCidqrXaIVaVmT9mJPOJEmwfF42HtmFiC8ZrZFiljBfLVDV6_JCTycnbIf9gMci29Al3amdw=s0-d-e1-ft#http://greencode.co/images/logo_footer_nuevo.png" alt="">
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td width="564" valign="top" style="padding:0px 140px 9px 140px;text-align:center;color:#606060;font-family:Helvetica;font-size:12px;line-height:125%">
                      <div style="text-align:center">
                        <span style="color:#666666">
                            &copy; Giftcode 2014 | Todos los derechos reservados
                        </span>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>

  </td>
</tr>