<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Giftcode</title>

<style type="text/css">
    #outlook a{
        padding:0;
    }
    body{
        width:100% !important;
    }
    .ReadMsgBody{
        width:100%;
    }
    .ExternalClass{
        width:100%;
    }
    body{
        -webkit-text-size-adjust:none;
    }
    body{
        margin:0;
        padding:0;
    }
    img{
        border:0;
        height:auto;
        line-height:100%;
        outline:none;
        text-decoration:none;
    }
    table td{
        border-collapse:collapse;
    }
    #backgroundTable{
        height:100% !important;
        margin:0;
        padding:0;
        width:100% !important;
    }
        /*
        @tab Page
        @section heading 1
        @tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.
        @style heading 1
        */
    h1,.h1{
        /*@editable*/color:#2d781b;
        display:block;
        /*@editable*/font-family:Helvetica;
        /*@editable*/font-size:60px;
        /*@editable*/font-weight:normal;
        /*@editable*/letter-spacing:-4px;
        /*@editable*/line-height:100%;
        margin-top:0;
        margin-right:0;
        margin-bottom:10px;
        margin-left:0;
        /*@editable*/text-align:left;
    }
        /*
        @tab Page
        @section heading 2
        @tip Set the styling for all second-level headings in your emails.
        @style heading 2
        */
    h2,.h2{
        /*@editable*/color:#363636;
        display:block;
        /*@editable*/font-family:Helvetica;
        /*@editable*/font-size:20px;
        /*@editable*/font-weight:bold;
        /*@editable*/line-height:100%;
        margin-top:0;
        margin-right:0;
        margin-bottom:10px;
        margin-left:0;
        /*@editable*/text-align:left;
    }
        /*
        @tab Page
        @section heading 3
        @tip Set the styling for all third-level headings in your emails.
        @style heading 3
        */
    h3,.h3{
        /*@editable*/color:#363636;
        display:block;
        /*@editable*/font-family:Helvetica;
        /*@editable*/font-size:16px;
        /*@editable*/font-weight:bold;
        /*@editable*/line-height:100%;
        margin-top:0;
        margin-right:0;
        margin-bottom:10px;
        margin-left:0;
        /*@editable*/text-align:left;
    }
        /*
        @tab Page
        @section heading 4
        @tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
        @style heading 4
        */
    h4,.h4{
        /*@editable*/color:#2d781b;
        display:block;
        /*@editable*/font-family:Helvetica;
        /*@editable*/font-size:14px;
        /*@editable*/font-weight:normal;
        /*@editable*/line-height:100%;
        margin-top:0;
        margin-right:0;
        margin-bottom:10px;
        margin-left:0;
        /*@editable*/text-align:left;
    }
        /*
        @tab Header
        @section preheader style
        @tip Set the background color for your email's preheader area.
        @theme page
        */
    #templatePreheader{
        /*@editable*/background-color:#FFFFFF;
    }
        /*
        @tab Header
        @section preheader text
        @tip Set the styling for your email's preheader text. Choose a size and color that is easy to read.
        */
    .preheaderContent{
        /*@editable*/color:#707070;
        /*@editable*/font-family:Helvetica;
        /*@editable*/font-size:11px;
        /*@editable*/line-height:100%;
        /*@editable*/text-align:left;
    }
        /*
        @tab Header
        @section preheader link
        @tip Set the styling for your email's preheader links. Choose a color that helps them stand out from your text.
        */
    .preheaderContent a:link,.preheaderContent a:visited,.preheaderContent a .yshortcuts {
        /*@editable*/color:#2d781b;
        /*@editable*/font-weight:normal;
        /*@editable*/text-decoration:none;
    }
        /*
        @tab Header
        @section header style
        @tip Set the background color for your email's header area.
        @theme header
        */
    #templateHeader{
        /*@editable*/background-color:#EEEEEE;
    }
        /*
        @tab Header
        @section header text
        @tip Set the styling for your email's header text. Choose a size and color that is easy to read.
        */
    .headerContent{
        /*@editable*/color:#363636;
        /*@editable*/font-family:Helvetica;
        /*@editable*/font-size:20px;
        /*@editable*/font-weight:bold;
        /*@editable*/line-height:100%;
        /*@editable*/text-align:left;
        /*@editable*/vertical-align:top;
    }
        /*
        @tab Header
        @section header link
        @tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
        */
    .headerContent a:link,.headerContent a:visited,.headerContent a .yshortcuts {
        /*@editable*/color:#2d781b;
        /*@editable*/font-weight:normal;
        /*@editable*/text-decoration:underline;
    }
    #headerImage{
        height:auto;
        max-width:600px;
    }
        /*
        @tab Body
        @section body style
        @tip Set the background color for your email's body area.
        */
    #templateBody{
        /*@editable*/background-color:#EEEEEE;
    }
        /*
        @tab Body
        @section coupon style
        @tip Set the background color and border for your email's coupon area.
        */
    .couponBlock{
        /*@editable*/background-color:#FFFFFF;
        /*@editable*/border:1px solid #E5E5E5;
    }
        /*
        @tab Body
        @section coupon text
        @tip Set the styling for your email's coupon content text. Choose a size and color that is easy to read.
        @theme main
        */
    .couponContent{
        /*@editable*/color:#505050;
        /*@editable*/font-family:Helvetica;
        /*@editable*/font-size:12px;
        /*@editable*/line-height:150%;
        /*@editable*/text-align:left;
    }
        /*
        @tab Body
        @section coupon link
        @tip Set the styling for your email's coupon content links. Choose a color that helps them stand out from your text.
        */
    .couponContent a:link,.couponContent a:visited,.couponContent a .yshortcuts {
        /*@editable*/color:#2d781b;
        /*@editable*/font-weight:normal;
        /*@editable*/text-decoration:underline;
    }
    .bodyContent img,.couponContent img{
        display:inline;
        height:auto;
    }
        /*
        @tab Footer
        @section footer style
        @tip Set the background color and top border for your email's footer area.
        @theme page
        */
    body,#backgroundTable{
        /*@editable*/background-color:#363636;
    }
        /*
        @tab Footer
        @section footer style
        @tip Set the background color and top border for your email's footer area.
        */
    #templateFooter{
        /*@editable*/border-top:0;
    }
        /*
        @tab Footer
        @section footer text
        @tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
        @theme footer
        */
    .footerContent{
        /*@editable*/color:#909090;
        /*@editable*/font-family:Helvetica;
        /*@editable*/font-size:11px;
        /*@editable*/line-height:125%;
        /*@editable*/text-align:left;
    }
        /*
        @tab Footer
        @section footer link
        @tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
        */
    .footerContent a:link,.footerContent a:visited,.footerContent a .yshortcuts {
        /*@editable*/color:#BBBBBB;
        /*@editable*/font-weight:normal;
        /*@editable*/text-decoration:none;
    }
    .footerContent img{
        display:inline;
    }
    #monkeyRewards img{
        max-width:180px;
    }
</style></head>