<h1><strong style="color: #ff0000">Error</strong>::<%= GlobalConstants::env.to_s  %>:giftcode </h1>
<p>Se genero giftcode "id=<%= @giftcode.id %>" sin pin.</p>

<h1><strong style="color: #ff0000">¡INFORMAR AL ADMINISTRADOR DEL SISTEMA!</strong></h1>

