<%= render "head" %>
<center>
<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;margin: 0;padding: 0;height: 100% !important;width: 100% !important;">
<tbody>
<tr>
<td align="center" valign="top" id="bodyCell" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust:100%;margin: 0;padding: 20px;border-top: 0;height: 100% !important;width: 100% !important;">
<!-- BEGIN TEMPLATE // -->
<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="border-collapse: collapse;mso-table-lspace:0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;border: 0;">
<tbody>
<tr style="border-bottom-color: #110d0a">
  <td align="center" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
    <!--BEGIN PREHEADER // -->
    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templatePreheader" style="border-collapse:collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #4ca036;border-top: 0;border-bottom: 0;">
      <tbody>
      <tr>
        <td valign="top" class="preheaderContainer" style="padding-top:9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="border-collapse: collapse;mso-table-lspace:0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
            <tbody class="mcnTextBlockOuter">
            <tr>
              <td valign="top" class="mcnTextBlockInner" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer" style="border-collapse:collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                  <tbody>
                  <tr>
                    <td valign="top" class="mcnTextContent" width="600" style="padding: 9px 0px 9px 0px;background-color: #4ca036;mso-table-lspace: 0pt;mso-table-rspace:0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-family: Helvetica;font-size: 11px;line-height: 125%;text-align:center;">
                      <img align="center" alt="" src="http://greencode.co/images/logo_email_nuevo.png" width="233" style="max-width: 233px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;outline: none;text-decoration:none;-ms-interpolation-mode: bicubic;" class="mcnImage">
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
    <!-- // END PREHEADER -->
  </td>
</tr>

<tr style="background-color:#ffffff;">
  <td align="center" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color:#ffffff;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateColumns" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;border-top: 0;border-bottom: 0;background-color:#ffffff;">
      <tbody>
      <tr>
        <td align="left" valign="top" class="columnsContainer" width="100%" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateColumn" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;width: 100%;">
            <tbody>
            <tr>
              <td valign="top" class="leftColumnContainer" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust:100%;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnCaptionBlock" style="border-collapse:collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                  <tbody class="mcnCaptionBlockOuter">
                  <tr>
                    <td class="mcnCaptionBlockInner" valign="top" style="padding: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                      <table border="0" cellpadding="0" cellspacing="0" class="mcnCaptionRightContentOuter" width="100%" style="border-collapse:collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        <tbody>
                        <tr>
                          <td valign="top" class="mcnCaptionRightContentInner" style="padding: 0 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                            <table class="mcnCaptionRightTextContentContainer" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                              <tbody>
                              <tr>
                                <td valign="top" class="mcnTextContent" style="mso-table-lspace:7pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #858585;font-family: Helvetica;font-size:15px;line-height: 150%;text-align: left;padding: 50px 0px;">
                                  <p style="padding: 0px 0px;text-align: left;mso-table-lspace:0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-family: Helvetica;font-size:15px;line-height: 150%;">
                                    En giftcode queremos que nunca olvides las fechas especiales de tus amigos y que siempre tomes la mejor decision al momento de dar un regalo.
                                  </p>
                                  <p style="padding: 0px 0px;text-align: left;mso-table-lspace:0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-family: Helvetica;font-size:15px;line-height: 150%;">
                                    <%= ( @friends.length > 1 ) ? "Tus amigos #{ @friends.to_sentence(locale: GlobalConstants.I18n_locale ) } se han"  : ('Tu amigo ' + @friends[0]+' se ha ' ) %> unido a giftcode, ya puedes saber sus marcas favoritas y sus fechas especiales.
                                  </p>
                                  <p style="padding: 25px 0px">
                                    <a href="<%= friends_url %>" target="_blank" style="text-decoration: none;background-color: #4ca036;color: #fff;font-family: Helvetica;font-size:15px;line-height: 150%;-webkit-border-radius: 3px;border-radius: 3px;padding: 10px;display: block;width: 95px;margin: 0 auto;"><strong>Entérate aquí</strong></a>
                                  </p>
                                  <p style="padding: 0px 0px;text-align: left;mso-table-lspace:0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-family: Helvetica;font-size:15px;line-height: 150%;">
                                    Queremos que vayas a la fija.
                                  </p>
                                  <p style="padding: 0px 0px;text-align: left;mso-table-lspace:0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-family: Helvetica;font-size:15px;line-height: 150%;">
                                    Seguiremos en contacto.
                                  </p>
                                  <%= render 'firma' %>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>

<%= render 'footer_gift_code' %>

</tbody>
</table>
<!-- // END TEMPLATE-->
</td>
</tr>
</tbody>
</table>
</center>
<%= render "footer" %>