<%= render "head" %>
<center>
<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;margin: 0;padding: 0;height: 100% !important;width: 100% !important;">
<tbody>
<tr>
<td align="center" valign="top" id="bodyCell" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust:100%;margin: 0;padding: 20px;border-top: 0;height: 100% !important;width: 100% !important;">
<!-- BEGIN TEMPLATE // -->
<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="border-collapse: collapse;mso-table-lspace:0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;border: 0;">
<tbody>
<tr style="border-bottom-color: #110d0a">
  <td align="center" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
    <!--BEGIN PREHEADER // -->
    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templatePreheader" style="border-collapse:collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #4ca036;border-top: 0;border-bottom: 0;">
      <tbody>
      <tr>
        <td valign="top" class="preheaderContainer" style="padding-top:9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="border-collapse: collapse;mso-table-lspace:0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
            <tbody class="mcnTextBlockOuter">
            <tr>
              <td valign="top" class="mcnTextBlockInner" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer" style="border-collapse:collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                  <tbody>
                  <tr>
                    <td valign="top" class="mcnTextContent" width="600" style="padding: 9px 0px 9px 0px;background-color: #4ca036;mso-table-lspace: 0pt;mso-table-rspace:0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-family: Helvetica;font-size: 11px;line-height: 125%;text-align:center;">
                      <a target="_blank" style="word-wrap:break-word" title="" href="http://giftcode.co" ><img align="center" alt="" src="http://greencode.co/images/logo_email_nuevo.png" width="233" style="max-width: 233px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;outline: none;text-decoration:none;-ms-interpolation-mode: bicubic;" class="mcnImage"></a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
    <!-- // END PREHEADER -->
  </td>
</tr>
<tr>
  <td align="center" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
    <!--BEGIN HEADER // -->
    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="border-collapse:collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color:#ffffff;border-top: 0;border-bottom: 0;padding: 15px 0px;">
      <tbody>
      <tr>
        <td valign="top" class="headerContainer" style="mso-table-lspace:0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">

          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnCaptionBlock" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust:100%;-webkit-text-size-adjust: 100%;">
            <tbody class="mcnCaptionBlockOuter">
            <tr>
              <td class="mcnCaptionBlockInner" align="center" valign="top" style="padding: 40px 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                <table border="0" cellpadding="0" cellspacing="0" class="mcnCaptionRightContentOuter" width="100%" style="border-collapse:collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                  <tbody>
                  <tr>
                    <td valign="top" align="center" class="mcnCaptionRightContentInner" style="padding: 0 9px;mso-table-lspace: 0pt;mso-table-rspace:0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                      <br>
                      <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnCaptionRightImageContentContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace:0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        <tbody>
                        <tr>
                          <td class="mcnCaptionRightImageContent" align="center" width="100%" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                            <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnCaptionRightImageContentContainer" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace:0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                              <tbody>
                              <tr>
                                <td class="mcnCaptionRightImageContent" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                  <img alt="" src="https://graph.facebook.com/<%= @user.fbk_user_id %>/picture?width=145&height=145" width="145" style="max-width:160px;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;vertical-align: bottom;" class="mcnImage">
                                </td>
                              </tr>
                              </tbody>
                            </table>
                            <table class="mcnCaptionRightTextContentContainer" align="right" border="0" cellpadding="0" cellspacing="0" width="400" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                              <tbody>
                              <tr>
                                <td valign="top" class="mcnTextContent" style="mso-table-lspace:0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #858585;font-family: Helvetica;font-size:18px;line-height: 150%;text-align: left; padding: 0px 0px">
                                  Hola <%= @user.first_name %>!
                                  <p style="padding: 2px 2px;color: #858585;text-align: left;mso-table-lspace:0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-family: Helvetica;font-size:15px;line-height: 150%;">
                                    Por unirte a nosotros lograste:
                                  </p>
                                  <!--<table class="mcnCaptionRightTextContentContainer" align="right" border="0" cellpadding="0" cellspacing="0" width="400" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">-->
                                    <!--<tbody>-->
                                    <!--<tr>-->
                                      <!--<td valign="top" class="mcnTextContent" width="30" style="mso-table-lspace:0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #ffffff;font-family: Helvetica;font-size:15px;line-height: 150%;text-align: left;">-->
                                        <!--<a target="_blank" style="word-wrap:break-word" title="" href="http://giftcode.co" ><img alt="" src="http://greencode.co/images/start_24_24.png" width="24" style="max-width: 24px;border:0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;vertical-align: bottom;" class="mcnImage"></a>-->
                                      <!--</td>-->
                                      <!--<td valign="top" class="mcnTextContent" style="mso-table-lspace:7pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #858585;font-family: Helvetica;font-size:15px;line-height: 150%;text-align: left;">-->
                                        <!--Tus primeros 30 puntos para redimir por giftcodes de tus marcas favoritas (muy pronto).-->
                                      <!--</td>-->
                                    <!--</tr>-->
                                    <!--</tbody>-->
                                  <!--</table>-->

                                  <table class="mcnCaptionRightTextContentContainer" align="right" border="0" cellpadding="0" cellspacing="0" width="400" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                    <tbody>
                                    <tr>
                                      <td valign="top" class="mcnTextContent" width="30" style="mso-table-lspace:0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #ffffff;font-family: Helvetica;font-size:15px;line-height: 150%;text-align: left;">
                                        <a target="_blank" style="word-wrap:break-word" title="" href="http://giftcode.co" ><img alt="" src="http://greencode.co/images/start_24_24.png" width="24" style="max-width: 24px;border:0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;vertical-align: bottom;" class="mcnImage"></a>
                                      </td>
                                      <td valign="top" class="mcnTextContent" style="mso-table-lspace:7pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #858585;font-family: Helvetica;font-size:15px;line-height: 150%;text-align: left;">
                                        Que todos tus amigos conozcan tus marcas favoritas para que vayan a la fija.
                                      </td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table>
          <br/>
        </td>
      </tr>
      </tbody>
    </table>
    <!-- // END HEADER -->
  </td>
</tr>

<%= render 'invite_friends' %>

<tr style="background-color: #4ca036;">
  <td align="center" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #4ca036;">
    <!-- BEGIN BODY // -->
    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #4ca036;border-top: 0;border-bottom: 0;">
      <tbody>
      <tr>
        <td valign="top" class="bodyContainer" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="border-collapse: collapse;mso-table-lspace:0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
            <tbody class="mcnTextBlockOuter">
            <tr>
              <td valign="top" class="mcnTextBlockInner" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust:100%;-webkit-text-size-adjust: 100%;">
                <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer" style="border-collapse:collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                  <tbody>
                  <tr>
                    <td valign="top" class="mcnTextContent" style="padding: 9px 18px;line-height: 110%;mso-table-lspace: 0pt;mso-table-rspace:0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size: 15px;text-align:left;">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnShareBlock" style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust:100%;">
                        <tbody class="mcnShareBlockOuter">
                        <tr>
                          <td valign="top" style="padding: 0px;mso-table-lspace: 0pt;mso-table-rspace:0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #ffffff;" class="mcnShareBlockInner">
                            <p style="padding: 13px 18px;text-align: center;mso-table-lspace:0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-family: Helvetica;font-size:12px;line-height: 150%;">
                              Giftcode contribuye con el cuidado del medio ambiente al evitar el uso de tarjetas plásticas.
                            </p>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
    <!-- // END BODY -->
  </td>
</tr>
<%# render 'footer_gift_code' %>
<tr>
  <td align="center" valign="top" style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateFooter" style="border-collapse:collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color:#1d1916;border-top: 0;border-bottom: 0;">
      <tbody>
      <tr>
        <td valign="top" class="footerContainer" style="padding-bottom:9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnCaptionBlock" style="border-collapse: collapse;mso-table-lspace:0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
            <tbody class="mcnCaptionBlockOuter">
            <tr>
              <td class="mcnCaptionBlockInner" valign="top" style="padding: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust:100%;-webkit-text-size-adjust: 100%;">
                <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnCaptionBottomContent" width="false" style="border-collapse:collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%">
                  <tbody>
                  <tr>
                    <td class="mcnCaptionBottomImageContent" align="center" valign="top" style="padding: 9px 9px 0px 140px;mso-table-lspace:0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                      <a href="http://giftcode.co" title="" class="" target="_self" style="word-wrap: break-word;-ms-text-size-adjust:100%;-webkit-text-size-adjust: 100%;">
                        <img alt="" src="http://greencode.co/images/logo_footer_nuevo.png" width="142" style="max-width:142px;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;vertical-align: bottom;" class="mcnImage">
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="mcnTextContent" valign="top" style="padding: 0px 9px 9px 140px;text-align: center;mso-table-lspace:0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size:12px;line-height: 125%;" width="564">
                      <div style="text-align: center;">
                        <span style="color:#666666;">
                            © Giftcode <%= Time.now.year %> | Todos los derechos reservados
                        </span>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
              <td class="mcnCaptionBlockInner" valign="top" style="padding: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust:100%;-webkit-text-size-adjust: 100%;color:#666666;font-size:12px;">
                En alianza con:
                <img alt="" src="http://greencode.co/images/RBM-grises2.png" width="90" style="max-width:90px;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;vertical-align: bottom;" class="mcnImage">
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
</tbody>
</table>
<!-- // END TEMPLATE-->
</td>
</tr>
</tbody>
</table>
</center>
<%= render "footer" %>