<form accept-charset="UTF-8" action="<%= files_brand_admin_campaign_path(resource.id) %>" method="get" class="filter_form" >
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input type="hidden" name="authenticity_token" value="#{form_authenticity_token.to_s}">
  <div class="filter_form_field filter_date_range"><label for="q_created_at_gte" class="label">Fecha del movimiento:</label>
    <input type="text" value="<%= (Time.zone.now - 1.day).strftime("%Y-%m-%d") %>" size="12" name="q" max="10" id="q" class="datepicker" maxdate="">
    <input type="submit" name="type" value="Movimientos">
    <input type="submit" name="type" value="Consolidado">
  </div>
</form>