<div id="office-transactions-time-<%= office.id %>" style="width : 300px;height: 100px; margin: 8px auto;"></div>

<script>
(function () {
  var
    d1 = [ 0, 0 ],
    container = document.getElementById('office-transactions-time-<%= office.id %>'),
    options,
    graph,
    x,
    o;

    <% group = office.time_transactions_group %>
    <% group.each do |group| %>
    d1.push([new Date("<%= group[0].gsub(/[-]/, '/')  %>").getTime(), <%= group[1] %>])
    <% end  %>
    <% max = group.max_by{ |g| g[1] }%>
    <% max_date = group.max_by{ |g| g[0] }%>
    <% min_date = group.min_by{ |g| g[0] }%>
    day = ( ((1000*60 )*60)*24 );

  options = {
    yaxis: {
      min: 0,
      max: <%= max.to_a[1].to_i + 1 %>,
      tickDecimals: false
      <%= ( group.count == 0 ) ? ", showLabels: false ": "" %>

    },
    xaxis : {
      mode : 'time', 
      labelsAngle : 45,
      min: (new Date("<%= min_date.to_a[0].to_s.gsub(/[-]/, '/') %>").getTime() ) - day,
      max: (new Date("<%= max_date.to_a[0].to_s.gsub(/[-]/, '/') %>").getTime() ) + day
      <%= ( group.count <= 2 ) ? ", timeFormat: \"%b %d\" ".html_safe : "" %>
      <%= ( group.count == 0 ) ? ", showLabels: false ": "" %>
    },
    selection : {
      mode : 'x'
    },
    points: { show: true },
    lines: { show: true},
    HtmlText : false
  };
        
  // Draw graph with default options, overwriting with passed options
  function drawGraph (opts) {

    // Clone the options, so the 'options' variable always keeps intact.
    o = Flotr._.extend(Flotr._.clone(options), opts || {});

    // Return a new graph.
    return Flotr.draw(
      container,
      [ d1 ],
      o
    );
  }

  graph = drawGraph();      
        
  Flotr.EventAdapter.observe(container, 'flotr:select', function(area){
    // Draw selected area
    graph = drawGraph({
      xaxis : { min : area.x1, max : area.x2, mode : 'time', labelsAngle : 45 },
      yaxis : { min : area.y1, max : area.y2 }
    });
  });
        
  // When graph is clicked, draw the graph with default area.
  Flotr.EventAdapter.observe(container, 'flotr:click', function () { graph = drawGraph(); });

})();
</script>