<div class="row arrow_top" >
  <div class="large-12 columns" >
    <div class="brands shopping" >
      <div class="shop" ng-show="data_bono"  >
        <div class="row">
          <div class="large-12 columns">
            <%# BUSCARDOR DE AMIGOS %>
            <%= render 'search_friends' %>
            <%# FIN BUSCARDOR DE AMIGOS  %>
            <%# FORM  %>
            <%= render 'form' %>
            <%# FORM %>
          </div>
        </div>
      </div>
      <div ng-if="!data_bono" ng-include="payment_url" >
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>