<div style="background-color: dimgray;padding: 40px; color: #ffffff">
  <div class="row" >
    <div class="centered" >
      GiftCode es la manera más fácil de enviar bonos electrónicos de regalo  <a class="button pre radius" href="#" >Ver más</a>
    </div>
  </div>
</div>