<div class="large-3 columns" ng-init="load_friends();">
  <h5 class="whitetxt subheader" >Buscador de amigos</h5>
  <input type="text" ng-model="search.complete_name" class="search-query" placeholder="Buscar">
  <div class="" style="">
    <div class="" style="overflow-y: auto; height: 340px">
      <ul class="no-bullet">
        <li ng-repeat="friend in friends | filter: search | orderBy:'first_name'" >
          <h6 class="add-friend">
            <a ng-click="load_friend( friend )" >
              <img ng-src="{{friend.image.thumb140.url}}"  height ='20'  width = '20'> <var ng-bind="(friend.first_name + ' ' +friend.last_name) | characters:21"></var> <span>+</span>
            </a>
          </h6>
        </li>
      </ul>
    </div>
    <!--<div class="nano-pane"><div class="nano-slider"></div></div>-->
  </div>
</div>