<div ng-controller="LandingPageCtrl" ng-init="give=<%= user_signed_in? %>">
<%# repeat scroll 0% 0% / cover transparent %>
    <div
        class="personal-banner"
        <% if Rails.env.development? %>
            style="background: url(..<%= @brand.large_image.url.to_s %>) repeat scroll right bottom; height: 221px;"
        <% else %>

            style="background: url(<%= @brand.large_image.url.to_s %>) repeat scroll right bottom; height: 221px;"
        <% end %>
    >

    </div>

    <div class="row">
    <% if user_signed_in? %>

        <h2 class="centered"><%= @brand.name %></h2>
        <!--<div class="centered bottom padding-top-20 button_landing_brand" >-->
        <!--<%# 'ng_click=login()' unless user_signed_in? %>-->
        <!--<a class="button success radius normal <%# 'disabled' if user_signed_in? %>"  <%# user_signed_in? ? '':'ng-click=login()' %> <%# 'ng_disabled="true"' if user_signed_in? %>><span class="gifty"></span><span class="border">Regalar <%# @brand.name %></span></a>-->
        <!--</div>-->
      <div ng-show="give">
          <%= render 'confirmation' %>
          <%= render 'div_form'  %>
      </div>
    <% else %>
      <div class="large-6 columns" ng-include="'api/off/v1/pages/<%= @brand.name  %>'" ></div>
    <% end %>

        <div class="<%= user_signed_in?  ? 'row' : 'large-6 columns panel' %>">
          <div class="large-11 columns large-centered">
            <h3 class="text-center ">Información de la marca</h3>
            <p class="text-center " ><%= @brand.description %></p>
          </div>
          <div class="large-12 columns large-centered padding-top-20">
            <h5 class="text-center subheader">Tiendas disponibles para redimir un giftcode</h5>
            <hr>
            <% @brand.offices.each do |office| %>
                <div>
                  <p class="centered"><%= office.office_name %>, <%= office.city.name %>. <%= office.office_address %></p>
                  <hr>
                </div>
            <% end  %>
          </div>
        </div>
    </div>
</div>