<div class="row text-justify" id="form" style="display: none;" >
  <div class="large-12 columns">
    <div class="brands shopping" >
      <div ng-show="data_bono">
          <div class="shop show-hide" ng-show="_data">
            <div class="row">
              <div class="large-12 columns">
                <%# BUSCARDOR DE AMIGOS %>
                    <%= render 'give/search_friends' %>
                    <%= render 'give/search_brands' %>
                <%# FIN BUSCARDOR DE AMIGOS  %>
                <%# FORM  %>
                    <%= render 'give/form' %>
                <%# FORM %>
              </div>
            </div>
          </div>
          <div ng-if="_data==false" class="preloader"></div>
      </div>
      <div ng-if="!data_bono" ng-include="payment_url" >
      </div>
    </div>
  </div>
</div>