<div id="data-form" class="large-9 columns">
  <h5 class="whitetxt subheader">Datos del destinatario</h5>
  <form name="data" class="custom" novalidate ng-submit="next(data)" >
    <div class="row collapse">
      <div class="large-6 columns">
        <div class="row">
          <div class="small-6 columns">
            <label for="gift_code_to_first_name" class="right inline whitetxt">Nombres *</label>
          </div>
          <div class="small-6 columns" ng-class="{true: 'error', false: '' }[ data.to_first_name.$invalid && submitted || data.to_first_name.$dirty && data.to_first_name.$invalid]">
            <input type="text" name="to_first_name" id="gift_code_to_first_name" ng-model="gift_code.to_first_name" required />
            <small ng-show="data.to_first_name.$dirty && data.to_first_name.$invalid || submitted">
              <div ng-show="data.to_first_name.$error.required">Campo obligatorio.</div>
            </small>
          </div>
        </div>
        <div class="row">
          <div class="small-6 columns">
            <label for="gift_code_to_last_name" class="right inline whitetxt" >Apellidos *</label>
          </div>
          <div class="small-6 columns" ng-class="{true: 'error', false: '' }[ data.to_last_name.$invalid && submitted || data.to_last_name.$dirty && data.to_last_name.$invalid]">
            <input type="text" name="to_last_name" id="gift_code_to_last_name" ng-model="gift_code.to_last_name" required />
            <small ng-show="data.to_last_name.$dirty && data.to_last_name.$invalid || submitted">
              <div ng-show="data.to_last_name.$error.required">Campo obligatorio.</div>
            </small>
          </div>
        </div>
        <div class="row">
          <div class="small-6 columns">
            <label for="gift_code_to_mobile_phone" class="right inline whitetxt" >Celular </label>
          </div>
          <div class="small-6 columns" ng-class="{true: 'error', false: '' }[ data.to_mobile_phone.$invalid && submitted || data.to_mobile_phone.$dirty && data.to_mobile_phone.$invalid]">
            <input type="text" name="to_mobile_phone" id="gift_code_to_mobile_phone" ng-model="gift_code.to_mobile_phone"  />
            <small ng-show="data.to_mobile_phone.$dirty && data.to_mobile_phone.$invalid || submitted">
              <div ng-show="data.to_mobile_phone.$error.number">Ingresar un número telefónico.</div>
            </small>
          </div>
        </div>
        <div class="row">
          <div class="small-6 columns">
            <label for="gift_code_to_email" class="right inline whitetxt" >e-Mail *</label>
          </div>
          <div class="small-6 columns" ng-class="{true: 'error', false: '' }[ data.to_email.$invalid && submitted || data.to_email.$dirty && data.to_email.$invalid]">
            <input type="email" name="to_email" id="gift_code_to_email" ng-model="gift_code.to_email" required ng-pattern="EMAIL_REGEXP" />
            <small ng-show="data.to_email.$dirty && data.to_email.$invalid || submitted">
              <div ng-show="data.to_email.$error.required" >Campo obligatorio.</div>
              <div ng-show="data.to_email.$error.pattern">Ingresar un correo electronico valido.</div>
            </small>
          </div>
        </div>
        <div class="row">
          <div class="small-6 columns">
            <label for="gift_code_to_email_confirmation" class="right inline whitetxt"  >Confirmar e-Mail *</label>
          </div>
          <div class="small-6 columns" ng-class="{true: 'error', false: '' }[ data.to_email_confirmation.$invalid && submitted || data.to_email_confirmation.$dirty && data.to_email_confirmation.$invalid]">
            <input type="email" name="to_email_confirmation" id="gift_code_to_email_confirmation" ng-model="gift_code.to_email_confirmation" match="gift_code.to_email" required />
            <small ng-show="data.to_email_confirmation.$dirty && data.to_email_confirmation.$invalid || submitted">
              <div ng-show="data.to_email_confirmation.$error.required">Campo obligatorio.</div>
              <div ng-show="data.to_email_confirmation.$error.email">Ingresar un correo electronico valido.</div>
              <div ng-show="data.to_email_confirmation.$error.mismatch">Correo electronico no coinciden.</div>
            </small>
          </div>
        </div>
        <!--<div class="row">-->
        <!--<div class="small-6 columns">-->
        <!--<label for="gift_code_gift_card_id" class="right inline whitetxt" >Ciudad de destino *</label>-->
        <!--</div>-->
        <!--<div class="small-6 columns" ng-class="{true: 'error', false: '' }[ data.to_city_id.$invalid && submitted || data.to_city_id.$dirty && data.to_city_id.$invalid]">-->
        <!--<select required="required" ng-model="gift_code.to_city_id" name="to_city_id" id="to_city_id">-->
        <!--<option value=""></option>-->
        <!--<option ng-repeat="city in cities" value="{{city.id}}" ng-bind="city.name"></option>-->
        <!--</select>-->
        <!--<small ng-show="data.to_city_id.$dirty && data.to_city_id.$invalid || submitted">-->
        <!--<div ng-show="data.to_city_id.$error.required">Campo obligatorio.</div>-->
        <!--</small>-->
        <!--</div>-->


        <!--<div class="row"  ng-class="{ error: data.country.$invalid && submitted }">-->
        <!--<div class="small-6 columns"><label class="right inline">País *</label></div>-->
        <!--<div class="small-6 columns" ng-init="countries=<%# countries_list.to_json %>">-->
        <!--<select ng-model="gift_code.country" class="no-custom" name="country"  required >-->
        <!--<option value="" ></option>-->
        <!--<option ng-repeat="country in countries | orderBy:'2'" value="{{country[0]}}" >{{country[2]}}</option>-->
        <!--</select>-->
        <!--<small class="error" ng-if="data.country.$invalid && submitted ">-->
        <!--<div ng-show="data.country.$error.required">Campo obligatorio.</div>-->
        <!--</small>-->
        <!--</div>-->

      </div>
      <div class="large-6 columns">

        <div class="row">
          <div class="small-4 columns">
            <label for="gift_code_gift_card_id" class="right inline whitetxt">Valor *</label>
          </div>
          <div class="small-8 columns">
            <div class="row">
              <div class="small-12 columns" ng-class="{true: 'error', false: '' }[ data.gift_card_id.$invalid && submitted || data.gift_card_id.$invalid && select_gift_card_show ]">
                <select name="gift_card_id" id="gift_card_id" class="no-custom" ng-model="gift_code.gift_card_id" ng-change="calculate_cost(gift_code.gift_card_id)" required>
                  <option></option>
                  <option ng-repeat="gift_card in gift_cards" ng-value="gift_card.id" ng-bind="gift_card.campaign.currency.short_name + ' ' + gift_card.cost_current"></option>
                </select>
                <small ng-show="data.gift_card_id.$invalid && submitted || data.gift_card_id.$invalid && select_gift_card_show">
                  <div ng-show="data.gift_card_id.$error.required">Campo obligatorio.</div>
                </small>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="small-3 columns">
                Bono
              </div>
              <div class="small-9 columns">
                <label class="right whitetxt" ng-bind="gift_code.cost_current"></label>
              </div>
            </div>
            <div class="row">
              <div class="small-3 columns">
                Servicio
              </div>
              <div class="small-9 columns">
                <label class="right whitetxt" ng-bind="cost.admin.currency.short_name + ' ' + cost.admin.value"></label>
              </div>
            </div>
            <div class="row">
              <hr>
              <div class="small-3 columns">
                Total
              </div>
              <div class="small-9 columns">
                <label class="right whitetxt" ng-bind="gift_code.total_current"></label>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="small-4 columns">
            <label for="gift_code_body_message" class="right inline whitetxt" >Mensaje *</label>
          </div>
          <div class="small-8 columns" ng-class="{true: 'error', false: '' }[ data.body_message.$invalid && submitted || data.body_message.$dirty && data.body_message.$invalid]">
            <textarea type=text class="right inline" name="body_message" id="gift_code_body_message" ng-model="gift_code.body_message" required ng-maxlength="110" >
            </textarea>
            <small ng-show="data.body_message.$dirty && data.body_message.$invalid || submitted ">
              <div ng-show="data.body_message.$error.required">Campo obligatorio.</div>
              <div ng-show="data.body_message.$error.maxlength">Número maximo de caracteres 110.</div>
            </small>
          </div>
        </div>

        <br>
        <!--FECHA DE ENVIO -->
        <div class="row">

          <div class="small-7 columns">
            <label class="right inline whitetxt" >Fecha de envio *</label>
          </div>

          <div class="small-5 columns" ng-init="gift_code.send_notifications_now=true">
            <div ng-hide="gift_code.send_notifications_now" >
              <div class="" ng-class="{true: 'error', false: '' }[data.send_date.$invalid && submitted ]">
                <input type="text" id="send_date"  name="send_date" autocomplete="off" ng-model="gift_code.send_date" ng-required="!gift_code.send_notifications_now" datepicker date="{{!gift_code.send_notifications_now}}" ng-disabled="gift_code.send_notifications_now" ng-init="gift_code.send_date='';">
                <small ng-show="data.send_date.$invalid && submitted || data.send_date.$dirty && data.send_date.$invalid">
                  <div ng-show="data.send_date.$error.date || data.send_date.$error.henceforward">Fecha invalida.</div>
                  <div ng-show="data.send_date.$error.required">Campo obligatorio.</div>
                </small>
              </div>
              <div class="" ng-class="{true: 'error', false: '' }[!data.send_date.$error.required && data.send_time.$invalid ]" >
                <%= select_hour(nil,{ ampm: true, prompt: 'Hora' }, { :class=> 'no-custom', :'ng-model'=> 'gift_code.send_time', :id => 'send_time',  :name => 'send_time', :'ng-disabled' => 'gift_code.send_notifications_now', :hour=>'{{!gift_code.send_notifications_now}}', :send_date => '{{gift_code.send_date}}', :'ng-required'=>'!gift_code.send_notifications_now' } ) %>
                <small ng-show="!data.send_date.$error.required && data.send_time.$invalid">
                  <div ng-show="data.send_time.$error.henceforward">Hora invalida.</div>
                  <div ng-show="data.send_time.$error.required">Campo obligatorio.</div>
                </small>
              </div>
            </div>
            <div class="row right">
              <div class="" ng-style="gift_code.send_notifications_now && { 'padding-top':'10px' } ">
                <p ng-hide="gift_code.send_notifications_now" ></p>
                <label><input type="checkbox" id="send_notifications_now" ng-model="gift_code.send_notifications_now" name="send_notifications_now" class="no-custom" ng-click="gift_code.send_date='1';gift_code.send_date='';data.send_date.$setViewValue('');data.send_date.$render();data.send_date.$dirty=false;   gift_code.send_time='1';gift_code.send_time='';data.send_time.$setViewValue('');data.send_time.$render();data.send_time.$dirty=false;"> Enviar ahora</label>
              </div>
            </div>
          </div>

        </div>
        <!--FIN FECHA DE ENVIO -->

        <div class="goto-buttons right">
          <a ng-click="close(data)" class="cancelar button gray">Cancelar</a>
          <button type="submit" class="button pre continue" ng-disabled="preload_form">Continuar</button>
        </div>
      </div>
    </div>
  </form>
  <div ng-show="preload_form" class="preloader show-hide" >
  </div>
</div>