<div class="large-3 columns" ng-show="form_brand">
  <h5 class="whitetxt subheader" >Buscador de amigos</h5>
  <input type="text" ng-model="search_friends.complete_name" class="search-query" placeholder="Buscar">
  <div class="" style="">
    <div class="list-brands-friends" >
        <ul class="no-bullet ">
        <li ng-repeat="friend in friends | filter: { complete_name: search_friends.complete_name } | orderBy:'first_name'  " >
          <h6 class="add-friend">
            <a ng-click="load_friend( friend )">
              <img ng-src="{{friend.image.thumb140.url}}"  height ='20'  width = '20'>  <var ng-bind="(friend.first_name + ' ' +friend.last_name) | characters:21"></var> <span>+</span>
            </a>
          </h6>
        </li>
        </ul>
    </div>
  </div>
</div>