<div class="large-3 columns" ng-show="form_friend">
  <!--<h5 class="whitetxt subheader" ></h5>-->
  <li ng-if="favorites.length > 0">
    <h6 class="add-friend " style="color: yellowgreen;">
      <i ng-bind="text_favorite | characters:30" style="font-size: 13px"></i>
            <span class="favorite right">
              <i class="fi-heart size-17"></i>
            </span>
    </h6>
  </li>
  <input type="text" ng-model="search_brand.name" class="search-query" placeholder="Buscador de marcas">
  <div class="" >
    <div class="list-brands-friends">
      <ul class="no-bullet">
        <li ng-repeat="brand in brands | filter: { name: search_brand.name } | orderBy:'-favorite':'name' " >
          <h6 class="add-friend">
            <a ng-click="load_brand(brand)">
              <img ng-src="{{brand.url.image.thumb20.url}}"  height ='20'  width = '20'> <var ng-bind="(brand.name) | characters:19"></var> <span ng-hide="brand.favorite" >+</span> <span class="favorite" ng-show="brand.favorite"><i class="fi-heart size-17"></i></span>
            </a>
          </h6>
        </li>
      </ul>
    </div>
    <!--<div class="nano-pane"><div class="nano-slider"></div></div>-->
  </div>
</div>