<%# render 'personal-banner' %>

<div ng-controller="GiveCtrl" ng-init="load_brands();load_friends();load_referrals();">


  <div class="row">
    <form novalidate >
      <!--large-centered -->
          <div class="large-2 columns padding-top-50"></div>
          <div class="large-5 columns padding-top-50 centered">
            <div class="row collapse">
              <div class="small-9 columns">
                <input type="text" ng-model="search" name="search" placeholder="Busca a tus amigos">
              </div>
              <div class="small-3 columns">
                <input type="submit" class="button postfix gray radius" value=" Buscar " style="" >
              </div>
            </div>
          </div>
          <div class="large-4 columns padding-top-50 centered">
            <dl class="sub-nav">
              <dt>Filter:</dt>
              <dt ng-class="{true:'active', false:''}[filter == 'all']"><a href="" ng-click="load_friends()" >Todos (<i class="" ng-bind="all_friends.length"></i>) </a></dt>
              <dt ng-class="{true:'active', false:''}[filter == 'referrals']"> <a href="" ng-click="load_referrals()" >Referidos (<i class="" ng-bind="referrals_friends.length"></i>) </a></dt>
            </dl>
          </div>
          <div class="large-1 columns padding-top-50"></div>
    </form>
  </div>

  <div  ng-hide="friends.length > 0 || brands.length > 0" class="row">
    <div class="preloader" style="margin-top: -150px"></div>
    <div style="height: 200px">
    </div>
  </div>

  <div class="show-hide" ng-show="friends.length > 0" ng-init="" >
    <!--<h6 class="subheader text-center">Puedes enviar un giftcode seleccionando una marca ó un amigo</h6>-->
    <%# render 'give_by' %>


    <div class="main-ux" >
      <div class="row">
        <div id="alert-box" data-alert="" class="alert-box alert radius show-hide" ng-show="alert" ng-bind="message"></div>
        <div id="content_friends" class="large-12 columns" >
          <ul class="brands-circle friends text-center show-hide" style="" ng-show="friends" id="list" infinite-scroll="objects = objects + 10" infinite-scroll-distance='2'>
            <!--ng-class="{true: 'referal', false: 'giftcoder' }[friend.referral_id == <%# current_user.fbk_user_id %>]"-->
            <li
                class="list"
                ng-repeat="friend in view = (friends | filter: { complete_name: search } | limitTo: objects)" id="friend_{{$index+1}}"
                ng-attr-data-tooltip
                ng-attr-data-width="160"
                ng-attr-data-options="disable-for-touch:true"
                ng-attr-title="{{friend.first_name + ' ' + friend.last_name}}"
            >

              <img ng-click="form({ type: 'FRIEND', id: $index + 1, friend: friend });"  alt="" ng-src="{{friend.image.thumb140.url}}" height="195" width="195" style="cursor:pointer;height:195;width:195;" >
              <h5 ng-bind="(friend.first_name.split(' ')[0] + ' ' + friend.last_name.split(' ')[0]) | characters:9"></h5>
              <a ng-if="brands.length > 0" class='button gray pre radius' ng-click="form({ type: 'FRIEND', friend: friend }, $index + 1)" >Regalar</a>
            </li>
          </ul>
        </div>

        <%# DIV FORM %>
        <%= render "div_form" %>
        <%# FIN DIV FORM  %>
        <%#MODAL GIFTCODE %>
        <%= render "modal_gift_code" %>
        <%#FIN MODLA GIFTCODE %>
      </div>
    </div>
  </div>

  <div class="show-hide" ng-show="brands.length == 0 " >
    <div class="row"   >
      <div class="large-12 columns padding-20">
        <div class="radius lightbanner"  >
          <div class="row">
            <div class="large-12 columns text-center">
              <img class="left" src="assets/gamificacion_alert.png" width="101" height="96" alt="Gamificacion Alert">
              <br>
              <br>
              <h4 class="subheader">En este momento no hay giftcodes disponibles.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="show-hide"  ng-show="friends.length == 0" >
    <div class="row"   >
      <div class="large-12 columns padding-20">
        <div class="radius lightbanner"  >
          <div class="row">
            <div class="large-12 columns text-center">
              <img class="left" src="assets/gamificacion_alert.png" width="101" height="96" alt="Gamificacion Alert">
              <br>
              <br>
              <h4 class="subheader">No tienes amigos en GiftCode.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="graybanner no-padding no-margin">
    <div class="row">
      <div class="large-12 columns large-centered">
        <h4 class="subheader text-center">Invita a todos tus amigos, compartiendo el siguiente enlance.</h4>
        <form action="#" class="custom padding-top-20">
          <div class="row collapse" >
            <div class="large-6 columns large-centered">
              <div class="row collapse">
                <div class="large-8 columns">
                  <div class="small-7 columns">
                    <input id="copy-text" class="no-border-radius" type="text" value="<%= root_url %>?amigo=<%= current_user.fbk_user_id %>&utm_source=giftcode&utm_medium=copy_text" readonly/>
                  </div>
                  <div class="small-5 columns">
                    <input type="submit" class="button postfix radius gray" value="Copiar link" id="copy-button"  data-clipboard-text="<%= root_url %>?amigo=<%= current_user.fbk_user_id %>&utm_source=giftcode&utm_medium=copy_link" >
                  </div>
                </div>
                <div class="large-4 columns">
                  <ul class="social-strip generic left">
                    <li><a href="https://twitter.com/share?url=<%= root_url %>?amigo=<%= current_user.fbk_user_id %>&utm_source=giftcode&utm_medium=twitter&text=Utiliza mi link de @giftcode y obtén 100 puntos canjeables por bonos de las mejores marcas&related=<%= GlobalConstants::TWITTER_RELATED_ACCOUNTS %>&lang=es" class="t" target="_blank" >twitter</a></li>
                    <li><a href="http://www.facebook.com/share.php?u=<%= root_url %>?amigo=<%= current_user.fbk_user_id %>&utm_source=giftcode&utm_medium=facebook" target="_blank" class="f">facebook</a></li>
                    <li><a href="https://plusone.google.com/_/+1/confirm?url=<%= root_url %>?amigo=<%= current_user.fbk_user_id %>&utm_source=giftcode&utm_medium=gplus" target="_blank" class="gp">google plus</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

<% if GlobalConstants::use_mix_panel? %>
    <script type="text/javascript">
        <% if current_user.present? %>
        mixpanel.identify("<%= current_user.email %>");
        <% end %>
        mixpanel.track("Web - Ragalar por Amigo", {"Ragalar por Amigo": "1"});
    </script>
<% end %>

