<%# render 'personal-banner' %>

<div ng-controller="GiveCtrl" ng-init="load_brands();">

  <div class="row">
    <form novalidate >
      <div class="large-7 columns padding-top-50 large-centered ">
        <div class="row collapse">
          <div class="small-9 columns">
            <input type="text" ng-model="search" name="search" placeholder="Buscar marca">
          </div>
          <div class="small-3 columns">
            <input type="submit" class="button postfix gray radius" value=" Buscar " style="" >
          </div>
        </div>
      </div>
    </form>
  </div>

  <div ng-show="!brands_finished_loading" class="row">
    <div class="preloader" style="margin-top: -150px"></div>
    <div style="height: 200px">
    </div>
  </div>

  <div class="show-hide" ng-show="brands.length > 0 && brands_finished_loading" ng-init="load_friends_favorite_brands();load_friends();" >
    <!--<h6 class="subheader text-center">Puedes enviar un giftcode seleccionando una marca ó un amigo</h6>-->
    <%# render 'give_by' %>
    <div class="main-ux">
      <div class="row">
        <div id="alert-box" data-alert="" class="alert-box alert radius show-hide" ng-show="alert" ng-bind="message"></div>
        <div class="large-12 columns">
          <ul class="brands-circle friends text-center per-brands show-hide"  ng-show="brands.length > 0" id="list">
            <li class="list" ng-repeat="brand in (view = (brands | filter: { name: search })).length == 0 ? brands:view" id="brand_{{$index+1}}" ng-init="params={ type: 'BRAND', brand: brand };" >
              <a ng-href="/{{brand.name}}"><img ng-src="{{brand.url.image.thumb195.url}}" alt=""  height="195" width="195" style="cursor:pointer;" ></a>
              <!--<div class="friends-number" >-->
                <!--<h4 class="subheader whitetxt" ng-bind="brand.amounts_favorites_brand" title="{{brand.amounts_favorites_brand}} persona(s) le(s) gusta {{brand.name}}."></h4>-->
              <!--</div>-->
              <p>
                <!--A-->
                <!--<span ng-bind="(friends_favorite_brand[brand.id]).length" ng-init="load_friends_favorite_brand(brand.id)"></span>-->
                    <!--<span ng-show="friends_favorite_brand[brand.id]" data-tooltip class="has-tip tip-bottom" data-width="220" data-options="disable-for-touch:true" title="{{html_friends_favorite_brand(friends_favorite_brand[brand.id])}}" >-->
                        <!--<ng-pluralize count="(friends_favorite_brand[brand.id]).length" when="{ '1': 'amigo', 'other': 'amigos' }" ></ng-pluralize>-->
                    <!--</span>-->
                <!--<ng-pluralize ng-show="friends_favorite_brand[brand.id]" count="(friends_favorite_brand[brand.id]).length" when="{ '1': 'le', 'other': 'les' }" ></ng-pluralize>-->
                <!--<span ng-hide="friends_favorite_brand[brand.id]">amigos les</span> gusta <br/>-->
                <b><span ng-bind="brand.name"></span></b>.
              </p>
              <p></p>
              <a class='button gray pre radius' ng-click="form(params, $index + 1 )">Regalar</a>
            </li>
          </ul>
        </div>
      </div>
      <%# DIV FORM %>
        <%= render "div_form" %>
      <%# FIN DIV FORM  %>
      <%#MODAL GIFTCODE %>
        <%= render "modal_gift_code" %>
      <%#FIN MODLA GIFTCODE %>
    </div><!-- /GiveCtrl -->
  </div>
  <div class="show-hide" ng-if="brands.length == 0 && brands_finished_loading" >
  <%# else %>
    <div class="row"   >
      <div class="large-12 columns padding-20">
        <div class="radius lightbanner"  >
          <div class="row">
            <div class="large-12 columns text-center">
              <img class="left" src="assets/gamificacion_alert.png" width="101" height="96" alt="Gamificacion Alert">
              <br>
              <br>
              <h4 class="subheader">En este momento no hay giftcodes disponibles.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%# end %>
  </div>
</div>
<% if GlobalConstants::use_mix_panel? %>
    <script type="text/javascript">
        <% if current_user.present? %>
        mixpanel.identify("<%= current_user.email %>");
        <% end %>
        mixpanel.track("Web - Ragalar por Marca", {"Ragalar por Marca": "1"});
    </script>
<% end %>

