<%= semantic_form_for(:gift_code, :url => create_gift_code_admin_free_campaign_path(@free_campaign), :method => :post) do |f| %>
  <%= f.inputs "" do %>
    <%= f.input :brand, :input_html => { :readonly => true, :value => @free_campaign.office.brand.name }%>
    <%= f.input :to_city, :input_html => { :readonly => true, :value => @free_campaign.office.city.complete_name }%>
    <%= f.input :to_office, :input_html => { :readonly => true, :value => @free_campaign.office.office_name }%>
    <%= f.input :cost, :input_html => { :readonly => true, :value => @free_campaign.cost }%>
    <%= f.input :valid_for, :input_html => { :readonly => true, :value => @free_campaign.valid_for_days.to_s+" days" }%>
    <%= f.input :to_email, :input_html => { :readonly => true, :value => @email }%>
    <%= f.input :to_first_name, :input_html => { :value => @user.present? ? @user.first_name : "", :maxlength => 50, :placeholder => @user.present? ? @user.first_name : "ENTER THE NAME"}, :hint => "This value can be changed. Up to 50 characters."%>
    <%= f.input :to_last_name, :input_html => { :value => @user.present? ? @user.last_name : "", :maxlength => 50, :placeholder => @user.present? ? @user.last_name : "ENTER THE NAME"}, :hint => "This value can be changed. Up to 50 characters."%>
    <%= f.input :body_message, :input_html => { :value => @free_campaign.body_message, :maxlength => 140 }, :hint => "This value can be changed. Up to 140 characters."%>
  <% end %>
  <%= f.actions do %>
    <%= f.button "Sent GiftCode" %>
  <% end %>
<% end %>