<%= semantic_form_for(:gift_code, :url => confirm_gift_code_admin_free_campaign_path(@free_campaign), :method => :get) do |f| %>
  <%= f.inputs "" do %>
    <%= f.input :to_email %>
  <% end %>
  <%= f.actions do %>
    <%= f.button "Continue" %>
  <% end %>
<% end %>