
<i class="fi-info size-12"> Los datos deben coincidir con la tarjeta</i>
<br>
<br>
<div class="row" ng-class="{ error: form.names.$invalid  && form_payment_sending}" >
  <div class="small-5 columns"><label class="right inline">Nombres *</label></div>
  <div class="small-7 columns" >
    <input class="error" type="text" ng-model="payment.names" name="names" required autocomplete="off" >
    <small class="error" ng-if="form.names.$invalid  && form_payment_sending">
      <div ng-show="form.names.$error.required">Campo obligatorio.</div>
    </small>
  </div>
</div>

<div class="row" ng-class="{ error: form.last_names.$invalid  && form_payment_sending}" >
  <div class="small-5 columns"><label class="right inline">Apellidos *</label></div>
  <div class="small-7 columns" >
    <input class="error" type="text" ng-model="payment.last_names" name="last_names" required autocomplete="off" >
    <small class="error" ng-if="form.last_names.$invalid  && form_payment_sending">
      <div ng-show="form.last_names.$error.required">Campo obligatorio.</div>
    </small>
  </div>
</div>

<div class="row"  ng-class="{ error: form.gender.$invalid && form_payment_sending }">
  <div class="small-5 columns"><label class="right inline">Género *</label></div>
  <div class="small-7 columns">
    <select ng-model="payment.gender" name="gender"  required >
      <option value="" ></option>
      <option value="M" >Masculino</option>
      <option value="F" >Femenino</option>
    </select>
    <small class="error" ng-if="form.gender.$invalid && form_payment_sending ">
      <div ng-show="form.gender.$error.required">Campo obligatorio.</div>
    </small>
  </div>
</div>

<div class="row"  ng-class="{ error: form.nationality.$invalid && form_payment_sending }">
  <div class="small-5 columns"><label class="right inline">Nacionalidad *</label></div>
  <div class="small-7 columns" ng-init="countries=<%= countries_list.to_json %>">
    <select ng-model="payment.nationality" name="nationality"  required >
      <option value="" ></option>
      <option ng-repeat="country in countries | orderBy:'2'" value="{{country[0]}}" >{{country[2]}}</option>
    </select>
    <small class="error" ng-if="form.nationality.$invalid && form_payment_sending">
      <div ng-show="form.nationality.$error.required">Campo obligatorio.</div>
    </small>
  </div>
</div>

<div class="row"  ng-class="{ error: form.number_identifier.$invalid && form_payment_sending }">
  <div class="small-5 columns"><label class="right inline">Numero identificación *</label></div>
  <div class="small-7 columns" >
    <input class="error" type="text" ng-model="payment.number_identifier" name="number_identifier" isNumberCustom required autocomplete="off" >
    <small class="error" ng-if="form.number_identifier.$invalid  && form_payment_sending">
      <div ng-show="form.number_identifier.$error.required">Campo obligatorio.</div>
      <div ng-show="form.number_identifier.$error.isNumberCustom">Campo numerico.</div>
    </small>
  </div>
</div>


<div class="row">
  <div class="small-12 columns">
    <i class="right">Dirección de facturación</i>
  </div>
</div>
<br>
<div class="row" ng-class="{ error: form.address.$invalid  && form_payment_sending}" >
  <div class="small-5 columns"><label class="right inline">Dirección *</label></div>
  <div class="small-7 columns" >
    <input class="error" type="text" ng-model="payment.address" name="address" required autocomplete="off" >
    <small class="error" ng-if="form.address.$invalid  && form_payment_sending">
      <div ng-show="form.address.$error.required">Campo obligatorio.</div>
    </small>
  </div>
</div>

<div class="row"  ng-class="{ error: form.country.$invalid && form_payment_sending }">
  <div class="small-5 columns"><label class="right inline">País *</label></div>
  <div class="small-7 columns">
    <select ng-model="payment.country" name="country"  required >
      <option value="" ></option>
      <option ng-repeat="country in countries | orderBy:'2'" value="{{country[0]}}" >{{country[2]}}</option>
    </select>
    <small class="error" ng-if="form.country.$invalid && form_payment_sending ">
      <div ng-show="form.country.$error.required">Campo obligatorio.</div>
    </small>
  </div>
</div>

<div class="row" ng-class="{ error: form.state.$invalid  && form_payment_sending}" >
  <div class="small-5 columns"><label class="right inline">Departamento *</label></div>
  <div class="small-7 columns" >
    <input class="error" type="text" ng-model="payment.state" name="state" required autocomplete="off" >
    <small class="error" ng-if="form.state.$invalid  && form_payment_sending">
      <div ng-show="form.state.$error.required">Campo obligatorio.</div>
    </small>
  </div>
</div>

<div class="row" ng-class="{ error: form.city.$invalid  && form_payment_sending}" >
  <div class="small-5 columns"><label class="right inline">Ciudad *</label></div>
  <div class="small-7 columns" >
    <input class="error" type="text" ng-model="payment.city" name="city" required autocomplete="off" >
    <small class="error" ng-if="form.city.$invalid  && form_payment_sending">
      <div ng-show="form.city.$error.required">Campo obligatorio.</div>
    </small>
  </div>
</div>

<div class="row" ng-class="{ error: form.postal_code.$invalid  && form_payment_sending}" ng-show=" payment.country == 'US' || payment.country == 'CA' " >
  <div class="small-5 columns"><label class="right inline">Código postal *</label></div>
  <div class="small-7 columns" ng-init="payment.postal_code=''">
    <input class="error" type="text" ng-model="payment.postal_code" name="postal_code" ng-required=" payment.country == 'US' || payment.country == 'CA' " autocomplete="off" >
    <small class="error" ng-if="form.postal_code.$invalid  && form_payment_sending">
      <div ng-show="form.postal_code.$error.required">Campo obligatorio.</div>
    </small>
  </div>
</div>

<div class="row" ng-class="{ error: form.phone.$invalid  && form_payment_sending}" >
  <div class="small-5 columns"><label class="right inline">Telefono *</label></div>
  <div class="small-7 columns" >
    <input class="error" type="text" ng-model="payment.phone" name="phone" required autocomplete="off" >
    <small class="error" ng-if="form.phone.$invalid  && form_payment_sending">
      <div ng-show="form.phone.$error.required">Campo obligatorio.</div>
    </small>
  </div>
</div>

<div class="row" ng-class="{ error: form.cell.$invalid  && form_payment_sending}" >
  <div class="small-5 columns"><label class="right inline">Celular *</label></div>
  <div class="small-7 columns" >
    <input class="error" type="text" ng-model="payment.cell" name="cell" required autocomplete="off" >
    <small class="error" ng-if="form.cell.$invalid  && form_payment_sending">
      <div ng-show="form.cell.$error.required">Campo obligatorio.</div>
    </small>
  </div>
</div>


<div class="row" ng-class="{ error: form.email.$invalid  && form_payment_sending }" >
  <div class="small-5 columns"><label class="right inline">Correo *</label></div>
  <div class="small-7 columns" >
    <input class="error" type="email" ng-model="payment.email" name="email" required ng-pattern="EMAIL_REGEXP" autocomplete="off" >
    <small class="error" ng-if="form.email.$invalid  && form_payment_sending">
      <div ng-show="form.email.$error.required">Campo obligatorio.</div>
      <div ng-show="form.email.$error.pattern">Ingresar un correo electronico valido.</div>
    </small>
  </div>
</div>

