
  <i class="fi-info size-12"> Datos de la tarjeta</i>
  <br>
  <br>

  <div class="row"  ng-class="{ error: form.payment_type.$invalid && form_payment_sending }">
    <div class="small-5 columns"><label class="right inline">Tipo de cuenta *</label></div>
    <div class="small-7 columns">
      <select ng-model="payment.type" name="payment_type" ng-options="k as v for (k,v) in tipos_cuenta" ng-change="payment.franquicia=''" required >
      </select>
      <small class="error" ng-if="form.payment_type.$invalid && form_payment_sending ">
        <div ng-show="form.payment_type.$error.required">Campo obligatorio.</div>
      </small>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns"><%= image_tag('tarjetas.min.png', class: 'right alert-box warningtxt radius') %></div>
  </div>
  <div class="row" ng-class="{ error: form.payment_franquicia.$invalid  && form_payment_sending }">
    <div class="small-5 columns"><label class="right inline">Franquicia *</label></div>
    <div class="small-7 columns">
      <select ng-model="payment.franquicia" name="payment_franquicia" ng-change="payment.card_number=''" required >
        <option></option>
        <% franquicias = CredibancoFranquicia.includes(:credibanco_franquicia_prefixes).where(:enabled=>true).where('credibanco_franquicia_prefixes.enabled' => true ) %>
        <% franquicias.each do |franquicia| %>
            <option ng-if="<%=
                "
                #{ "( payment.type == '01' )" if franquicia.credito  }
                #{ "||" if franquicia.credito && ( franquicia.corriente || franquicia.ahorro ) }
                #{ "( payment.type == '04' )" if franquicia.corriente }
                #{ "||" if franquicia.corriente && franquicia.ahorro }
                #{ "( payment.type == '03' )" if franquicia.ahorro }
                "
            %>" value="<%= franquicia.identificacion %>"><%= franquicia.name %></option>
        <% end %>
      </select>
      <small class="error" ng-if="form.payment_franquicia.$invalid  && form_payment_sending">
        <div ng-show="form.payment_franquicia.$error.required">Campo obligatorio.</div>
      </small>
    </div>
  </div>
  <% array = {}  %>
  <%
     franquicias.map { |f|
       array[f.identificacion] = {
               length: f.length,
               prefix: f.credibanco_franquicia_prefixes.map{ |p|
                 p.bin
               }
       }
     }
  %>
  <div class="row" ng-class="{ error: form.payment_card_number.$invalid  && form_payment_sending}" ng-init="franquicias_card_number = <%= array.to_json %> ">
    <div class="small-5 columns"><label class="right inline">Número de tarjeta *</label></div>
    <div class="small-7 columns" >
      <input class="error" type="text" ng-model="payment.card_number"
             card-length="{{franquicias_card_number[payment.franquicia].length}}"
             card-prefix="{{franquicias_card_number[payment.franquicia].prefix}}"
             name="payment_card_number" luhn required autocomplete="off" >
      <small class="error" ng-if="form.payment_card_number.$invalid  && form_payment_sending">
        <div ng-show="form.payment_card_number.$error.required">Campo obligatorio.</div>
        <div ng-show="form.payment_card_number.$error.luhn || form.payment_card_number.$error.cardLength || form.payment_card_number.$error.cardPrefix">Tarjeta no valida.</div>
      </small>
    </div>
  </div>

  <div class="row" ng-class="{ error: form.payment_cvv2.$invalid && form_payment_sending }" ng-if="payment.type != 'A'">
    <div class="small-5 columns"><label class="right inline">CVV2 *</label></div>
    <div class="small-7 columns">

      <i class="fi-info size-12">Parte posterior de su tarjeta de crédito</i>
      <input type="password" ng-model="payment.cvv2" name="payment_cvv2" ng-maxlength="4" required style="width: 100px;" ng-pattern="/^[0-9]{1,4}$/" autocomplete="off" >
      <small class="error" ng-if="form.payment_cvv2.$invalid && form_payment_sending" >
        <div ng-show="form.payment_cvv2.$error.required">Campo obligatorio.</div>
        <div ng-show="form.payment_cvv2.$error.maxlength || form.payment_cvv2.$error.cvv2 || form.payment_cvv2.$error.pattern">Campo no valido.</div>
      </small>

    </div>
  </div>
  <br>
  <div class="row" >
    <div class="small-5 columns"><label class="right inline">Fecha de vencimiento *</label></div>
    <div class="large-7 columns" ng-class="{ error: (form.payment_expiration_month.$invalid || form.payment_expiration_year.$invalid) && form_payment_sending}">
      <select ng-model="payment.expiration_month" name="payment_expiration_month" required style="width: 100px;" >
        <option></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      /
      <select ng-model="payment.expiration_year" name="payment_expiration_year" required  style="width: 100px;" >
        <option></option>
        <% for year in (Time.zone.now.strftime("%Y").to_i)..( Time.zone.now.strftime("%Y").to_i + 10 ) do  %>
            <option value="<%= year %>" ><%= year %></option>
        <% end %>
      </select>
      <br>
      <small class="error" ng-if="(form.payment_expiration_month.$invalid || form.payment_expiration_year.$invalid) && form_payment_sending">
        <div ng-show="form.payment_expiration_month.$error.required || form.payment_expiration_year.$invalid" >Campo obligatorio.</div>
      </small>

    </div>
  </div>

  <div class="row" ng-class="{ error: form.payment_installments.$invalid  && form_payment_sending }">
    <div class="small-5 columns"><label class="right inline">Número de cuotas *</label></div>
    <div class="small-7 columns">
      <select ng-model="payment.installments" name="payment_installments" required style="width: 100px;" >
        <option></option>
        <% for installments in "001".."036"  %>
            <option value="<%= installments %>" ><%= installments %></option>
        <% end %>
      </select>
      <br>
      <small class="error" ng-if="form.payment_installments.$invalid && form_payment_sending" >
        <div ng-show="form.payment_installments.$error.required">Campo obligatorio.</div>
      </small>
    </div>
  </div>

  <div class="row" ng-if="!preload">
    <div class="goto-buttons right">
      <a ng-click="close(data)" class="button gray">Atras</a>
      <% if Rails.env.development? || Rails.env.staging? || Rails.env.prestaging? %>
          <input type="button" class="cancelar button gray pre" VALUE="Demo" ng-click="form_payment_sending=true;demo('<%= root_url %>payments/demo/'+gift_code.ref_sale);" ng-disabled="payment_disable" >
      <% end %>
      <%# unless Rails.env.staging? %>
          <button type="submit" class="button pre continue">Pagar</button>
      <%# end %>
    </div>
  </div>

  <div class="row" ng-if="preload">
    <div class="goto-buttons right">
     <button type="submit" class="button pre continue" ng-disabled="true">Enviando...</button>
    </div>
  </div>