<div class="row">
  <% unless @payment.payment_rejected  %>
  <div class="large-6 columns">
    <!--Bono-->
      <div class="bono confirmation-payment-2 <%= ( @payment.type == 'application' ) ? 'bigone' : 'bigone_wl' %> centered" >
        <div class="row">
          <div class="large-4-static columns">
            <img ng-src="<%= @payment.gift_code.gift_card.campaign.brand.image_url(:thumb180) %>" class="brand-ico" width="180" height="181" alt="Logo Fold">
          </div>
          <div class="large-8-static columns">
            <div class="whos">
              <h4><span class="greentxt">De: </span><%= truncate(@payment.gift_code.from_name_capitalize, length: 27)%></h4>
              <h4><span class="greentxt">Para: </span><%= truncate(@payment.gift_code.to_name_capitalize, length: 27) %></h4>
              <h2><%= @payment.gift_code.gift_card.cost_current %></h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-10 columns large-centered">
            <div class="giftnote">
              <p class="in-modal"><%= @payment.gift_code.body_message %></p>
            </div>
          </div>
        </div>
      </div> <!-- /bono -->
      <br />
      <div class="bono confirmation-payment-2 <%= ( @payment.type == 'application' ) ? 'white' : 'whitelabel' %> flipped centered">
        <div class="row">
          <div class="whos">
            <img src="/assets/icono_grande.png" class="qr" alt="" width="74" height="84" />
            <!--<h6 class="subheader text-center">&nbsp;</h6>-->
            <!--<h6 class="subheader text-center">Ciudad de destino: <%#  @payment.gift_code.to_city.name %></h6>-->
            <h6 class="subheader text-center">Válido hasta: <%= l @payment.gift_code.valid_until, :format => :web, :locale => :es %></h6>
          </div>
        </div>
        <div class="greenbg">
          <div class="row">
            <div class="large-11 columns large-centered">
              <p class="legal-advice whitetxt">Con este bono electrónico, estas contribuyendo con el medio ambiente al evitar el uso de tarjetas plásticas</p>
            </div>
          </div>
        </div>
      </div><!-- /bono white -->
  </div>
  <% end %>
  <div class="large-6 columns <%= 'large-centered' if @payment.payment_rejected %>" >
    <!--voucher-->
    <div class="voucher">
      <ul class="pricing-table">
        <li class="title">
          <h3>CREDIBANCO</h3>
          <label class="medium-text-center"><%= l @payment.request.created_at, format: :default_short %></label>
        </li>
        <li class="description">

          <div class="row">
            <div class="small-4 columns text-right">Codigo:</div>
            <div class="small-7 columns text-right"><span class="win"><%= @payment.brand_codes.code %></span></div>
            <div class="small-1 columns ">&nbsp;</div>
          </div>

          <div class="row">
            <div class="small-4 columns text-right">Terminal:</div>
            <div class="small-7 columns text-right"><span class="win"><%= @payment.brand_codes.terminal %></span></div>
            <div class="small-1 columns ">&nbsp;</div>
          </div>

          <div class="row">
            <div class="small-4 columns text-right">Comercio:</div>
            <div class="small-7 columns text-right"><span class="win"><%= @payment.campaign.brand.name %></span></div>
            <div class="small-1 columns ">&nbsp;</div>
          </div>

          <% data = eval @payment.request.data_sent %>

          <div class="row">
            <div class="small-4 columns text-right"><%= @payment.request.card_franchise %>:</div>
            <div class="small-7 columns text-right"><span class="win">XXXXXXXXX<%= data["payment"]["card_number"] %></span></div>
            <div class="small-1 columns ">&nbsp;</div>
          </div>

          <div class="row">
            <div class="small-4 columns text-right">Tipo de transacción:</div>
            <div class="small-7 columns text-right"><span class="win"><%= data["payment"]["type"] == '01' ? 'Crédito' : 'CR' %></span></div>
            <div class="small-1 columns ">&nbsp;</div>
          </div>

          <div class="row">
            <div class="small-4 columns text-right">Cuotas:</div>
            <div class="small-7 columns text-right"><span class="win"><%= data["payment"]["installments"] %></span></div>
            <div class="small-1 columns ">&nbsp;</div>
          </div>

          <div class="row">
            <div class="small-4 columns text-right">Referencia:</div>
            <div class="small-7 columns text-right"><span class="win"><%= @payment.gift_code.ref_sale  %></span></div>
            <div class="small-1 columns ">&nbsp;</div>
          </div>

          <div class="row">
            <div class="small-4 columns text-right">Recibo:</div>
            <div class="small-7 columns text-right"><span class="win"><%= @payment.gift_code.id  %></span></div>
            <div class="small-1 columns ">&nbsp;</div>
          </div>

          <div class="row">
            <div class="small-4 columns text-right">Autorización:</div>
            <div class="small-7 columns text-right"><span class="win"><%= @payment.request.approbation_number  %></span></div>
            <div class="small-1 columns ">&nbsp;</div>
          </div>

        </li>
        <li class="bullet-item">
          <div class="row <%= 'warning-text' if @payment.payment_rejected %>" >
            <div class="small-6 columns">Codigo de respuesta:</div>
            <div class="small-6 columns"><span class="win"><%= @payment.request.response_code + ' - ' + @payment.request.state  %></span></div>
          </div>
        </li>
        <li class="price">
          <div class="row">
            <div class="small-6 columns">Compra neta:</div>
            <div class="small-6 columns"><span class="win"><%= number_to_currency(@payment.gift_code.base_iva + @payment.campaign.cost_admin , :separator => ",", :delimiter => ".", :precision => 0, :locale => :en)  %></span></div>
          </div>
        </li>
        <li class="bullet-item">
          <div class="row">
            <div class="small-6 columns">Iva:</div>
            <div class="small-6 columns"><span class="win"><%= number_to_currency(@payment.gift_code.calculate_iva + @payment.campaign.calculate_iva_cost_admin, :separator => ",", :delimiter => ".", :precision => 0, :locale => :en)  %></span></div>
          </div>
        </li>
        <li class="price">
          <div class="row">
            <div class="small-6 columns">Total:</div>
            <div class="small-6 columns"><span class="win"><%= number_to_currency(@payment.gift_code.cost + @payment.campaign.cost_admin + @payment.campaign.calculate_iva_cost_admin, :separator => ",", :delimiter => ".", :precision => 0, :locale => :en)   %></span></div>
          </div>
        </li>
      </ul>
      <div class="text-center" >
        <label class="size-14 graytxt">*SUJETO A VERIFICACIÓN DE LA DIAN</label>
        <br>
        <label class="size-14 graytxt">PAGARÉ INCONDICIONALMENTE Y A LA ORDEN DEL ACREEDOR, EL VALOR TOTAL DE ESTE PAGARÉ JUNTO CON LOS INTERESES A LAS TASAS MAXIMAS PERMITIDAS POR LA LEY.</label>
      </div>
    </div>
  </div>
</div><!-- /row -->