<div class="row">
  <% unless @payment.payment_rejected  %>
  <div class="bono confirmation-payment <%= ( @payment.type == 'application' ) ? 'bigone' : 'bigone_wl' %> centered" >
    <div class="row">
      <div class="large-4-static columns">
        <img ng-src="<%= @payment.gift_code.gift_card.campaign.brand.image_url(:thumb180) %>" class="brand-ico" width="180" height="181" alt="Logo Fold">
      </div>
      <div class="large-8-static columns">
        <div class="whos">
          <h4><span class="greentxt">De: </span><%= truncate(@payment.gift_code.from_name_capitalize, length: 27)%></h4>
          <h4><span class="greentxt">Para: </span><%= truncate(@payment.gift_code.to_name_capitalize, length: 27) %></h4>
          <h2><%= @payment.gift_code.gift_card.cost_current %></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-10 columns large-centered">
        <div class="giftnote">
          <p class="in-modal"><%= @payment.gift_code.body_message %></p>
        </div>
      </div>
    </div>
  </div> <!-- /bono -->
  <br />
  <div class="bono confirmation-payment <%= ( @payment.type == 'application' ) ? 'white' : 'whitelabel' %> flipped centered">
    <div class="row">
      <div class="whos">
        <img src="/assets/icono_grande.png" class="qr" alt="" width="74" height="84" />
        <h6 class="subheader text-center">&nbsp;</h6>
        <!--<h6 class="subheader text-center">Ciudad de destino: <%#  @payment.gift_code.to_city.name %></h6>-->
        <h6 class="subheader text-center">Válido hasta: <%= l @payment.gift_code.valid_until, :format => :web, :locale => :es %></h6>
      </div>
    </div>
    <div class="greenbg">
      <div class="row">
        <div class="large-10 columns large-centered">
          <p class="legal-advice whitetxt">Con este bono electrónico, estas contribuyendo con el medio ambiente al evitar el uso de tarjetas plásticas</p>
        </div>
      </div>
    </div>
  </div><!-- /bono white -->
  <% end  %>
</div><!-- /row -->