<!--<div class="row text-justify" >-->
  <!--<div class="large-12 columns">-->
    <!--<div class="brands shopping" >-->

      <div class="shop" ng-controller="CredibancoGatewayCtrl" >

        <div class="row">
          <div class="large-12 columns" ng-init="next=false">
            <div class="row">
             <div class="large-12 columns" ng-hide="next">
                <h2 class="whitetxt subheader centered">Revisa todos los datos</h2>
                <br><br>
                <div class="large-3 columns">&nbsp;</div>
                 <div class="large-6 columns">
                     <div class="row">
                        <div class="small-1 columns">&nbsp;</div>
                        <div class="small-3 columns"><i class="fi-mail"> e-Mail</i>:</div>
                        <div class="small-7 columns " ><label class="right whitetxt ng-binding" ng-bind="gift_code.to_email" ></label> </div>
                        <div class="small-1 columns"></div>
                     </div>
                     <div class="row" ng-show="gift_code.to_mobile_phone" >
                       <div class="small-1 columns">&nbsp;</div>
                       <div class="small-3 columns"><i class="fi-telephone"> Celular</i>:</div>
                       <div class="small-7 columns" ><label class="right whitetxt ng-binding" ng-bind="gift_code.to_mobile_phone"></label> </div>
                       <div class="small-1 columns"></div>
                     </div>
                     <div class="bono sent-received">
                       <div class="row collapse large-12">
                         <div class="large-4-static columns">
                           <img ng-src="{{images_brand.image.thumb180.url}}" class="brand-ico smallish" />
                         </div>
                         <div class="large-8-static columns">
                           <div class="whos">
                             <h4><span class="greentxt">De: </span> {{gift_code.from_first_name + ' ' + gift_code.from_last_name}} </h4>
                             <h4><span class="greentxt">Para: </span> {{gift_code.to_first_name + ' ' + gift_code.to_last_name}} </h4>
                             <h2  ng-bind="gift_code.currency_short_name + ' ' + gift_code.cost_current" ></h2>
                           </div>
                         </div>
                       </div>
                       <div class="row">
                         <div class="large-10 columns large-centered">
                           <div class="giftnote">
                             <p class="in-modal" ng-bind="gift_code.body_message"></p>
                           </div>
                         </div>
                       </div>
                     </div>
                     <div class="row">
                       <div class="small-1 columns">&nbsp;</div>
                       <div class="small-3 columns"><i class="fi-cloud"> Servicio</i>:</div>
                       <div class="small-7 columns"><label class="right whitetxt ng-binding"  ng-bind="cost.admin.currency.short_name + ' ' + cost.admin.value" ></label> </div>
                       <div class="small-1 columns"></div>
                     </div>
                     <div class="row">
                       <div class="small-1 columns">&nbsp;</div>
                       <div class="small-3 columns"><i class="fi-dollar-bill"> Total</i>:</div>
                       <div class="small-7 columns"><label class="right whitetxt ng-binding"  ng-bind="gift_code.total_current"></label> </div>
                       <div class="small-1 columns"></div>
                     </div>
                     <div class="row centered">
                        <br>
                        <a class="button gray pre radius" ng-click="close(true)">Atrás</a>
                        <a class="" ng-click="next = true"><%= image_tag('boton_credibanco.png') %></a>
                     </div>
                </div>
               <div class="large-3 columns">&nbsp;</div>

             </div>

             <div class="large-12 columns" ng-show="next"   >
               <h2 class="whitetxt subheader centered">Ingrese información del pago</h2>
               <br>
               <form name="form" ng-submit="payment_sent(form, payment)" novalidate ng-init="ref_sale='<%= params[:ref_sale] %>';" >
                 <hr class="no-margin">
                 <div class="large-6 columns">
                   <%= render 'payments/billing_data_credibanco' %>
                 </div>
                 <div class="large-6 columns" >
                   <%= render 'payments/card_data_credibanco' %>
                 </div>
               </form>
               <div ng-if="preload==true" class="preloader"></div>
             </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="_data==false" class="preloader"></div>
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<% if Rails.env.production? %>
    <%= javascript_include_tag 'generateDFP-1.0PROD' %>
<% else %>
    <%= javascript_include_tag 'generateDFP-1.0TEST' %>
<% end %>