
      <div class="shop" >

        <div class="row">
          <div class="large-12 columns" >
            <div class="row">
             <div class="large-12 columns" >
                <h2 class="whitetxt subheader centered">Revisa todos los datos</h2>
                <br><br>
                <div class="large-3 columns">&nbsp;</div>
                 <div class="large-6 columns">
                     <div class="row">
                        <div class="small-1 columns">&nbsp;</div>
                        <div class="small-3 columns"><i class="fi-mail"> e-Mail</i>:</div>
                        <div class="small-7 columns " ><label class="right whitetxt ng-binding" ng-bind="gift_code.to_email" ></label> </div>
                        <div class="small-1 columns"></div>
                     </div>
                     <div class="row" ng-show="gift_code.to_mobile_phone" >
                       <div class="small-1 columns">&nbsp;</div>
                       <div class="small-3 columns"><i class="fi-telephone"> Celular</i>:</div>
                       <div class="small-7 columns" ><label class="right whitetxt ng-binding" ng-bind="gift_code.to_mobile_phone"></label> </div>
                       <div class="small-1 columns"></div>
                     </div>
                     <div class="bono sent-received">
                       <div class="row collapse large-12">
                         <div class="large-4-static columns">
                           <img ng-src="{{images_brand.image.thumb180.url}}" class="brand-ico smallish" />
                         </div>
                         <div class="large-8-static columns">
                           <div class="whos">
                             <h4><span class="greentxt">De: </span> {{gift_code.from_first_name + ' ' + gift_code.from_last_name}} </h4>
                             <h4><span class="greentxt">Para: </span> {{gift_code.to_first_name + ' ' + gift_code.to_last_name}} </h4>
                             <h2  ng-bind="gift_code.currency_short_name + ' ' + gift_code.cost_current" ></h2>
                           </div>
                         </div>
                       </div>
                       <div class="row">
                         <div class="large-10 columns large-centered">
                           <div class="giftnote">
                             <p class="in-modal" ng-bind="gift_code.body_message"></p>
                           </div>
                         </div>
                       </div>
                     </div>
                     <div class="row">
                       <div class="small-1 columns">&nbsp;</div>
                       <div class="small-3 columns"><i class="fi-cloud"> Servicio</i>:</div>
                       <div class="small-7 columns"><label class="right whitetxt ng-binding"  ng-bind="cost.admin.currency.short_name + ' ' + cost.admin.value" ></label> </div>
                       <div class="small-1 columns"></div>
                     </div>
                     <div class="row">
                       <div class="small-1 columns">&nbsp;</div>
                       <div class="small-3 columns"><i class="fi-dollar-bill"> Total</i>:</div>
                       <div class="small-7 columns"><label class="right whitetxt ng-binding"  ng-bind="gift_code.total_current"></label> </div>
                       <div class="small-1 columns"></div>
                     </div>
                     <div class="row centered">
                        <br>
                        <a class="button gray pre radius" ng-click="close_confirmation(true)">Atrás</a>
                       <% if Rails.env.development? || Rails.env.staging? || Rails.env.prestaging? %>
                           <input type="button" class="button pre continue" VALUE="Demo" ng-click="form_payment_sending=true;demo('<%= root_url %>payments/demo/'+gift_code.ref_sale);" ng-disabled="payment_disable" >
                       <% end %>
                     </div>
                </div>
               <div class="large-3 columns">&nbsp;</div>

             </div>

            </div>
          </div>
        </div>
      </div>
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
