<div class="row">
  <object
  type="text/html"
  data="<%= "#{@payment.setup[:web]}?idTerminal=#{@payment.data['cabeceraRespuesta']['infoPuntoInteraccion']['idTerminal']}&idTransaccion=#{@payment.data['infoTransaccionResp']['idTransaccionActual']}" %>"
  style="width: 100%; height:750px;" >
    ERROR ( No se logro cargar ambiente de pago. )
  </object>
</div>
<script>
    var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
    var eventer = window[eventMethod];
    var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";
    eventer(messageEvent,function(e) {
        switch(e.data){
            case 'Cancelacion':
                console.log('Cancelación');
                <% if session[:callback].present? %>
                    window.location = "<%= session[:callback] %>";
                <% else %>
                    window.location = "<%= root_path %>";
                <% end %>
                break;
            case 'Error':
                console.log('Error');
                break;
            case 'Finalizacion':
                console.log('Finalización');
                <% if session[:callback].present? %>
                    window.location = "<%= session[:callback] %>";
                <% else %>
                    window.location = "<%= confirmation_payments_path(:ref_sale => @payment.gift_code.ref_sale) %>";
                <% end %>
                break;
            default:
                console.log(e.data);
                break;
        }
    },false);
</script>