<% if @payment.gift_code.gift_code_state_id == GiftCodeState::STATES[:payment_rejected] || @payment.gift_code.gift_code_state_id ==  GiftCodeState::STATES[:generated_external_web_payment_rejected]  %>
    <% if @payment.type == 'application' %>
        <br>
        <br>
        <br>
    <% end %>
    <div class="row">
      <div class="large-10 columns large-centered">
        <div class="alert-box warning text-center radius">Pago rechazado</div>
      </div>
    </div>
<% else %>
    <%if @payment.gift_code.send_notifications_now %>
        <% if @payment.type == 'application' %>
        <br>
        <br>
        <br>
        <div class="row">
          <div class="large-10 columns large-centered">
            <!--alert-box success radius-->
            <div class="text-center alert-box greentxt radius"><i>Hola, Tu Giftcode para <strong><%= @payment.gift_code.to_name_capitalize %></strong> ha sido enviado exitosamente!</i></div>
          </div>
        </div>
        <% else %>
        <div class="row">
          <div class="large-10 columns large-centered">
            <div class="alert-box success text-center radius">Hola, el bono de regalo para <strong><%= @payment.gift_code.to_name_capitalize %></strong> ha sido enviado exitosamente!</div>
          </div>
        </div>
        <% end %>
    <% end %>
<% end %>
<%=
    case @payment.entity.name
      when ThirdPartyEntity::ENTITY[:credibanco]
        if @payment.demo
          render 'payments/confirmation_default'
        else
          render 'payments/confirmation_credibanco'
        end
      else
        render 'payments/confirmation_default'
    end
%>
<% if @payment.type == 'application' %>
<div class="row padding-50">
  <div class="large-12 text-center columns">
    <%= link_to '<span class="gifty"></span><span class="border">Continuar</span>'.html_safe, gift_codes_sent_path, class: 'button success radius normal text-center'  %>
  </div>
</div>
<% end %>