_app.factory 'facebook', ['$window', '$http',  ($window, $http) ->
  if $window.FB
    FB = $window.FB
    FB.init { appId: '<%= GlobalConstants::facebook %>' }
  return {
      ui: (callback, _return ) ->
        go = $(window).scrollTop()
        FB.ui(
          callback,
          (response) ->
            $http.post( '/invitar-amigo/'+ callback.to, { data: response })
            .success( _return )
            $(window).scrollTop( go )
        )
      ,
      cities: (callback,_return) ->
          FB.api(
             'https://graph.facebook.com/search?q=' + callback + '&limit=25',
             'post',
             {
             },
             _return
          )
      ,
      login: () ->
        FB.login(
          (response) ->
            if (response.authResponse)
              console.log('Welcome!  Fetching your information.... ')
              console.log  response
              $.ajax({
                type: "GET",
                url: "/prueba",
                data: response
              });
              #window.location = 'users/auth/facebook/callback' if response.authResponse
            else
              console.log('User cancelled login or did not fully authorize.')
        )
  }
]