
// mixins
@import "mixins";

// Comment out this import if you don't want to use normalize
@import "normalize";

@import "compass/css3";


/*
  made by fabianrios at fabianrios.co for GreenCode
  .................................................
  *. Variables
  *. Commoners
  -------------------------------------------------
  1. HOME
  2. PERSONAL BANNER
  3. SOBRE GIFTCODE
  4. MARCAS FAVORITAS
  5. COMPRAR
  6. BONOS

*/


/**. Variables*/


$header-color1: #fff;
$header-color2: #d2d2d2;
$dimpercent: 46%;
$top-space: 22px;
$green: #559c43;
$primary-color: #2d781b;

/*/*. Variables*



/**. Commoners*/

.noborder{
	border: 0 !important;
}

//DATEPICKER

.ui-widget-header{
	background: white;
	@include border-top-radius(5px);

}

.ui-state-default, .ui-widget-content .ui-state-default{
	bottom: 0;
	display: block;
	text-align: center;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight{
	color: #000;
}

tbody tr td{
	&.ui-datepicker-days-cell-over.ui-datepicker-today, &.ui-datepicker-today{
		background: #C8DB00;
		@include border-radius(5px);
	}
}

.ui-datepicker .ui-datepicker-title{
	margin: auto;
}

.ui-datepicker-prev {
	background: url('../assets/date-prev.png') no-repeat center center;
	width: 27px;
	height: 27px;
	text-indent: -9999px;
	display: block;
	float: left;
	position: relative;
	top: 2px;
}

.ui-datepicker-next {
	background: url('../assets/date-next.png') no-repeat center center;
	width: 27px;
	height: 27px;
	text-indent: -9999px;
	display: block;
	float: right;
	position: relative;
	top: 2px;
}

.ui-datepicker-title{
	text-align: center;
	width: 55%;
	margin: 0 auto;
	position: relative;
	top: 8px;
	select{
		margin-top: 4px;
		&:last-child{
			margin: 0;
		}
	}
}

.ui-datepicker-header{
	border-bottom: 1px solid rgba(255,255,255,.4);
	margin-left: 0;
	margin-bottom: 0;
	padding-bottom: 15px;
}

table.ui-datepicker-calendar{
	border: 0;
	background: #B7B7B7;
	@include border-radius(5px);
	thead{
		background: #478B25;
		tr{
			th{
				span{
					font-weight: normal;
					padding-right: 1px;
					color: #fff;
				}
			}
		}
	}
	tbody{
		@include border-radius(5px);
	}
	tr.even, tr.alt, tr:nth-of-type(even){
		background: darken(#B7B7B7,3%);
	}
	tr{
		td{
			&.ui-datepicker-current-day{
				background: #3E7C00;
				@include border-radius(5px);
				a{
					color: #fff;
				}
			}
			a{
				color: #32434a;
			}
		}
	}
}
/// Datepicker

.big-check{
	line-height: 40px;
	font-size: 30px;
}

.scroll-top{
	position: fixed;
	bottom: 10px;
	left: 50%;
	background: rgba(gray,0.6);
	height: 50px;
	width: 50px;
	border: 4px solid #e1e1e1;
	margin-left: -10px;
	line-height: 40px;
	@include border-radius(100%);
	a{
		color: #fff;
	}
}

.center-gift{
	display: block;
	width: 34%;
	margin: 0 auto;
}

.fixed-form{
	position: relative;
	top: 40px;
}

.fixed-form-both{
	position: relative;
	top: 25px;
}

.fixed-form-single{
	position: relative;
	top: 35px;
	margin: 0 auto;
	text-align: center;
}

body, html{
  margin: 0;
  padding: 0;
}

ul{
  li{
    list-style-type: none;
  }
}

.labeled{
  background: #474747;
  color: #fff;
  padding: 4px 10px;
  @include border-radius(4px);
  font-size: 22px;
}

.small{
  font-size: 10px;
}

.no-border{
  border: 0px;
}

.no-border-radius{
	@include border-radius(0);
}

.no-margin{
  margin: 0px !important;
}

.width60{
	width: 60%;
}

.expand{
	width: 100%;
}

input.w96{
	width: 96%;
}

input{
	outline: 0;
}

.the-text{
	margin: 90px 0;
}

.centered{
  display: block;
  text-align: center;
  margin: 0 auto;
}

.save{
  display: block;
  margin: 20px auto;
  width: 10%;
  height: 47px;
  font-weight: normal;
  line-height: 2.1;
}

select{
	height: 30px;
	background: white;
	border: 0;
}

.radius{
	@include border-radius(15px);
}

.padding-20{
  padding: 20px 0;
}

.padding-50{
  padding: 50px 0;
}
.padding-top-20{
  padding-top: 20px;
}


.mt60{
	margin-top: 60px;
}

p{
  font-size: 14px;
  margin-bottom: 8px;
  &.big{
    font-size: 110%;
  }
}

.times{
  font-family: 'Times';
}

.bold{
  font-weight: 700;
}
.normal{
  font-weight: 400;
}
.banner-text{
  font-size: 30px;
}
.terms-and-conditions-text{
  font-size: 11px;
}
.book{
  font-weight: 300;
}
.sbold{
  font-weight: 600;
}
.sbold{
  font-weight: 800;
}

.whitetxt{
  color: #ffffff;
}

.graytxt{
  color: #8d8e8e;
}

.greentxt{
  color: $green;
}

.highlight{
  color: #d4e61d;
}

.block{
  display: block;
}
.inline{
  display: inline;
}


.circle{
	@include border-radius(100%);
}

label{
  color: #6a6b69;
  font-size: 16px;
}

.graybanner{
	background: #f7f7f7;
	margin: 40px 0;
	padding: 30px 0 0 0;
}

textarea{
	min-height: 110px;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea{
  background-color: #eeeeee;
  @include border-radius(4px);
  border-color: #b8b8b8;
  border-bottom:0;
  border-right:0;
}

.error input, .error textarea, .error select {
  border: 1px solid #c60f13;
  background-color: rgba(198,15,19,0.1);
  margin-bottom: 0;
  @include border-bottom-radius(0px);
}

/*/*. Commoners*/

/*/HOME*/

a.dropdown.share-button{
	background: transparent;
	border: 0;
	color: #2d781b;
	@include box-shadow(transparent 0 0 0);
	font-size: 18px;
	padding: 0;
	font-weight: 600;
}
a.dropdown.share-button.small{
	&:before{
		border-color: #2d781b transparent transparent transparent;
	}
}

.other-people{
	padding: 50px 0;
	border-bottom: 1px solid #cfcfd0;
}

.gray-brands{
	background: #cfcfd0;
	padding-top: 20px;
	padding-bottom: 20px;
	h5{
		margin-bottom: 20px;
	}
	p{
		margin-top: 20px;
		margin-bottom: 0;
	}
}

header{
  background-color: $header-color1;
  border-bottom: 1px solid rgb(189, 189, 189);
  height: 70px;
  width: 100%;
  a{
	  img{
		  padding: 2px 0;
	  }
  }
  &.fixed{
	  & + .personal-banner{
		  margin-top: 100px;
	  }
  }
  ul{
    position: relative;
    @include nclearfix;
    top: $top-space;
    li{
      float: left;
      margin: 0 23px;
	  line-height: 1.4;
	  &.has-form{
		  position: relative;
		  top: -10px;
	  }
      &.divider{
		  ul.f-dropdown{
			  li{
				  float: none;
				  &:last-child{
					  float: none;
				  }
				  a{
					  border: 0;
					  padding-left: 10px;
				  }
			  }
		  }
        a{
          border-left: 1px dotted #2d781b;
          padding-left: 25px;
        }
      }
      &:last-child{
        float: right;
        margin: 0;
      }
      a{
        font-size: 18px;
        #font-weight: 600;
      }
    }
  }
}


.display-referals{
	h5{
		margin-top: 20px;
	}
	h4{
		background: #d4e61d;
		@include border-radius(4px);
		max-width: 120px;
		margin: 0 auto;
		&:after{
			content:'';
			@include arrow($color: #d4e61d, $width: 10px, $height: 10px);
			position: absolute;
			bottom: 46px;
			margin: 0 auto;
			left: 47%;
		}
		span{
			background: url('../assets/happyface.png') center center;
			&.giftcard{
				background: url('../assets/bono_amigos.png') center center;
			}
			display: block;
			text-align: center;
			height: 80px;
			width: 85px;
			margin: 0 auto;
		}
	}
}

.banner{
  background: url(../assets/banner.jpg) bottom left;
  height: 480px;
  width: 100%;
  -webkit-background-size: cover;
  background-size: cover ;
  .forbanner{
    background-size: cover;
    color: #ffffff;
    position: relative;
    top: 80px;
	h4{
		text-shadow: 0 1px 1px black;
	}
  }
}

.fix-margin{
	margin: 10px auto;
}

button, .button{
  @include box-shadow(inset 0 0 10px rgba(0,0,0,.15));
  padding: 10px 10px 10px 45px;
  font-size: 0.9em;
  &.success.radius.normal.right{
	  @media only screen and (max-width: 590px) {
		  float: none !important;
		  text-align: center;
		  display: block;
	  }
  }
  span.border{
    border-left: 1px solid rgba(50, 50, 50, .3);
    height: 43px;
    width: 2px;
    position: relative;
    padding: 7px 20px;
  }
  &.pre{
    padding:6px 10px;
	  @media only screen and (max-width: 590px) {
	  	margin: 40px auto;
	  	text-align: center;
	  	display: block;
	  }
  }
  &.gray{
    background: #454545;
    border: 1px solid #333333;
  }
  &.cancelar{
	  padding:6px 10px;
  }
  &.padding-fix{
	  padding:6px 10px;
  }
  &.big{
	  padding: 20px 10px 20px 45px;
	  font-size: 1.3em;
	  .gifty{
		  background: url(../assets/gifticon.png) 3px 16px no-repeat;
		  height: 68px;
		  width: 50px;
	  }
	  span.border{
		  padding: 20px;
		  position: relative;
		  left: 9px;
	  }
  }
}

.on-small{
  @media only screen and (max-width: 590px) {
  	margin: 0 auto;
  	display: block;
  }
}

.greenbanner{
  background-color: #559c43;
  height: 121px;
  a{
    margin: 40px 29px;
  }
}

.lightbanner{
	background: #f7f7f7;
}

.homegraybanner{
  background-color: #eeeeee;
  height: 121px;
  padding-top: 40px;
}

.centerer-list{
	text-align: center;
	li{
		display: inline-block;
		margin: 0 4px;
	}
}

.footer{
  //margin-top: 50px;
  height: 100%;
  padding: 20px 0 40px 0;
  background: #1D1916 url(../assets/footer.png) repeat;
  font-size: 13px;
  img.logo-footer{
    margin: 15px auto;
    display: block;
    text-align: center;
	margin-bottom: 30px;
  }
  .copy{
    color: #312e2b;
	a{
		color: #312e2b;
		&:hover{
			color: darken(#312e2b,10%);
		}
	}
  }
  ul{
	  &.social-networks{
		  li{
		  	  list-style-type: none;
			  display: inline-block;
			  width: 25px;
			  height: 25px;
			  &.face{
			  	  background: url(../assets/social-footer.png) no-repeat 0 0;
			  }
			  &.twitter{
			  	  background: url(../assets/social-footer.png) no-repeat -25px 0;
			  }
			   &.instragram{
			  	  background: url(../assets/social-footer.png) no-repeat -50px 0;
			  }
			  a{
			  	
			  }
		  }
	  }
    li{
		font-size: 13px;
		list-style-type: disc;
      a{
        color: #ffffff;
        font-size: 13px;
        &:hover{
          color: scale-lightness(#fff, -30%);
        }
      }
    }
  }
  $amount: 30%;
  $color:#767371;
  ul.terms{
    width: 100%;
    margin: 0 auto;
    li{
      a{
        color: $color;
        font-size: 12px;
        &:hover{
          color:scale-lightness($color, $amount);
        }
      }
    }
  }
  ul.partners{
	  li{
		  list-style-type: none;
		  display: inline-block;
		  width: 49%;
		  height: 60px;
		  &.rbm{
		  	  background: url(../assets/RBM-grises.png) no-repeat 0 0;
			  -webkit-background-size: 90px;
			  background-size: 90px;
			  background-blend-mode: multiply;
			  mix-blend-mode: multiply;
		  }
		  &.innpulsa{
		  	  background: url(../assets/footer-innpulsa.png) no-repeat 0 0;
			  -webkit-background-size: 90px;
			  background-size: 90px;
		  }
	  }
  }
}

.gifty{
	background: url(../assets/gifticon.png) 2px -1px no-repeat;
	height: 35px;
	width: 41px;
	position: absolute;
	left: 4px;
	bottom: 0px;
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	background-size: 33px;
}

.login{
	background: url(../assets/login_key.png) 2px -1px no-repeat;
	height: 35px;
	width: 41px;
	position: absolute;
	left: 4px;
	bottom: 0px;
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	background-size: 33px;
}


.facebook{
  background: url(../assets/face.png) 12px 2px no-repeat;
  height: 36px;
  width: 45px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  border-right: 1px solid rgba(255, 255, 255, .1);
}

/*/1.HOME*/

/*2.PERSONAL BANNER*/


.personal-banner{
  margin-bottom: 60px;
  background: url(../assets/Slider.jpg);
  height: 180px;
  width: 100%;
  -webkit-background-size: cover;
  background-size: cover ;
  h1{
    font-weight: normal;
    margin-top: 0px;
    text-align: center;
	&.mt60{
		margin-top: 60px;
	}
  }
  a, input{
    &.personal{
      font-size: 17px;
      font-style: italic;
      font-family: 'Times';
      color: #2d781b;
      background: transparent;
      border: 0;
      position: absolute;
      top: 28px;
      right: 60px;
    }
  }
}

a, input{
  &.personal{
    font-size: 17px;
	color: #478D34;
	@media all and (min-width: 940px) {
	    color: #ffffff;
	}
    background: transparent;
    border: 0;
	height: 83px !important;
  }
}

.profile-pic{
  text-align: center;
  top: 21px;
  position: relative;
  @include nclearfix;
  a{
    img{
      @include border-radius(100%);
      height: 140px;
      width: 140px;
    }
  }
}

.favorite-mark{
  h3{
    margin-right: 20px;
  }
  a{
    &.pre{
      position: relative;
      top: -5px;
      font-style: italic;
      font-weight: normal;
    }
  }
}

.share-block{
  background: #f7f7f7;
  height: 220px;
  h6{
    color: #6a6b69;
    font-weight: normal;
    font-style: italic;
  }
}

$fondo-social: #E9E9E9;
$border-social: #B4B4B4;

ul.social-strip{
  width: 30%;
  position: relative;
  top: 20px;
  display: block;
  margin: 0 auto;
  &.no-left{
	  left: 0 !important;
  }
  &.generic{
	  text-align: center;
	  width: 100%;
	  top: -1px;
	  left: 0;
	  @media only screen and (min-width: 40.063em){
	   	  left: 30px;
	  }
	  &.width60{
		width: 60%;
		}
		  li{
			  display: inline-block;
			  float: none;
			  margin: 0 3px;
			  width: 35px;
			  height: 35px;
			  a{
				  top: 0px;
			      &.t{
					  width: 100%;
					  height: 100%;
					  -webkit-background-size: 90%;
					  background-size: 90%;
					  background-position: center center;
			      }
			      &.f{
					  width: 100%;
					  height: 100%;
					  -webkit-background-size: 90%;
					  background-size: 90%;
					  background-position: center center;
			      }
			      &.gp{
					  width: 100%;
					  height: 100%;
					  -webkit-background-size: 90%;
					  background-size: 90%;
					  background-position: center center;
			      }
			  }
		  }
  }
  li{
    width: 33%;
    margin: 0 18px;
    @include border-radius(4px);
    float: left;
    width: 90px;
    height: 80px;
    background: $fondo-social;
    @include box-shadow(inset 1px 1px 2px $border-social);
    &:hover, &.active{
      background: darken($fondo-social, 30%);
      @include box-shadow(inset 1px 1px 2px darken($border-social, 30%));
    }
    a{
      text-indent: -99999px;
      display: inline-block;
      position: relative;
      top: 7px;
      &.t{
        background-image: url(../assets/Twitter.png);
        width: 57px;
        height: 64px;
      }
      &.f{
        background: url(../assets/Facebook.png);
        width: 59px;
        height: 64px;
      }
      &.gp{
        background: url(../assets/G.png);
        width: 63px;
        height: 64px;
      }
    }
  }
}
/*/2.PERSONAL BANNER*/

/*3. SOBRE GIFTCODE */

.how{
  //background: #e0e0e0;
  h5{
    margin: 15px 0;
  }
}

span.number{
	background: #000;
	font-size: 24px;
	color: #fff;
	height: 55px;
	width: 55px;
	line-height: 55px;
	display: block;
	@include border-radius(100%);
	text-align: center;
	margin: 20px 10px 50px 0;
    float: left;
}

span.line{
	background: #E4E4E4;
	height: 100%;
	width: 2px;
	margin: 0 auto;
	position: absolute;
	display: inline-block;
	top: 145px;
	left: 49%;
}

ul.giftmenu{
  position: relative;
  top: 0;
  @media only screen and (min-width: 768px) {
     top: 110px;
  }
  margin: 0 auto;
  text-align: center;
  height: auto;
  li{
	  display: block;
	  width: 100%;
	  margin: 0;
	  background: rgba(0,0,0,0.5);
	  &:hover{
		  background: #488C26;
	  }
	  @media only screen and (min-width: 768px) {
		  background: transparent;
		  margin-left: 3.375em;
		  display: inline;
		  width: auto;
		  &:hover{
			  background: transparent;
		  }
	  }
    a{
      color: #ffffff;
      font-style: italic;
      font-weight: 200;
      font-family: Times;
      font-size: 22px;
	  height: 35px;
	  @media only screen and (min-width: 768px) {
		  height: 75px;
	      span.triangle{
	        @include arrow($color: rgba(#191616,0));
			  position: absolute;
			  top: 50px;
			  left: 36%;
	      }
	      &:hover, &.active{
	        span.triangle{
	          @include arrow($color: #191616);
	        }
	      }
	  }
	  position: relative;
    }
  }
}

/*/3. SOBRE GIFTCODE */

/*4. MARCAS FAVORITAS */


.search-box{
  padding: 10px 0 0 0;
  span{
    line-height: 2.8;
    color: #2b2c2a;
  }
  .button.pre{
	  padding: 12px 10px;
  }
  margin-bottom: 10px;
}


.like-number{
    position: absolute;
    display: block;
    top: 10px;
	right: 10px;
    height: 50px;
    width: 50px;
    background: #737373;
    border: 2px solid white;
    @include box-shadow(rgba(50,50,50,0.4) 0px 1px 4px 1px);
    @include border-radius(100%);
	float: right;
    h4{
      position: relative;
      display: block;
      line-height: 2;
      text-align: center;
      font-size: 20px;
  }
}


.themarks{
  line-height: 0;
  margin: 0;
  padding: 0;
  @include nclearfix();
  background-color: #f7f7f7;
  li.first{
	  position: relative;
      background: url(../assets/Rejilla.png);
      border: 1px solid #e1e1e1;
      float: left;
	  width: 50%;
      box-sizing: border-box;
      height: 214px;
      margin: 0;
      padding: 0;
	  padding-top: 155px;
	  @media all and (min-width: 490px) and (max-width: 610px){
	  	width: 33%;
	  }
	  @media all and (min-width: 611px) and (max-width: 800px){
	  	width: 25%;
	  }
	  @media all and (min-width: 801px) and (max-width: 950px){
	  	width: 20%;
	  }
	  @media all and (min-width: 951px){
		  width: 16.666%;
	  }
      &:hover{
        background-color: #494646;
        color: #ffffff;
      }
      &.active{
        background-color: #494646;
        color: #ffffff;
        border: 0;
      }
      &.cloath{
        background-position: -167px 0;
      }
      &.music{
        background-position: -330px 0;
      }
      &.books{
        background-position: -485px 0;
      }
      &.movies{
        background-position: -655px 0;
      }
      &.drinks{
        background-position: -817px 0;
      }
      &.tech{
        background-position: 0 -214px;
      }
      &.personalcare{
        background-position: -167px -214px;
      }
      &.accesories{
        background-position: -330px -214px;
      }
      &.sports{
        background-position: -485px -214px;
      }
      &.departaments{
        background-position: -655px -214px;
      }
      &.babies{
        background-position: -817px -214px;
      }
    a{
	  position: relative;
	  display: inline-block;
	  width: 100%;
      text-align: center;
      color: #9e9d9d;
      line-height: 1.2;
    }
  }
}

.close_button{
  float: right;
  right: 20px;
  position: relative;
  background: url(../assets/Boton_cerrar.png);
  height: 32px;
  width: 32px;
}

.brands{
  width: 100%;
  @include nclearfix();
  background: #494646;
  color: #b0b0b0;
  padding: 20px 30px;
  &.shopping{
    padding: 30px 0 0 0;
  }
  ul{
    &.col3{ //importante cambiar a col3 donde se necesite en HTML
      @include column-count(3);
	  @media all and (max-width: 680px){
		  @include column-count(2);
	  }
    }
    &.col2{ //importante cambiar a col3 donde se necesite en HTML
      @include column-count(2);
    }
    li{
      font-size: 14px;
      font-weight: 200;
      input[type="text"]{
        width:85%;
        margin-top: 10px;
      }
      input[type="checkbox"]{
        margin-right: 10px;
      }
    }
  }
}
/*/4. MARCAS FAVORITAS */

/*5. COMPRAR */

.gift-menu{
  hr{
    margin: 30px 0 4px 0;
  }
}

/*/5. COMPRAR */

/*6. BONOS */

.info{
	background: url('../assets/info.png') no-repeat;
	display: inline-block;
	width: 42px;
	height: 42px;
	position: relative;
	top: 6px;
}

.referals{
	background: url("../assets/referals.png") no-repeat center center;
	display: inline-block;
	width: 70px;
	height: 70px;
	color: #fff;
	line-height: 4.8;
}

.points-number{
    position: absolute;
    display: block;
    right: 10px;
    top: 0;
    height: 65px;
    width: 65px;
    background: url('../assets/pointbg.png') no-repeat;
    h4{
      position: relative;
      display: block;
      line-height: 3.4;
      text-align: center;
      font-size: 20px;
  }
}

.friends-number{
  position: absolute;
  display: block;
  right: 10px;
  top: 0;
  height: 50px;
  width: 50px;
  background: #737373;
  border: 2px solid white;
  @include box-shadow(rgba(50,50,50,0.4) 0px 1px 4px 1px);
  @include border-radius(100%);
  h4{
    position: relative;
    display: block;
    line-height: 2;
    text-align: center;
    font-size: 20px;
	&.no-after{
	    &:after{
	      content: '';
	    }
	}
    &:after{
      content: url('../assets/couple.png');
      width: 38px;
      height: 22px;
      position: absolute;
      top: -10px;
      right: -37px;
    }
  }
}

//quite los li y lo remplaze por un .list
ul.brands-circle{
  @include nclearfix();
  margin-top: 30px;
  &.friends.per-brands{
	  .list{
		    width: 39.5%;
			@media all and (min-width: 540px) {
				width: 24.5%;
			}
			@media all and (min-width: 540px)  and (min-width: 940px) {
				width: 20.5%;
			}
			@media all and (min-width: 940px) {
				width: 16.5%;
			}
		}
  }
  &.friends{
    .list{
		width: 24.5%;
		margin: 15px;
		float: none;
		@media all and (min-width: 768px) {
			width: 16.5%;
		}
		h5{
			font-size: 1.05em;
		}
		h6{
			display: none;
			background: rgba(#468D34,0.7);
			color: #fff;
			text-align: center;
			@include border-radius(100%);
			position: absolute;
			width: 142px;
			height: 142px;
			top: 0;
			margin: 0 auto;
			text-align: center;
			left: 9px;
			padding-top: 60px;
		}
		&.friends-circle{
			&:after{
				content: url('../assets/filter/porinvitar.png');
				background: gray;
				width: 30px;
				height: 30px;
				line-height: 30px;
				position: absolute;
				top: 0;
				right: 0;
				@include border-radius(100%);
			}
			@media all and (min-width: 768px) {
				&:after{
					position: absolute;
					top: 10px;
					right: 10px;
				}
			}

			&.giftcoder{
	//		      img{
	//				border: 8px solid #e1e1e1;
	//				opacity: 1;
	//				display: inline-block;
	//		      }
				&:after{
					content: url('../assets/filter/engiftcode.png');
					width: 30px;
					height: 30px;
					line-height: 30px;
					position: absolute;
					top: 10px;
					right: 10px;
					@include border-radius(100%);
				}
	//            h6{
	//              background: rgba(#28B2DF,0.7);
	//            }
	        }
			&.already-invite{
	  			&:after{
	  				content: url('../assets/filter/invitados.png');
					width: 30px;
					height: 30px;
					line-height: 30px;
	  				position: absolute;
	  				top: 10px;
	  				right: 10px;
	  				@include border-radius(100%);
	  			}
	            h6{
	              background: rgba(#DF3B66,0.7);
	            }
			}
			&.referal{
	  			&:after{
	  				content: url('../assets/filter/referidos.png');
					width: 30px;
					height: 30px;
					line-height: 30px;
	  				position: absolute;
	  				top: 10px;
	  				right: 10px;
	  				@include border-radius(100%);
	  			}
	            h6{
	              background: rgba(#468D34,0.7);
	            }
			}
		}
      p{
        margin: 20px 0;
        color: #20211F;
      }
      ul.friend-list{
        @include nclearfix();
        display: block;
        width: 100%;
        position: relative;
        min-height: 130px;
		&.no-friends{
			min-height: 0;
		}
        li{
          width: 17%;
          margin: 2px;
          border: 1px solid rgba(0,0,0,0);
          img{
            @include box-shadow(rgba(50,50,50,0) 0px 0px 0px 0px);
            @include border-radius(100%);
          }
        }
      }
      &.active{
        &:after{
          content:'';
          width: 0;
          height: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-bottom: 20px solid #494646;
          position: relative;
          top: 15px;
          float: left;
		  @media all and (max-width: 450px) {
			  margin-left: 53px;
		  }
          margin-left: 130px;
        }
        img{
          @include box-shadow(rgba(50,50,50,0.2) 0px 0px 20px 10px);
		  opacity: .6;
        }
      }
    }
  }
  .list{
    display: inline-block;
    position: relative;
    float: left;
    width: 31%;
    margin: 10px;
    &.active{
      &:after{
        content:'';
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid #494646;
        position: relative;
        //top: 18px;
      }
      img{
        @include box-shadow(rgba(50,50,50,0.2) 0px 0px 20px 10px);
      }
    }
    img{
      @include border-radius(100%);
//      border: 8px solid #e1e1e1;
    }
    a.button.pre.radius{
      padding: 10px;
	  display: block;
	  width: 100%;
	  max-width: 120px;
	  margin: 0 auto;
    }
    &:hover{
      img{
        @include box-shadow(rgba(50,50,50,0.2) 0px 0px 20px 10px);
      }
	  h6{
		  @media all and (min-width: 990px) {
			 display: block;
	  	  }
	  }
    }
  }
}

.legal{
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

@import "iconos-perfil/*.png";

.action-buttons{
  @include nclearfix();
  position: absolute;
  bottom:5px;
  width: 120px;
  @media all and (min-width: 940px){
	  width: 180px;
  }
  right: 0;
  ul{
    li{
      float: left;
      margin:5px;
      a{
        @include iconos-perfil-sprite(mail,false, 6,6);
        @include box-shadow(rgba(50,50,50,.2) 0px 5px 10px);
        background-color: #494646;
        border: 2px solid white;
        width: 50px;
        height: 50px;
        display: inline-block;
        text-align: center;
        @include border-radius(25px);
        position: relative;
        span{
          position: absolute;
          top: -15px;
          background: #000;
          color: #74df7c;
          padding: 1px 10px;
          @include border-radius(100%);
          display: inline-block;
        }
        &:hover{
          @include box-shadow(rgba(50,50,50,.4) 0px 5px 10px);
          @include iconos-perfil-sprite(mail_hover,false,6,6);
          background-color: #494646;
        }
        &.settings{
          @include iconos-perfil-sprite(settings,false,6,6);
          background-color: #494646;
        }
        &.gift{
          @include iconos-perfil-sprite(bono,false,6,6);
          background-color: #494646;
        }
      }
    }
  }
}

.shop{
  padding:20px;
  h5{
    margin-bottom: 20px;
    font-size: 21px;
  }
  label{
    font-size: 14px;
    color: #c5c5c5;
  }
  .large-5{
    label{
      margin-bottom:10px;
    }
  }
}

.add-friend{
	a{
		color: #f6f6f6;
		font-weight: 500;
		img{
			@include border-radius(100%);
			margin-right: 3px;
			position: relative;
			top: -1px;
		}
		&:hover{
			color: lighten(#f6f6f6,20%);
			span{
				background: #2d781b;
				color: #fff;
			}
		}
		sup{
			color: yellowgreen;
		}
		span{
			background: #2E2C2C;
			width: 20px;
			height: 20px;
			@include border-radius(100%);
			text-align: center;
			display: inline-block;
			line-height: 1.2;
			float: right;
			font-size: 17px;
		}
	}
}

.shop{
	label{
		color: #f6f6f6;
	}
}

.goto-buttons{
  position: relative;
  top: 25px;
  right: 27px;
  &.more-space{
	  top: 0;
	  right: 0;
	  margin: 0 auto;
	  text-align: center;
	  margin-bottom: 20px;
	  a.button.continue{
		  border: 0;
	      &:after{
	        content:'';
	        width: 0;
	        height: 0;
	        border-top: 21px solid transparent;
	        border-bottom: 21px solid transparent;
	        border-left: 20px solid #2d781b;
	        position: absolute;
	  	    display: block;
	  	    top: 0px;
		    right: -20px;
	      }
	  }
  }
  .button{
    padding: 10px;
	margin: 0 3px;
	outline: 0;
	display: inline-block;
  }
  input.button.continue, button.button.continue, a.button.continue{
    position: relative;
	@include box-shadow(0 0 0 0);
	display: inline-block;
	-webkit-transition: background-color 0ms ease;
	-moz-transition: background-color 0ms ease;
	transition: background-color 0ms ease;
	&:hover{
		-webkit-transition: background-color 0ms ease;
		-moz-transition: background-color 0ms ease;
		transition: background-color 0ms ease;
		&:after{
			border-left: 20px solid #1d4e12;
			-webkit-transition: background-color 0ms ease;
			-moz-transition: background-color 0ms ease;
			transition: background-color 0ms ease;
		}
	}
    &:after{
      content:'';
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 21px solid #2d781b;
      position: absolute;
	  display: block;
	  top: 0px;
	  right: -21px;
    }
  }
}

/*/ 6. BONOS */

.sub-menu{
  font-size: 20px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  text-align: center;
  li{
    border-right: 1px dotted #2f761d;
    text-align: center;
	float: none;
	display: inline-block;
    padding-right: 23px;
    height: 23px;
    line-height: 20px;
	@media all and (max-width: 450px)  {
		font-size: 18px !important;
	}
	&:last-child{
		border: 0;
	}
  }
}


.sub-banner{
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cccccc;
  display: block;
  margin: 0 auto;
  text-align: center;
  img{
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
  }
}

form.custom {
	.section{
		.custom.dropdown{
			max-width: 200px;
			display: inline-block;
			text-align: left;
		}
	}
}

.goahed{
	text-align: center;
	margin-bottom: 60px;
    input.button.continue, button.button.continue, a.button.continue{
	max-width: 120px;
	display: inline-block;
	position: relative;
  	@include box-shadow(0 0 0 0);
  	display: inline-block;
  	-webkit-transition: background-color 0ms ease;
  	-moz-transition: background-color 0ms ease;
  	transition: background-color 0ms ease;
	height: 40px;
	line-height: 28px;
	    &:after{
	      content:'';
	      width: 0;
	      height: 0;
	      border-top: 20px solid transparent;
	      border-bottom: 20px solid transparent;
	      border-left: 21px solid #2d781b;
	      position: absolute;
		  display: block;
		  top: -1px;
		  right: -21px;
	    }
	  	&:hover{
	  		-webkit-transition: background-color 0ms ease;
	  		-moz-transition: background-color 0ms ease;
	  		transition: background-color 0ms ease;
	  		&:after{
	  			border-left: 20px solid #1d4e12;
	  			-webkit-transition: background-color 0ms ease;
	  			-moz-transition: background-color 0ms ease;
	  			transition: background-color 0ms ease;
	  		}
	  	}
    }
}

.section{
	border-top: #e1e1e1 1px solid;
	padding: 25px 0;
	text-align: right;
	padding-right: 20%;
	label{
		display: inline-block;
		margin: 0 10px;
	}
	input, select{
		max-width: 200px;
		display: inline-block;
		margin: 0 5px;
	}
	
	.button{
		max-width: 110px;
		display: inline-block;
		background: #7d7d7d;
		color: #fff;
	}
}


//OVERRIDES

form.custom .custom.dropdown .selector{
  background: #2d781b;
  height: 2.125em;
  @include border-radius(2px);
  &:after{
    border-color: #f8f8f8 transparent transparent transparent;
  }
}

input.center-image-input{
	margin: 0 auto;
	display: block;
	width: 80%;
}


// #yoquiero


.yoquiero{
	ul{
		background: #d2edf9;
		list-style-type: none;
		@include border-radius(5px);
		li{
			margin: 0;
			display: inline-block;
			width: 25%;
			&.colored{
				@include border-left-radius(5px);
				background: #1fa7e3;
				padding: 10px;
				@media only screen and (min-width: 540px){
					padding: 16px;
				}
				color: #fff;
				text-align: right;
				position: relative;
				&:after{
					content:" ";
					margin-top: -20px;
					@media only screen and (min-width: 540px){
						margin-top: 4px;
					}
					@include arrow($color: #1fa7e3, $direction: right);
					position: absolute;
					right: -15px;
				}
			}
			&.second{
				width: 40%;
				@media only screen and (min-width: 540px){
					width: 45%;
				}
				text-align: right;
			}
			select{
				width: 80%;
				@media only screen and (min-width: 540px){
					width: 40%;
				}
				margin: 0;
			}
			.thebutton{
				background: #1fa7e3;
				color: #fff;
				@include border-radius(4px);
				padding: 6px 15px;
				margin-left: 5px;
			}
		}
		&.face{
			background: #d8deeb;
			li{
				&.colored{
					background: #3b599a;
					&:after{
						content:" ";
						@include arrow($color: #3b599a, $direction: right);
					}
				}
			}
			.thebutton{
				background: #3b599a;
				color: #fff;
				@include border-radius(4px);
			}
		}
	}
}




//UPDATE BONO

.greenbg{
	background: #509a43;
	@include border-bottom-radius(18px);
	margin-top: 20px;
}

.legal-advice{
	padding: 20px;
	text-align: center;
	font-family: Times;
	font-style: italic;
	font-size: 16px;
	font-weight: 200;
}

.the-count{
    -webkit-column-count: 2;
     -webkit-column-gap:   5px;
     -moz-column-count:    2;
     -moz-column-gap:      5px;
     column-count:         2;
     column-gap:           5px;
}

.bono{
	background: url('../assets/bono-back-new.png') no-repeat top center;
	-webkit-background-size: cover;
	background-size: cover;
	width: 100%;
	@include border-radius(10px);
	min-height: 270px;
	margin-bottom: 20px;
	@include box-shadow(rgba(50,50,50,.5) 1px 1px 5px);
	border-top: 1px solid rgba(#fff,.6);
	&.bigone{
		&.confirmation{
			.giftnote{
				margin-top: 15px;
				height: 100px;
				margin-bottom: 40px;
				@media all and (max-width: 450px) {
					margin: 20px;
				}
				p{
					&.in-modal{
						padding:20px 10px;
					}
				}
			}
		}
		margin-top: 40px;
		min-height: 370px;
		@include border-radius(20px);
		.whos{
			margin-top: 70px;
			@media all and (max-width: 450px) {
				margin: 20px;
			}
			h4{
				span{
					&.greentxt{
						color: #335412;
					}
				}
			}
		}
		.giftnote{
			margin-top: 30px;
			height: 100px;
			@media all and (max-width: 450px) {
				margin: 20px;
			}
			p{
				line-height: 80px;
				font-size: 22px;
				&.in-modal{
					line-height: 1.4;
					font-size: 20px;
					@media all and (max-width: 450px) {
						font-size: 18px;
					}
					padding: 20px 5px;
					font-style: italic;
				}
			}
		}
	}
	&.white{
		&.flipped{
			padding: 0;
			@include border-radius(20px);
		}
		@media all and (max-width: 450px)  {
			background: #fff url('../assets/bono-white-small.jpg') no-repeat scroll top center;
		}
		background: #fff url('../assets/bono-white.jpg') no-repeat scroll top center;
		-webkit-background-size: cover;
		background-size: cover;
		padding: 10px 30px;
		@include border-radius(10px);
		img{
			&.qr{
				display: block;
				margin: 20px auto;
				text-align: center;
				width: 110px;
				height: 110px;
			}
		}
		span{
			display: block;
			margin: 5px auto;
			text-align: center;
		}
	}
    &.whitelabel{
      &.flipped{
        padding: 0;
        @include border-radius(20px);
      }
      background: #fff url('../assets/bono-whitelabel.jpg') no-repeat scroll top center;
      -webkit-background-size: cover;
      background-size: cover;
      padding: 10px 30px;
      @include border-radius(10px);
      img{
        &.qr{
          display: block;
          margin: 20px auto;
          text-align: center;
          width: 110px;
          height: 110px;
        }
      }
      span{
        display: block;
        margin: 5px auto;
        text-align: center;
      }
    }
  &.bigone_wl{
    &.confirmation{
      .giftnote{
        margin-top: 15px;
        height: 100px;
        margin-bottom: 40px;
//		@media all and (max-width: 450px) { no se todavia si lo necesite o no
//			margin: 20px;
//		}
        p{
          &.in-modal{
            padding:20px 10px;
          }
        }
      }
    }
    background: #fff url('../assets/bono-back-whitelabel.png') no-repeat scroll top center;
    margin-top: 40px;
    min-height: 370px;
    @include border-radius(20px);
    .whos{
		margin-top: 70px;
      h4{
        span{
          &.greentxt{
            color: #335412;
          }
        }
      }
    }
    .giftnote{
      margin-top: 30px;
      height: 100px;
      p{
        line-height: 80px;
        font-size: 22px;
        &.in-modal{
          line-height: 1.4;
          font-size: 20px;
          padding: 20px 5px;
          font-style: italic;
        }
      }
    }
  }
}

.the-close{
	width: 100%;
	height: 32px;
	margin-bottom: 15px;
}

.brand-ico{
	@include border-radius(100%);
	position: relative;
	top: 30px;
	left: 30px;
	@media all and (max-width: 450px) {
		margin: 0 auto;
		display: block;
		left: 0;
		top: 10px;
	}
	&.smallish{
		width: 120px;
		height: 120px;
	}
}

.whos{
	margin-top: 45px;
	h5{
		font-weight: normal;
		margin: 1px 0;
		font-size: 20px;
	}
    h4{
      font-weight: normal;
      margin: 1px 0;
      font-size: 22px;
    }
	h2{
		margin: 10px 0 0 0;
		font-weight: normal;
	}
	h6{
		font-weight: 200;
		margin: 0;
	}
}

.giftnote{
	background: #fff;
	@include border-radius(10px);
	height: 60px;
	p{
		font-family: Times;
		line-height: 60px;
		text-align: center;
		color: #2b2c2a;
	}
}

.gray-warning{
	background: #535353;
	width: 100%;
	height: 80px;
	margin: 0 auto;
	p{
		color: #fff;
		text-align: center;
		font-family: Times;
		line-height: 80px;
		font-size: 20px;
		font-style: italic;
	}
}

.qr-image{
	margin: 20px auto;
	display: block;
}

.reveal-modal-bg{
	background: rgba(0,0,0,0.82);
}

.download-icon{
	position: absolute;
	bottom: -15px;
	right: -40%;
	color: #6f6f6f;
	background: #3E3E3E;
	@include border-radius(100%);
	width: 35px;
	height: 35px;
	line-height: 23px;
	text-align: center;
	font-size: 30px;
	font-weight: 200;
	&:hover{
		color: #65DC69;
	}
	span{
		font-size: 16px;
		position: absolute;
		bottom: 0px;
		right: 40px;
		font-family: "Times New Roman", Times;
		font-style: italic;
		font-weight: 200;
	}
}
.flip-card{
	position: absolute;
	top: -1.5em;
	right: -3em;
	color: #65DC69;
	background: #3E3E3E;
	@include border-radius(100%);
	width: 35px;
	height: 35px;
	line-height: 28px;
	text-align: center;
	font-size: 30px;
	font-weight: 200;
	&.back-flip{
		span{
			left: -54px;
		}
	}
	span{
		font-size: 16px;
		position: absolute;
		left: -83px;
		top: 3px;
		font-family: "Times New Roman", Times;
		font-style: italic;
		font-weight: 200;
	}
}

.team-view{
	h3{
		font-family: "Times New Roman", Times;
	}
}


.headline{
	background: url('../assets/headline.jpg') no-repeat scroll top left;
	-webkit-background-size: cover;
	background-size: cover;
	width: 100%;
	min-height: 175px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.respaldo{
	background: #cfcfd0;
	padding: 20px 0;
}

.reveal-modal{
	padding: 0;
	border: 0;
	&.no-reveal-margin{
		background: transparent;
		@include box-shadow(0 0 0 0);
		border: 0;
	}
	.close-reveal-modal{
		color: #65DC69;
		background: #3E3E3E;
		@include border-radius(100%);
		width: 35px;
		height: 35px;
		line-height: 33px;
		text-align: center;
		font-size: 30px;
		font-weight: 200;
		top: -3em;
		right: -3em;
		span{
			font-size: 16px;
			position: absolute;
			left: -55px;
			top: 3px;
			font-family: "Times New Roman", Times;
			font-style: italic;
			font-weight: 200;
		}
	}
}


.alert-box .close{
	padding: 9px 4px 4px;
}

.panel.callout{
	h1{
		font-size: 50px;
		margin-bottom: 0;
		position: relative;
		top: -15px;
	}
}

.inline-list{
	li{
        font-size: 20px;
        color: #2D781B;
		&.active{
			a{
				color: gray;
			}
		}
	}
}

.centrify{
	text-align: center;
	margin-bottom: 20px;
	li{
		float: none;
		display: inline-block;
	}
}


@import "filter/*.png";
.filter-list{
	li{
		span{
			height: 30px;
			width: 30px;
			display: inline-block;
			@include border-radius(100%);
			position: relative;
			top: 8px;
			@include filter-sprite(referidos,false,0,-1);
			background-color: gray;
			&.ingiftcode{
				@include filter-sprite(engiftcode,false,0,-1);
				background-color: gray;
			}
			&.guest{
				@include filter-sprite(invitados,false,0,-1);
				background-color: gray;
			}
			&.toinvite{
				@include filter-sprite(porinvitar,false,0,-1);
				background-color: gray;
			}
		}
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

@media all and (min-width: 1919px) {
	.banner{
		height: 600px;
	}
}

//TOP BAR
$second: #265f17;
.contain-to-grid{
	@include background-image(linear-gradient(#2f761d, $second));
	border-bottom: 1px solid #2f761d;
}


.top-bar{
	@include background-image(linear-gradient(#2f761d, $second));
	height: 75px;
	line-height: 75px;
	margin-bottom: 0;
    .name{
   		height: 75px;
        padding-top: 19px;
		padding-left: 10px;
		@media only screen and (max-width: 590px) {
			padding-left: 0;
		}
		a{
			position: relative;
			top: 4px;
			@media only screen and (max-width: 590px) {
				top: 8px;
				width: 50%;
				display: block;
				max-width: 200px;
			}
		}
   	}
	&.expanded{
		height: auto;
		.title-area{
			@include background-image(linear-gradient(#2f761d, $second));
		}
		.has-form{
			background: white;
		}
	}
}

.top-bar input{
	height: auto;
}

.top-bar-section ul{
	background: none;
}

.top-bar-section ul li>a{
	color: #fff;
	font-size: 1.1em;
	font-weight: normal;
	background: #478D34;
}


.top-bar-section li a:not(.button):hover{
	background: transparent;
}

.top-bar-section ul li:hover>a{
	background: #478D34;
	color: darken(#fff,5%);
}

.top-bar-section .has-form{
	@include background-image(linear-gradient(#2f761d, $second));
	height: 75px;
	border-bottom: 1px solid gray;
}

.top-bar-section ul li.active>a{
	background: #3C7A2D;
	color: #fff;
}


@media only screen and (min-width: 58.75em){

	.contain-to-grid{
		@include background-image(linear-gradient(#2f761d, $second));
		&.fixed{
			background: rgba($second,.8);
			.top-bar{
				background: transparent;
				.top-bar-section{
					.has-form{
						background: transparent;
					}
					ul li.active > a{
						background: rgba(255,255,255,.8);
					}
					li a:not(.button){
						background: transparent;
					}
				}
			}
		}
	}
	
	.top-bar li{
		&.new{
			position: relative;
			display: block;
			&:before{
				content: url('../assets/new.png');
				width: 50px;
				height: 31px;
				position: absolute;
				left: 50%;
				margin-left: -28px;
				top: 10px;
			}
		}
	}
	
	.top-bar .button{
		line-height: 2em;
		font-size: 1em;
		height: 40px;
		padding: 10px 10px 10px 45px;
		top: 15px;
		span.border{
			position: relative;
			top: -8px
		}
	}
}


@media only screen and (min-width: 940px){


	.top-bar-section li a:not(.button){
		background: transparent;
		line-height: 100px;
		height: 65px;
		padding: 0 15px;
		color: white;
	}
	
	.top-bar-section ul li > a{
		font-size: 1em;
	}

//	HOVER
	.top-bar-section li a:not(.button):hover{
		background: transparent;
		color: darken(white,10%);
	}

	.top-bar-section ul li:hover>a{
		background: #fff;
		color: darken(#2d781b,5%);
	}
//	/HOVER

	.top-bar-section .has-form{
		border-bottom: 0;
	}

	.top-bar input{
		height: 2.45em;
	}

	.top-bar-section ul li.active>a{
		background: transparent;
		color: #83C273;
	}

	.top-bar-section>ul>.divider{
		border-right: 0;
		border-top: 0;
		border-bottom: 0;
		border-color: white;
		border-left: 1px dashed #d2d2d2;
		height: 70px;
		&.center-divider{
			height: 25px;
			margin: 35px 0 0 0;
		}
	}

}

//jcarousel
/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
    position: relative;
    overflow: hidden;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
	padding: 0 5px;
}

.jcarousel-control-prev{
	float: left;
	width: 30px;
	height: 60px;
	background: url('../assets/brandsarrows.png') no-repeat scroll 0 0;
	text-indent: -9999px;
	position: relative;
	top: 20px;
	left: -10px;
}

.jcarousel-control-next{
	float: right;
	width: 30px;
	height: 60px;
	background: url('../assets/brandsarrows.png') no-repeat scroll -60px 0;
	text-indent: -9999px;
	position: relative;
	top: -75px;
	right: 0px;
}



.sample-show-hide {
  padding:10px;
  border:1px solid #2d781b;
  background: #2d781b;
}

.sample-show-hide {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.sample-show-hide.ng-hide {
  opacity:0;
}

.show-hide {
  display: none;
}