@import "setup_external";
@import "compass/css3";
//@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


@import
"foundation/components/buttons",
"foundation/components/dropdown",
"foundation/components/forms",
"foundation/components/type",
"foundation/components/grid";


.gray-spot{
  background: #eee;
  min-height: 115px;
}

strong{
  color: #000;
}

.mb20{
  margin-bottom: 20px;
}

.legal-text{
  position: relative;
  top: 10px;
}

.brand-logo{
  position: relative;
  top: 28px;
}

textarea{
  height: 180px;
  &.verify{
    background: #F9F9F9;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input{
  &.verify{
    background: #fff;
    border: 0;
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
    &:focus{
      background: #fff;
      border-bottom: 1px solid #ccc;
    }
  }
}

//DATEPICKER

.ui-widget-header{
  background: #EAEAEA;
  @include border-top-radius(5px);

}

.ui-state-default, .ui-widget-content .ui-state-default{
  bottom: 0;
  display: block;
  text-align: center;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight{
  color: #000;
}

tbody tr td{
  &.ui-datepicker-days-cell-over.ui-datepicker-today, &.ui-datepicker-today{
    background: #ccc;
    @include border-radius(5px);
  }
}

.ui-datepicker .ui-datepicker-title{
  margin: auto;
}

.ui-datepicker-prev {
  background: url('../images/date-prev.png') no-repeat center center;
  width: 27px;
  height: 27px;
  text-indent: -9999px;
  display: block;
  float: left;
  position: relative;
  top: 2px;
}

.ui-datepicker-next {
  background: url('../images/date-next.png') no-repeat center center;
  width: 27px;
  height: 27px;
  text-indent: -9999px;
  display: block;
  float: right;
  position: relative;
  top: 2px;
}

.ui-datepicker-title{
  text-align: center;
  width: 66%;
  margin: 0 auto;
  position: relative;
  top: 8px;
  select{
    margin-top: 4px;
    &:last-child{
      margin: 0;
    }
  }
}

#ui-datepicker-div{
  min-width: 230px;
}

.ui-datepicker-header{
  border-bottom: 1px solid rgba(255,255,255,.4);
  margin-left: 0;
  margin-bottom: 0;
  padding-bottom: 15px;
}

table.ui-datepicker-calendar{
  min-width: 230px;
  border: 0;
  background: #B7B7B7;
  @include border-radius(5px);
  thead{
    background: #ccc;
    tr{
      th{
        span{
          font-weight: normal;
          padding-right: 1px;
          color: #fff;
          min-height: 25px;
          line-height: 25px;
        }
      }
    }
  }
  tbody{
    @include border-radius(5px);
  }
  tr.even, tr.alt, tr:nth-of-type(even){
    background: darken(#B7B7B7,3%);
  }
  tr{
    td{
      &.ui-datepicker-current-day{
        background: #fff;
        @include border-radius(5px);
        a{
          color: #000;
        }
      }
      a{
        color: #32434a;
        min-height: 25px;
        line-height: 25px;
      }
    }
  }
}
/// Datepicker