@import "setup_external";
@import "compass/css3";
//@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


@import
"foundation/components/buttons",
"foundation/components/dropdown",
"foundation/components/forms",
"foundation/components/type",
"foundation/components/grid";


.gray-spot{
  background: #eee;
  min-height: 115px;
}

strong{
  color: #000;
}

.mb20{
  margin-bottom: 20px;
}

.legal-text{
  position: relative;
  top: 10px;
}

.brand-logo{
  position: relative;
  top: 28px;
}

textarea{
  height: 180px;
  &.verify{
    background: #F9F9F9;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input{
  &.verify{
    background: #fff;
    border: 0;
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
    &:focus{
      background: #fff;
      border-bottom: 1px solid #ccc;
    }
  }
}

//DATEPICKER

.ui-widget-header{
  background: #EAEAEA;
  @include border-top-radius(5px);

}

.ui-state-default, .ui-widget-content .ui-state-default{
  bottom: 0;
  display: block;
  text-align: center;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight{
  color: #000;
}

tbody tr td{
  &.ui-datepicker-days-cell-over.ui-datepicker-today, &.ui-datepicker-today{
    background: #ccc;
    @include border-radius(5px);
  }
}

.ui-datepicker .ui-datepicker-title{
  margin: auto;
}

.ui-datepicker-prev {
  background: url('../images/date-prev.png') no-repeat center center;
  width: 27px;
  height: 27px;
  text-indent: -9999px;
  display: block;
  float: left;
  position: relative;
  top: 2px;
}

.ui-datepicker-next {
  background: url('../images/date-next.png') no-repeat center center;
  width: 27px;
  height: 27px;
  text-indent: -9999px;
  display: block;
  float: right;
  position: relative;
  top: 2px;
}

.ui-datepicker-title{
  text-align: center;
  width: 66%;
  margin: 0 auto;
  position: relative;
  top: 8px;
  select{
    margin-top: 4px;
    &:last-child{
      margin: 0;
    }
  }
}

#ui-datepicker-div{
  min-width: 230px;
}

.ui-datepicker-header{
  border-bottom: 1px solid rgba(255,255,255,.4);
  margin-left: 0;
  margin-bottom: 0;
  padding-bottom: 15px;
}

table.ui-datepicker-calendar{
  min-width: 230px;
  border: 0;
  background: #B7B7B7;
  @include border-radius(5px);
  thead{
    background: #ccc;
    tr{
      th{
        span{
          font-weight: normal;
          padding-right: 1px;
          color: #fff;
          min-height: 25px;
          line-height: 25px;
        }
      }
    }
  }
  tbody{
    @include border-radius(5px);
  }
  tr.even, tr.alt, tr:nth-of-type(even){
    background: darken(#B7B7B7,3%);
  }
  tr{
    td{
      &.ui-datepicker-current-day{
        background: #fff;
        @include border-radius(5px);
        a{
          color: #000;
        }
      }
      a{
        color: #32434a;
        min-height: 25px;
        line-height: 25px;
      }
    }
  }
}
/// Datepicker

//repiting from style.scss

.bono{
  background: url('../assets/bono-back-new.png') no-repeat top center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  @include border-radius(10px);
  min-height: 270px;
  margin-bottom: 20px;
  @include box-shadow(rgba(50,50,50,.5) 1px 1px 5px);
  border-top: 1px solid rgba(#fff,.6);
  &.bigone{
    &.confirmation{
      .giftnote{
        margin-top: 15px;
        height: 100px;
        margin-bottom: 40px;
        p{
          &.in-modal{
            padding:20px 10px;
          }
        }
      }
    }
    margin-top: 40px;
    min-height: 370px;
    @include border-radius(20px);
    .whos{
      margin-top: 70px;
      h4{
        span{
          &.greentxt{
            color: #335412;
          }
        }
      }
    }
    .giftnote{
      margin-top: 30px;
      height: 100px;
      p{
        line-height: 80px;
        font-size: 22px;
        &.in-modal{
          line-height: 1.4;
          font-size: 20px;
          padding: 20px 5px;
          font-style: italic;
        }
      }
    }
  }
  &.white{
    &.flipped{
      padding: 0;
      @include border-radius(20px);
    }
    background: #fff url('../assets/bono-white.jpg') no-repeat scroll top center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 10px 30px;
    @include border-radius(10px);
    img{
      &.qr{
        display: block;
        margin: 20px auto;
        text-align: center;
        width: 110px;
        height: 110px;
      }
    }
    span{
      display: block;
      margin: 5px auto;
      text-align: center;
    }
  }
  &.whitelabel{
    &.flipped{
      padding: 0;
      @include border-radius(20px);
    }
    background: #fff url('../assets/bono-whitelabel.jpg') no-repeat scroll top center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 10px 30px;
    @include border-radius(10px);
    img{
      &.qr{
        display: block;
        margin: 20px auto;
        text-align: center;
        width: 110px;
        height: 110px;
      }
    }
    span{
      display: block;
      margin: 5px auto;
      text-align: center;
    }
  }
  &.bigone_wl{
    &.confirmation{
      .giftnote{
        margin-top: 15px;
        height: 100px;
        margin-bottom: 40px;
        p{
          &.in-modal{
            padding:20px 10px;
          }
        }
      }
    }
    background: #fff url('../assets/bono-back-whitelabel.png') no-repeat scroll top center;
    margin-top: 40px;
    min-height: 370px;
    @include border-radius(20px);
    .whos{
      margin-top: 70px;
      h4{
        span{
          &.greentxt{
            color: #335412;
          }
        }
      }
    }
    .giftnote{
      margin-top: 30px;
      height: 100px;
      p{
        line-height: 80px;
        font-size: 22px;
        &.in-modal{
          line-height: 1.4;
          font-size: 20px;
          padding: 20px 5px;
          font-style: italic;
        }
      }
    }
  }
}

.giftnote{
  background: #fff;
  @include border-radius(10px);
  height: 60px;
  p{
    font-family: Times;
    line-height: 60px;
    text-align: center;
    color: #2b2c2a;
  }
}


.legal-advice{
  padding: 20px;
  text-align: center;
  font-family: Times;
  font-style: italic;
  font-size: 16px;
  font-weight: 200;
}

#confirmation.reveal-modal {
  .close-reveal-modal {
    background: #3E3E3E;
    @include border-radius(100%);
    width: 35px;
    height: 35px;
    font-size: 38px;
    line-height: 1;
    position: absolute;
    top: -17px;
    right: -17px;
    color: #aaaaaa;
    font-weight: normal;
    cursor: pointer;
    border: 1px solid white;
    text-align: center;
    span {
      font-size: 16px;
      position: absolute;
      left: -55px;
      top: 3px;
      font-family: "Times New Roman", Times;
      font-style: italic;
      font-weight: 200;
    }
  }
}


.brand-ico{
  @include border-radius(100%);
  position: relative;
  top: 30px;
  left: 30px;
  &.smallish{
    width: 120px;
    height: 120px;
  }
}

.cancelar{
  background: #ababab;
}

.no-padding{
  padding: 0;
}

.ph-20{
  padding: 0 20px;
}

.the-close{
  width: 100%;
  height: 32px;
  margin-bottom: 15px;
}

.alert-box{
  margin-top: 10px;
}

.greenbg{
  background: #509a43;
  @include border-bottom-radius(18px);
  margin-top: 20px;
}