.off{
  background-color: #ffffff;
  color: #222222;
  .shop{
    border-top: thick double #222222;
    background-color: lightgray;
  }
  .brands{
    padding-top: 5px;
    color: #222222;
    .shop{
      background-color: lightgray;
      .list-brands{
        overflow-y: auto;
        height: 1000px;
//        @media all and (min-width: 540px) {
//          overflow-y: none;
//          height: auto;
//        }
      }
      .selected_brand{
        margin-top: 6px;
      }
    }
  }
  .add-friend{
    var {
      color: #222222;
    }
    span{
      margin-top: 20px;
    }
  }
  h5{
    color: #222222;
  }
  label{
    color: #222222;
    &.warningtxt{
      color: #B73230;
      font-size: 21px;
    }
  }
}