<div class="banner">
  <div class="row">
    <div class="large-6 columns">
      <div class="forbanner">
        <%# <h4 class="whitetxt normal">Con este <span class="highlight">GiftCode</span> de Totto tu amiga Camila puede aprovechar la temporada de descuentos y comprar algo fantastico de la última colección a su gusto y medida.</h4> %>
        <h4 class="whitetxt normal text-left"><%= I18n.t('views.pages.home2.banner_message') %></h4>
        <!--<a class="button success radius normal left" href="#"><span class="gifty"></span><span class="border">Regalar</span></a>-->
        <!--<a class="button secondary radius normal" href="#"><span class="facebook"></span><span class="border">Régistrate usando facebook</span></a>-->
        <%# link_to "Régistrate usando facebook", user_session_path %>
        <%= form_for(:user, :url => user_omniauth_authorize_path(:facebook)) do |f| %>
            <%# f.button "<span class='gifty'></span><span class='border'>Regalar</span>".html_safe, { name: "submit", id: "facebook", :class => 'button success radius normal left'} %>
            <%= f.button "<span class='facebook'></span><span class='border'>#{ I18n.t('views.pages.home2.sign_up') }</span>".html_safe, { name: "submit", id: "facebook", :class => 'button secondary radius normal'} %>
            <br /><small><%= I18n.t('views.pages.home2.terms_and_conditions_beginning') %> <%= link_to I18n.t('views.pages.home2.terms_and_conditions'), tos_pages_path, style: 'color:gray;' %><br /> <%= I18n.t('views.pages.home2.terms_and_conditions_medium') %> <%= link_to I18n.t('views.pages.home2.privacy_policy'), politica_pages_path, style: 'color:gray;' %>.</small>
        <% end %>
      </div>
    </div>
    <div class="large-6 columns"></div>
  </div>
</div>