<div class="banner_landing2">
  <div class="row">
    <div class="large-2 columns"> &nbsp; </div>
    <div class="large-8 columns">
      <div class="forbanner">
        <h4 class="whitetxt normal"><%= I18n.t('views.pages.home.banner_message_landing2') %></h4>
        <div class="text-center">
          <ul class="stars">
            <li class=""  >No te equivocas al regalar</li>
            <li class=""  >Ahorra tiempo y dinero</li>
          </ul>
        </div>
        <% unless user_signed_in? %>
            <button ng-click="login()" class="button big success radius normal on-small centered" id="facebook" name="submit" type="submit"><span class="gifty"></span><span class="border">Iniciar Ahora</span></button>
        <% end %>
      </div>
    </div>
    <div class="large-6 columns"></div>
  </div>
</div>