<div class="banner">
  <div class="row">
    <div class="large-6 columns">
      <div class="forbanner">
        <h4 class="whitetxt normal text-left"><%= I18n.t('views.pages.concurso2014.banner_message') %></h4>
        <%= form_for(:user, :url => user_omniauth_authorize_path(:facebook)) do |f| %>
            <%= f.button "<span class='facebook'></span><span class='border'>#{I18n.t('views.pages.concurso2014.sign_up')}</span>".html_safe, { name: "submit", id: "facebook", :class => 'button secondary radius normal'} %>
            <br /><small><%= I18n.t('views.pages.concurso2014.terms_and_conditions_beginning') %> <%= link_to I18n.t('views.pages.concurso2014.terms_and_conditions'), tos_pages_path, style: 'color:gray;' %><br /> <%= I18n.t('views.pages.concurso2014.terms_and_conditions_medium') %> <%= link_to I18n.t('views.pages.concurso2014.privacy_policy'), politica_pages_path, style: 'color:gray;' %>.</small>
        <% end %>
      </div>
    </div>
    <div class="large-6 columns"></div>
  </div>
</div>