<!--<ul class="example-orbit " data-orbit data-options="bullets:false;navigation_arrows:true;pause_on_hover: false;">-->
  <!--<li class="active" >-->
    <div class="banner giftcode">
      <div class="row">
        <div class="large-6 columns">
          <div class="forbanner">
            <h4 class="whitetxt normal text-left"><%= I18n.t('views.pages.home.banner_message') %></h4>
            <h6 class="whitetxt normal text-left"><%= I18n.t('views.pages.home.banner_message_2') %></h6>
            <% unless user_signed_in? %>
                <button ng-click="login()" class="button big success radius normal on-small" id="facebook" name="submit" type="submit"><span class="gifty"></span><span class="border">¡Ver todas las marcas!</span></button>
            <% end %>
          </div>
        </div>
        <div class="large-6 columns"></div>
      </div>
    </div>
  <!--</li>-->
  <!--<li>-->
    <!--<div class="banner bbc" >-->
      <!--<div class="row">-->
        <!--<div class="large-5 columns right">-->
          <!--<div class="forbanner2">-->
            <!--<%# image_tag("logo_bbc.png", :alt => "BBC image", :width => '100%', :class => 'right') %>-->
            <!--<h6 class="whitetxt normal text-right right">Envía a tus amigos, bonos de regalo de la cervecería pequeña más grande de Colombia.</h6>-->
            <!--<%# unless user_signed_in? %>-->
                <!--<button ng-click="login()" class="button big success radius normal on-small right" id="facebook" name="submit" type="submit"><span class="gifty"></span><span class="border">Regalar</span></button>-->
            <!--<%# end %>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="large-6 columns"></div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</li>-->

  <!--<li>-->
    <!--<div class="banner diesel">-->
      <!--<div class="row">-->
        <!--<div class="large-6 columns">-->
          <!--<div class="forbanner2">-->
            <!--<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>-->
            <!--<%# unless user_signed_in? %>-->
                <!--<button ng-click="login()" class="button big success radius normal on-small" id="facebook" name="submit" type="submit"><span class="gifty"></span><span class="border">Regala DIESEL</span></button>-->
            <!--<%# end %>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="large-6 columns"></div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</li>-->

  <!--<li>-->
    <!--<div class="banner kipling">-->
      <!--<div class="row">-->
        <!--<div class="large-6 columns">-->
          <!--<div class="forbanner2">-->
            <!--<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>-->
            <!--<h4 class="whitetxt normal text-left"></h4>-->
            <!--&lt;!&ndash;<h6 class="whitetxt normal text-left">Regala </h6>&ndash;&gt;-->
            <!--<%# unless user_signed_in? %>-->
                <!--<button ng-click="login()" class="button big success radius normal on-small centered" id="facebook" name="submit" type="submit"><span class="gifty"></span><span class="border">¡Regalar!</span></button>-->
            <!--<%# end %>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="large-6 columns"></div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</li>-->

  <!--<li>-->
    <!--<div class="banner girbaud">-->
      <!--<div class="row">-->
        <!--<div class="large-6 columns">-->
          <!--<div class="forbanner2">-->
            <!--<br/><br/><br/><br/><br/>-->
            <!--<h4 class="whitetxt normal text-left">Regala GIRBAUD</h4>-->
            <!--&lt;!&ndash;<h6 class="whitetxt normal text-left">Regala </h6>&ndash;&gt;-->
            <!--<%# unless user_signed_in? %>-->
                <!--<button ng-click="login()" class="button big success radius normal on-small" id="facebook" name="submit" type="submit"><span class="gifty"></span><span class="border">¡Regalar!</span></button>-->
            <!--<%# end %>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="large-6 columns"></div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</li>-->


<!--</ul>-->
