<table style="background-image:url(../assets/bono-back-new.png);height:350px;width:500px;border:0;border-radius:7px;position: relative;" border="0" width="500" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width:190px;">
			<img src="assets/logo-fold.png" width="180" height="181" alt="Logo Fold">
		</td>
		<td>
			<h4 style="font-weight:normal;"><span style="color:#406B1A;">De:</span> Alex vazquez</h4>
			<h4 style="font-weight:normal;"><span style="color:#406B1A;">Para:</span> Natalia Zuluaga</h4>
			<h1>$200.000</h1>
		</td>
	</tr>
	<tr style="display:block;position:absolute;left:35px;width:420px" align="center" >
		<td style="text-align:center;vertical-align:middle;background:white;font-family:serif;font-style: italic;font-size: 16px;">Feliz cumpleaños, espero la pases muy bien!</td>
	</tr>
</table>
