<div class="share-block">
  <div class="centered padding-top-20">
    <h6 class="text-center times">Comparte esta experiencia</h6>
    <ul class="social-strip">
      <li><a href="https://twitter.com/share?url=<%= root_url %>?amigo=<%= current_user.fbk_user_id %>&text=Conoce giftcode: la manera más fácil de recibir y enviar bonos electrónicos de regalo.&via=giftcode&related=<%= GlobalConstants::TWITTER_RELATED_ACCOUNTS %>&lang=es" class="t" target="_blank" >twitter</a></li>
      <li><a href="http://www.facebook.com/share.php?u=<%= root_url %>?amigo=<%= current_user.fbk_user_id %>" target="_blank" class="f">facebook</a></li>
      <li><a href="https://plusone.google.com/_/+1/confirm?url=<%= root_url %>?amigo=<%= current_user.fbk_user_id %>" target="_blank" class="gp">google plus</a></li>
    </ul>
  </div>
</div>