
<div class="row padding-50">
  <div class="large-12 columns">
    <div class="centered favorite-mark">
      <h3 class="normal inline">Lorem ipsum sit amet</h3>
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer euismod eleifend velit, quis dignissim nisi auctor sit amet. Pellentesque egestas aliquam pellentesque. Morbi mi odio, congue sit amet sodales eget. <strong>Los campos con <span class="greentxt">*</span> son obligatorios</strong>
      </p>
    </div>
  </div>
</div>


<div class="row">
  <div class="large-6 columns large-centered">
    <form action="#" class="custom">
      <div class="row">
        <div class="large-3 columns">
          <label for="Nombre">Nombre <span class="greentxt">*</span></label>
        </div>
        <div class="large-9 columns">
          <input type="text"/>
        </div>
      </div>
      <div class="row">
        <div class="large-3 columns">
          <label for="Nombre">Apellido <span class="greentxt">*</span></label>
        </div> 
        <div class="large-9 columns">
          <input type="text"/>
        </div>
      </div>
      <div class="row">
        <div class="large-3 columns">
          <label for="Nombre">E-mail <span class="greentxt">*</span></label>
        </div>
        <div class="large-9 columns">
          <input type="text"/>
        </div>
      </div>
      <div class="row">
        <div class="large-3 columns">
          <label for="Nombre">Teléfono <span class="greentxt">*</span></label>
        </div>
        <div class="large-9 columns">
          <input type="text"/>
        </div>
      </div>
      <div class="row">
        <div class="large-3 columns">
          <label for="Nombre">Compañia <span class="greentxt">*</span></label>
        </div>
        <div class="large-9 columns">
          <input type="text"/>
        </div>
      </div>
      <div class="row">
        <div class="large-3 columns">
          <label for="Nombre">Asunto <span class="greentxt">*</span></label>
        </div>
        <div class="large-9 columns">
          <select name="" id="">
            <option value="#">Seleccione una opción</option>
            <option value="#"></option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="large-3 columns">
          <label for="Nombre">Mensaje <span class="greentxt">*</span></label>
        </div>
        <div class="large-9 columns">
          <textarea name="mensaje" id="mensaje" cols="30" rows="10"></textarea>
        </div>
      </div>
    </form>
    
    <br />
    <img src="assets/Imagen.png" class="centered" width="81" height="82" alt=""/>
    <h6 class="text-center">Soporte y atención al cliente</h6>
    <p class="text-center">Carrera 15 No. 83-24 of. 208  Bogotá - Colombia</p>
    <p class="text-center">Phone: (57) 3115062021 E-mail: <a href="mailto:contacto@greencode.com.co">contacto@greencode.com.co</a></p>
  </div>
</div>

<br>
