<!--
<div class="row padding-50">
  <div class="large-6 columns">
    <%# "gamification_01.jpg"  %>
    <%= image_tag( 'Diapositiva3.0.jpg', :alt => '', :height =>'339', :width => '478') %>
  </div>
  <div class="large-5 columns">
	  <br />
    <%# <h5>Clientes Corporativos</h5> %>
    <h5><%= I18n.t('views.pages.home.title_4') %></h5>
    <%# <p>Aumenta ya el número de compradores en tus tiendas con Giftcode, el bono electrónico de regalo que podrá ser redimido en tu tienda, ahorrándote todos los gastos y procesos logísticos de los bonos de regalo plásticos que además son altamente contaminantes. Porque Giftcode, como tú, está comprometido con el futuro del planeta.</p>  %>
    <p>“Entré a gíftcode.co, me registré, compartí y listo” @deaquello</p>
    <p>“Compartí gíftcode con mis amigos y recibí el regalo que deseaba” @CatherineCruzB</p>
    <p>“Seleccioné mis marcas favoritas y lo compartí con mis amigos, luego me sorprendieron con un bono de regalo gratis” @Alela_Perez</p>
    <br>
  </div>
  <div class="large-1 columns"></div>
</div>-->

<div class="row">
  <div class="large-12 columns">
    <div class="centered favorite-mark">
      <h3 class="normal inline banner-text"><%= I18n.t('views.pages.home.title_4') %></h3>
    </div>
  </div>
</div>
<div class="row padding-50">
  <div class="large-7 large-centered columns">

    <div class="row">
      <div class="large-3 columns">
        <img class="centered" width="115" height="113" src="/assets/uno.png" alt="">
      </div>
      <div class="large-9 columns">
        <br>
        <br>
        <p ><strong >“Entré a gíftcode.co, me registré, compartí y listo”</strong> @deaquello</p>
      </div>
    </div>
    <br>

    <div class="row hide-for-small">
      <div class="large-9 columns">
        <br>
        <br>
        <p><strong>“Compartí gíftcode con mis amigos y recibí el regalo que deseaba”</strong> @CatherineCruzB</p>
      </div>
      <div class="large-3 columns">
        <img width="115" height="113" src="/assets/dos.png" alt="">
      </div>
    </div>
    <div class="row show-for-small">
      <div class="large-3 columns">
        <img class="centered" width="115" height="113" src="/assets/dos.png" alt="">
      </div>
      <div class="large-9 columns">
        <br>
        <br>
        <p ><strong>“Compartí gíftcode con mis amigos y recibí el regalo que deseaba”</strong> @CatherineCruzB</p>
      </div>
    </div>

    <div class="row">
      <div class="large-3 columns">
        <img class="centered"  width="115" height="113" src="/assets/tres.png" alt="">
      </div>
      <div class="large-9 columns">
        <br>
        <br>
        <p ><strong>“Seleccioné mis marcas favoritas y lo compartí con mis amigos, luego me sorprendieron con un bono de regalo gratis”</strong> @Alela_Perez</p>
      </div>
    </div>
    <br>



  </div>
</div>