<div class="row padding-50">
  <div class="large-6 columns">
    <%= image_tag( "marca-interesada.png", :alt => "", :height =>"291", :width => "368") %>
  </div>
  <div class="large-6 columns">
    <br/>
    <br/>
    <br/>
    <br/>
    <%# <h5>Clientes Corporativos</h5> %>
    <h5><%= link_to I18n.t('views.application.corporate_clients.title'), customers_pages_path, :class=>'' %></h5>
    <%# <p>Aumenta ya el número de compradores en tus tiendas con Giftcode, el bono electrónico de regalo que podrá ser redimido en tu tienda, ahorrándote todos los gastos y procesos logísticos de los bonos de regalo plásticos que además son altamente contaminantes. Porque Giftcode, como tú, está comprometido con el futuro del planeta.</p>  %>
    <p><%= I18n.t('views.application.corporate_clients.description') %></p>
    <br>
    <a class="text-left block" href="<%= customers_pages_path %>"><%= I18n.t('views.application.corporate_clients.more') %></a>
  </div>
</div>