<div class="row">
	<div class="large-12 columns">
		<ul class="large-block-grid-3">
			<li>
				<%= image_tag "https://graph.facebook.com/667793440/picture?width=200&height=200", :class => "circle centered" %>
				<h5 class="text-center no-margin padding-top-20">Alex Vasquez</h5> 
				<h4 class="text-center no-margin">CEO</h4>
				<p class="text-center padding-top-20">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non justo consectetur, hendrerit nunc ut, mattis diam. Morbi imperdiet adipiscing urna. Nulla tempor risus ut cursus luctus. Etiam molestie eleifend euismod. Aenean sit amet vulputate ipsum. Aenean vitae lacinia turpis.
				</p>
			    <ul class="social-strip generic width60">
			      <li><a href="" class="t" target="_blank" >twitter</a></li>
			      <li><a href="" target="_blank" class="f">facebook</a></li>
			      <li><a href="" target="_blank" class="gp">google plus</a></li>
			    </ul>
			</li>
			<li>
				<%= image_tag "https://graph.facebook.com/667793440/picture?width=200&height=200", :class => "circle centered" %>
				<h5 class="text-center no-margin padding-top-20">Alex Vasquez</h5> 
				<h4 class="text-center no-margin">CEO</h4>
				<p class="text-center padding-top-20">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non justo consectetur, hendrerit nunc ut, mattis diam. Morbi imperdiet adipiscing urna. Nulla tempor risus ut cursus luctus. Etiam molestie eleifend euismod. Aenean sit amet vulputate ipsum. Aenean vitae lacinia turpis.
				</p>
			    <ul class="social-strip generic width60">
			      <li><a href="" class="t" target="_blank" >twitter</a></li>
			      <li><a href="" target="_blank" class="f">facebook</a></li>
			      <li><a href="" target="_blank" class="gp">google plus</a></li>
			    </ul>
			</li>
			<li>
				<%= image_tag "https://graph.facebook.com/667793440/picture?width=200&height=200", :class => "circle centered" %>
				<h5 class="text-center no-margin padding-top-20">Alex Vasquez</h5> 
				<h4 class="text-center no-margin">CEO</h4>
				<p class="text-center padding-top-20">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non justo consectetur, hendrerit nunc ut, mattis diam. Morbi imperdiet adipiscing urna. Nulla tempor risus ut cursus luctus. Etiam molestie eleifend euismod. Aenean sit amet vulputate ipsum. Aenean vitae lacinia turpis.
				</p>
			    <ul class="social-strip generic width60">
			      <li><a href="" class="t" target="_blank" >twitter</a></li>
			      <li><a href="" target="_blank" class="f">facebook</a></li>
			      <li><a href="" target="_blank" class="gp">google plus</a></li>
			    </ul>
			</li>
			<li>
				<%= image_tag "https://graph.facebook.com/667793440/picture?width=200&height=200", :class => "circle centered" %>
				<h5 class="text-center no-margin padding-top-20">Alex Vasquez</h5> 
				<h4 class="text-center no-margin">CEO</h4>
				<p class="text-center padding-top-20">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non justo consectetur, hendrerit nunc ut, mattis diam. Morbi imperdiet adipiscing urna. Nulla tempor risus ut cursus luctus. Etiam molestie eleifend euismod. Aenean sit amet vulputate ipsum. Aenean vitae lacinia turpis.
				</p>
			    <ul class="social-strip generic width60">
			      <li><a href="" class="t" target="_blank" >twitter</a></li>
			      <li><a href="" target="_blank" class="f">facebook</a></li>
			      <li><a href="" target="_blank" class="gp">google plus</a></li>
			    </ul>
			</li>
			<li>
				<%= image_tag "https://graph.facebook.com/667793440/picture?width=200&height=200", :class => "circle centered" %>
				<h5 class="text-center no-margin padding-top-20">Alex Vasquez</h5> 
				<h4 class="text-center no-margin">CEO</h4>
				<p class="text-center padding-top-20">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non justo consectetur, hendrerit nunc ut, mattis diam. Morbi imperdiet adipiscing urna. Nulla tempor risus ut cursus luctus. Etiam molestie eleifend euismod. Aenean sit amet vulputate ipsum. Aenean vitae lacinia turpis.
				</p>
			    <ul class="social-strip generic width60">
			      <li><a href="" class="t" target="_blank" >twitter</a></li>
			      <li><a href="" target="_blank" class="f">facebook</a></li>
			      <li><a href="" target="_blank" class="gp">google plus</a></li>
			    </ul>
			</li>
			<li>
				<%= image_tag "https://graph.facebook.com/667793440/picture?width=200&height=200", :class => "circle centered" %>
				<h5 class="text-center no-margin padding-top-20">Alex Vasquez</h5> 
				<h4 class="text-center no-margin">CEO</h4>
				<p class="text-center padding-top-20">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non justo consectetur, hendrerit nunc ut, mattis diam. Morbi imperdiet adipiscing urna. Nulla tempor risus ut cursus luctus. Etiam molestie eleifend euismod. Aenean sit amet vulputate ipsum. Aenean vitae lacinia turpis.
				</p>
			    <ul class="social-strip generic width60">
			      <li><a href="" class="t" target="_blank" >twitter</a></li>
			      <li><a href="" target="_blank" class="f">facebook</a></li>
			      <li><a href="" target="_blank" class="gp">google plus</a></li>
			    </ul>
			</li>
		</ul>
	</div>
</div>
