<div class="row padding-top-20">
  <div class="large-12 columns">
    <div class="centered favorite-mark">
      <%# Has marcado %>
      <h3 class="normal inline">¡Super! Ya tienes <%= pluralize(@count_favorites, 'marca favorita', 'marcas favoritas') %></h3><%= link_to( 'Editar', favorites_path, :class=>'button success times radius pre' ) if !current_user.show_introduction  %><!--<a href="#" class="button success times radius pre">Editar</a>-->
      <p class="text-center big">
        Todos tus amigos en Facebook lo saben y muy pronto tus marcas también. Prepárate a recibir sorpresas.
        <%# Recuerda que desde ahora, todos tus amigos y familiares conocerán tus marcas favoritas. Comparte tú experiencia para que tú también, conozcas las de ellos y puedas sorprenderlos. %>
      </p>
    </div>
  </div>
</div>