<div class="footer">
  <div class="row">
    <div class="large-12 columns large-centered">
      <%= image_tag( "logo2.png", :alt => "", :height => "53", :width => "147", :class => "logo-footer" ) %>
	  <div class="row">
        <div class="large-2 columns"> <ul></ul></div>
	  	<div class="large-2 columns">
			<ul>
				<li><a href="<%= how_it_works_pages_path %>">¿Cómo funciona?</a></li>
				<li><a href="<%= ecoamigable_pages_path %>">Eco-amigable</a></li>
				<li><a href="<%= nosotros_path %>">Nosotros</a></li>
                <li><a href="http://blog.giftcode.co/">Blog</a></li>
			</ul>
	  	</div>
	  	<div class="large-1 columns" style="margin-right: 30px;">
          <ul>
            <% if Random.rand(11)%2 == 0 %>
                <li><a href="<%= customers_pages_path %>" >Retailers</a></li>
            <% else %>
                <li><a href="<%= customers2_pages_path %>" >Retailers</a></li>
            <% end  %>
          </ul>
	  	</div>
	  	<div class="large-2 columns">
          <ul class="no-margin no-padding">
            <li class="no-margin no-padding">Siguenos en:</li>
          </ul>
          <ul class="social-networks">
            <li class="face"><a href="https://www.facebook.com/giftcode.co" target="_blank" style="padding: 0px 12px; margin: 0;"></a></li>
            <li class="twitter"><a href="https://twitter.com/giftcode" target="_blank" style="padding: 0px 12px; margin: 0;" ></a></li>
            <li class="instragram"><a href="http://instagram.com/giftcode" target="_blank" style="padding: 0px 12px; margin: 0;" ></a></li>
          </ul>
			<ul>
				<li>
					Escríbenos:
					<a ng-click="open_contact()" style="font-size: 12px">contacto@giftcode.co</a>
				</li>
			</ul>
	  	</div>
	  	<div class="large-4 columns">
	  		<ul class="no-padding no-margin">
	  			<li class="no-padding no-margin">
					Partners
				  </li>
	  		</ul>
        <ul class="partners">
          <li class="credibanco">
            <a href="#"></a>
          </li>
          <li class="innpulsa">
            <a href="#"></a>
          </li>
          <li class="rbm">
            <a href="#"></a>
          </li>
        </ul>
	  	</div>
	  </div>
      <p class="text-center copy">© Greencode 2014 | <%= I18n.t('views.application.footer.right')  %> | <%= link_to I18n.t('views.application.footer.politics'), politica_pages_path %> | <%= link_to I18n.t('views.application.footer.tos'), tos_pages_path %></p>
    </div>
  </div>
</div>