<div class="row">
  <div class="large-12 columns">
    <div class="gift-menu">
      <hr>
      <div class="large-12 columns">
          <ul class="inline-list right">
            <li>Por:</li>
            <li class="<%= 'active' if action_name == 'index_brands_angular' && controller_name == 'give' %>" ><%= link_to "Marcas", give_path %></li>
            <li class="<%= 'active' if action_name == 'index_friends_angular' && controller_name == 'give' %>"><%= link_to "Amigos", friend_give_path %></li>
          </ul>
      </div>
    </div>
  </div>
</div>
