<div class="graybanner">
  <div class="row">
    <div class="large-10 columns large-centered">
      <a class="button success radius" href="<%= what_is_pages_path %>"><span class="gifty"></span><span class="border">Aprende mas sobre GiftCode</span></a>
      <%= form_for(:user, :url => user_omniauth_authorize_path(:facebook)) do |f| %>
          <%= f.button "<span class='facebook'></span><span class='border'>Registrate usando Facebook</span>".html_safe, { name: "submit", id: "facebook", :class => 'button success radius normal right hide-for-small'} %> 
      <% end %>
      <!--<a class="button success radius" href="#"><span class="gifty"></span><span class="border">Aprende mas sobre GiftCode</span></a><a class="button success radius" href="#"><span class="gifty"></span><span class="border">Registrate Usando Facebook</span></a>-->
    </div>
  </div>
</div>


