<div class="personal-banner">
  <div class="row">
    <div class="large-12 columns large-centered padding-top-50">
      <h2 class="text-center gray"><strong>Cómo funciona</strong></h2>
    </div>
  </div>
</div>

<div class="how">
    <div class="row">
      <div class="large-12 columns">
        <h1 class="text-leftr"><%= I18n.t('views.application.howit_works.sign_and_share.title') %></h1>
      </div>
    </div>

    <div class="row">
      <div class="large-4 columns">
        <%= image_tag( "how_face.jpg", :alt => "facebook", :height => "210", :width => "272") %>
        <span class="number">1</span>
        <h5 class="subheader"><%= I18n.t('views.application.howit_works.sign_and_share.step_1') %></h5>
      </div>
      <div class="large-4 columns">
        <%= image_tag( "how_2.jpg", :alt => "cuentale a todos", :height => "217", :width => "272") %>
        <span class="number">2</span>
        <h5 class="subheader"><%= I18n.t('views.application.howit_works.sign_and_share.step_2') %></h5>
      </div>
      <div class="large-4 columns">
        <%= image_tag( "how_3.jpg", :alt => "cuentale a todos", :height => "217", :width => "272") %>
        <span class="number">3</span>
        <h5 class="subheader"><%= I18n.t('views.application.howit_works.sign_and_share.step_3') %></h5>
      </div>
    </div>

  <div class="row">
    <div class="large-12 columns">
      <h1 class="text-left"><%= I18n.t('views.application.howit_works.purchase_and_redemption.title') %></h1>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <%= image_tag( "redencion1.jpg", :alt => "facebook", :height => "210", :width => "272") %>
      <span class="number">1</span>
      <h5 class="subheader"><%= I18n.t('views.application.howit_works.purchase_and_redemption.step_1') %></h5>
    </div>
    <div class="large-4 columns">
      <%= image_tag( "redencion2.jpg", :alt => "cuentale a todos", :height => "217", :width => "272") %>
      <span class="number">2</span>
      <h5 class="subheader"><%= I18n.t('views.application.howit_works.purchase_and_redemption.step_2') %></h5>
    </div>
    <div class="large-4 columns">
      <%= image_tag( "redencion3.jpg", :alt => "cuentale a todos", :height => "217", :width => "272") %>
      <span class="number">3</span>
      <h5 class="subheader"><%= I18n.t('views.application.howit_works.purchase_and_redemption.step_3') %></h5>
    </div>
  </div>

</div>
