
<div class="row padding-50">
  <div class="large-12 columns">
    <div class="centered favorite-mark">
      <h3 class="normal inline">Selecciona tu marcas favoritas</h3>
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer euismod eleifend velit, quis dignissim nisi auctor sit amet. Pellentesque egestas aliquam pellentesque. Morbi mi odio, congue sit amet sodales eget. <strong>Los campos con <span class="greentxt">*</span> son obligatorios</strong>
      </p>
    </div>
  </div>
</div>



<div class="row">
  <div class="large-12 columns ">
    <div class="search-box">

    <div class="row">
      <div class="large-10 columns large-centered">
        <form action="#">
          <div class="row">
              <div class="large-5 columns"><span>&iquest;Buscas alguna marca en particular?</span></div>
              <div class="large-4 columns"><input class="small" type="search"/></div>
              <div class="large-3 columns"><a class="button radius pre" href="#">Buscar</a></div>
          </div>
        </form>
      </div>
    </div>

    </div>
  </div>
</div>
<br />

<div class="row">
  <div class="large-12 columns">

    <ul class="themarks">
      <li><a class="shoes" href="#">Zapatos</a></li>
      <li><a class="cloath active" href="#">Ropa</a></li>
      <li><a class="music" href="#">Música</a></li>
      <li><a class="books" href="#">Libros</a></li>
      <li><a class="movies" href="#">Películas</a></li>
      <li><a class="drinks" href="#">Comida / Bebidas</a></li>
    </ul>

    <div class="brands">
      <a class="close close_button" href="#"></a>
      <form action="#">
        <ul>
          <li><input type="checkbox"/>Arturo calle</li>
          <li><input type="checkbox"/>Adidas</li>
          <li><input type="checkbox"/>Armi</li>
          <li><input type="checkbox"/>Americanino jeans</li>
          <li><input type="checkbox"/>Azucar</li>
          <li><input type="checkbox"/>Azulu</li>
          <li><input type="checkbox"/>B-kul</li>
          <li><input type="checkbox"/>Carlos nieto</li>
          <li><input type="checkbox"/>Chevignon</li>
          <li><input type="checkbox"/>Color blue</li>
          <li><input type="checkbox"/>Diesel</li>
          <li><input type="checkbox"/>Fds</li>
          <li><input type="checkbox"/>Gap</li>
          <li><input type="checkbox"/>Gef</li>
          <li><input type="checkbox"/>Hugo boss</li>
          <li><input type="checkbox"/>Joe banana</li>
          <li><input type="checkbox"/>Kenzo jeans</li>
          <li><input type="checkbox"/>Pronto</li>
          <li><input type="checkbox"/>Naf naf</li>
          <li><input type="checkbox"/>Villa romana</li>
          <li><input type="checkbox"/>Levis</li>
          <li><input type="checkbox"/>Nike</li>
          <li><input type="checkbox"/>Mango</li>
          <li><input type="checkbox"/>Oxxo jeans</li>
          <li><input type="checkbox"/>Luiferraro / polo</li>
          <li><input type="checkbox"/>Punto blanco</li>
          <li><input type="checkbox"/>Root + co</li>
          <li><input type="checkbox"/>Rose pistol</li>
          <li><input type="checkbox"/>Seven seven</li>
          <li><input type="checkbox"/>Shetland</li>
          <li><input type="checkbox" name="" id=""/>Studiof</li>
          <li><input type="checkbox" name="" id=""/>Tennis</li>
          <li><input type="checkbox" name="" id=""/>Wrangler</li>
          <li><input type="checkbox" name="" id=""/>Louis barton</li>
          <li><input type="checkbox" name="" id=""/>Zara</li>
          <li><input type="checkbox" name="" id=""/>Salvatore ferragamo</li>
          <li><input type="checkbox" name="" id=""/>Stradivarius</li>
          <li><input type="checkbox" name="" id=""/>Bershka</li>
          <li><input type="checkbox" name="" id=""/>Pilatos</li>
          <li><input type="checkbox" name="" id=""/>Tania</li>
          <li><input type="checkbox" name="" id=""/>Totto</li>
          <li><form action="#"><input type="text" placeholder="Agregar"/></form></li>
        </ul>
      </form>
    </div>

    <ul class="themarks">
      <li><a class="tech" href="#">Tecnología</a></li>
      <li><a class="personalcare" href="#">Cuidado personal perfumes</a></li>
      <li><a class="accesories" href="#">Accesorios</a></li>
      <li><a class="sports" href="#">Deportes</a></li>
      <li><a class="departaments" href="#">Tiendas por departamentos</a></li>
      <li><a class="babies" href="#">Bebes</a></li>
    </ul>
    <a class="button pre text-center save radius" href="#">Guardar</a>
  </div>
</div>


<br />


