<div id="modal_login" class="reveal-modal tiny min-modal-bono radius-modal" data-options="closeOnBackgroundClick:true" >
      <div class="green-warning">
        <p>Únete a giftcode</p>
        <a class="close close_button_login" ng-click="close_login()"></a>
      </div>
      <div class="row">
            <br/><br/>
            <% unless user_signed_in? %>
                <%= form_for(:user, :url => user_omniauth_authorize_path(:facebook)) do |f| %>
                      <p class="text-center" > <%= f.button "<span class='facebook'></span><span class='border'>#{ I18n.t('views.pages.home2.sign_up') }</span>".html_safe, { name: "submit", id: "facebook", :class => 'button big secondary radius normal'} %>
                      </p>
                <% end %>
            <% end %>
          <h5 class="subheader centered"><small><%= I18n.t('views.pages.home2.terms_and_conditions_beginning') %> <br /><strong> <%= link_to I18n.t('views.pages.home2.terms_and_conditions'), tos_pages_path, style: 'color:gray;' %></strong> <%= I18n.t('views.pages.home2.terms_and_conditions_medium') %> <strong> <%= link_to I18n.t('views.pages.home2.privacy_policy'), politica_pages_path, style: 'color:gray;' %></strong>.</small></h5>
        <br/>
      </div>
</div>