<div class="row padding-50">
    <div class="large-12 columns">
      <ul class="large-block-grid-3">
        <li>
          <img src="assets/mas-amigos.png" class="centered" alt="abhiomka" width="251" height="224"/>
          <h5 class="text-center">Más amigos</h5>
          <p class="text-center">Sabrán lo que verdaderamente te gusta y tu también conocerás sus marcas favoritas. Nadie volverá a equivocarse de regalo.</p>
          <%# <a class='button pre radius center-gift' href="give_path">Regalar</a> %>

        </li>
        <li>
          <img src="assets/mas-facil.png" class="centered" alt="gadl" width="251" height="224"/>
          <h5 class="text-center">Más fácil</h5>
          <p class="text-center">Olvídate de papeles, tarjetas o comprobantes. Los giftcodes llegarán directamente a tu teléfono ó al de la persona que quieras sorprender.</p>
        </li>
        <li>
          <img src="assets/mas-para-ti.png" class="centered" alt="kevin dooley" width="251" height="224"/>
          <h5 class="text-center">Más para ti</h5>
          <p class="text-center">Para recibir hay que dar primero, sorprende a alguien especial y prepárate a recibir los giftcodes que siempre has esperado.</p>
        </li>
      </ul>
    </div>
</div>
<% if current_user.show_introduction %>
<a class="button pre text-center save radius" href="<%= friends_path %>">Continuar</a>
<% end %>

