<div class="contain-to-grid <% if user_signed_in? || controller_name == 'payments' || controller_name == 'landing_page' %><%= '' %><% else %><%= 'sticky'  %><% end %>">
	<nav class="top-bar">
		<ul class="title-area">
			<!-- Title Area -->
			<li class="name">
				<%= link_to image_tag( "/assets/logo2.png", :alt => "logo", :width => "150"), root_path %>
			</li>
			<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
		</ul>
		<section class="top-bar-section">
			<ul class="right">
				<% if !user_signed_in? %>
					<!--<li class="has-form">-->
                    <li class="">
				        <%= form_for(:user, :url => user_omniauth_authorize_path(:facebook)) do |f| %>
							<%= f.button "<span class='login'></span><span class='border'>Login</span>".html_safe, { name: "submit", id: "facebook", :class => 'button success radius normal'} %>
                            <a class="button success radius normal greenbg2" ng_click="login()"><span class="gifty"></span><span class="border">Únete a Giftcode</span></a>
				        <% end %>

					</li>
                    <!--<li><%= link_to I18n.t('views.application.navigation.log_in'), nil, href: '', :'ng-click' => 'login_facebook()' %></li>-->
				<% else %>
                    <% if !current_user.show_introduction %>
                        <li class="<%= 'active' if action_name == 'index_brands_angular' && controller_name == 'give' %>"><%= link_to 'Marcas', give_path %></li>
                        <!--<li class="divider hide-for-medium-up"></li>-->
                        <li class="<%= 'active' if action_name == 'index_friends_angular' && controller_name == 'give'  %>"><%= link_to 'Amigos', friend_give_path %></li>
                        <!--<li class="divider hide-for-medium-up"></li>                                               -->
                        <li class="divider center-divider"></li>
                        <li class="has-dropdown">
                            <a href="#" class="has-profile" >
                              <%= image_tag current_user.image_url(:thumb30) %>&nbsp;
                              <!--<img ng-show="update" ng-src="{{image}}" class="show-hide">-->
                              <%= current_user.name_capitalize %>
                            </a>
                            <ul class="dropdown">
                              <li class="divider hide-for-medium-down"></li>
                              <li class="<%= 'active' if action_name == 'index' && controller_name == 'favorites' %>" ><%= link_to 'Marcas Favoritas', favorites_path %></li>
                              <li class="<%= 'active' if action_name == 'index_angular' && controller_name == 'gift_codes' %>"><%= link_to 'Bonos Recibidos', gift_codes_path %></li>
                              <li class="<%= 'active' if action_name == 'index_sent_angular' && controller_name == 'gift_codes' %>"><%= link_to 'Bonos Enviados', gift_codes_sent_path %></li>
                              <li class=""><%= link_to( "Mi perfil", edit_settings_path ) %> </li>
                              <li class="divider hide-for-medium-down"></li>
                              <li><%= button_to "Salir", destroy_user_session_path, :method => :delete, :class => 'personal right'  %></li>
                            </ul>
                        </li>
                    <% else %>
                      <li><%= button_to "Salir", destroy_user_session_path, :method => :delete, :class => 'personal right'  %></li>
                    <% end  %>

				<% end %>
			</ul>
		</section>
	</nav>
</div>

