<div class="personal-banner">
  <div class="row">
    <div class="<%= (current_user.show_introduction) ? 'large-12':'large-6' %> columns large-centered padding-top-20">
      <div class="centered">
        <h1 class="graytxt2 text-center inline times">
          <% if current_user.show_introduction %>
              <em>Bienvenid@  <%= current_user.first_name %></em>
              <%# , ya tienes current_user.available_points  puntos %>
          <% else  %>
              <em>Hola <%= current_user.first_name %></em>
          <% end %>
        </h1>
        <%= button_to '', '', :class => 'personal right'  %>
      </div>
      <div class="profile-pic">
        <a>
          <%= image_tag current_user.image_url(:thumb140), :'ng-hide' => 'update' %>
          <img ng-show="update" ng-src="{{image}}" class="show-hide">
        </a>
      </div>
      <div class="action-buttons">
        <ul>
          <% if !current_user.show_introduction %>
            <li class=""><%= link_to( "", edit_settings_path, :class=>"settings" ) if !current_user.show_introduction %> </li>
            <li class=""><%= link_to( "<span>#{current_user.gift_codes_received.count}</span>".html_safe, gift_codes_path, :class=>"gift" ) if GlobalConstants.full_version? %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<br />
<br />





