<div class="personal-banner">
  <div class="row">
    <div class="large-12 columns large-centered padding-top-20">
      <ul class="giftmenu inline-list">
        <li>
          <%= link_to (  what_is_pages_path ), :class => "#{ 'active' if action_name == 'what_is' && controller_name == 'pages'}" do%><%= I18n.t('views.application.que_banner.what_is') %><%= content_tag(:span , '', :class=>"triangle" ) %>
          <% end %>
        </li>
        <li>
          <%= link_to ( how_it_works_pages_path ), :class => "#{ 'active' if action_name == 'how_it_works' && controller_name == 'pages'}" do%><%= I18n.t('views.application.que_banner.how_it_works') %><%= content_tag(:span , '', :class=>"triangle" ) %>
          <% end %>
        </li>
        <li>
          <%= link_to ( ecoamigable_pages_path ), :class => "#{ 'active' if action_name == 'projects' && controller_name == 'pages'}" do%><%= I18n.t('views.application.que_banner.projects') %><%= content_tag(:span , '', :class=>"triangle" ) %>
          <% end %>
        </li>
        <li>
          <%= link_to ( customers_pages_path ), :class => "#{ 'active' if action_name == 'customers' && controller_name == 'pages'}" do%><%= I18n.t('views.application.que_banner.customers') %><%= content_tag(:span , '', :class=>"triangle" ) %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
<br />
