<div class="row">
  <div class="large-10 large-centered columns">
    <div class="row">
      <div class="large-6 columns">
        <%= image_tag( "es-una-buena-recomendacion-a.png", :alt => "", :height => "299", :width => "347") %>
      </div>
      <div class="large-6 columns">
		<div class="the-text">
			<h5><%= I18n.t('views.application.que.item_1.title') %></h5>
			<p><%= I18n.t('views.application.que.item_1.description') %></p>
		</div>
      </div>
    </div>
    <br/>

    <div class="row hide-for-small">
      <div class="large-6 columns">
        <div class="the-text">
        	<h5><%= I18n.t('views.application.que.item_2.title') %></h5>
        	<p><%= I18n.t('views.application.que.item_2.description') %></p>
        </div>
      </div>
      <div class="large-6 columns">
        <%= image_tag( "que-te-ahorra-tiempo-y-dinero-a.png", :alt => "", :height =>"320", :width => "357") %>
      </div>
    </div>
    <br/> 
	
    <div class="row show-for-small">
      <div class="large-6 columns">
        <%= image_tag( "que-te-ahorra-tiempo-y-dinero-a.png", :alt => "", :height =>"320", :width => "357") %>
      </div>
      <div class="large-6 columns">
        <div class="the-text">
        	<h5><%= I18n.t('views.application.que.item_2.title') %></h5>
        	<p><%= I18n.t('views.application.que.item_2.description') %></p>
        </div>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="large-6 columns">
        <%= image_tag( "y-siempre-quedas-bien-a.png", :alt => "", :height =>"306", :width => "334") %>
      </div>
      <div class="large-6 columns">
        <div class="the-text">
        	<h5><%= I18n.t('views.application.que.item_3.title') %></h5>
        	<p><%= I18n.t('views.application.que.item_3.description') %></p>
        </div>
      </div>
    </div>
  </div>
</div>
