<% if @show_pay_button %>
<div id="title_bar" style="border: 3px solid #97c21e; background: #ffffff; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;">
  <div style="text-align: center;">
    <div class="action_items">
      <span class="action_item">
        <%= link_to "PAGAR COMPRA CON ESTE GIFTCODE", new_office_admin_transaction_path(:ref_sale => @gift_code.ref_sale), :method => :get %>
      </span>
    </div>
  </div>
</div>
<% else %>
    &nbsp;
<% end %>