<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <!-- Uncomment to make IE8 render like IE7 -->
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
  <% if Rails.env.prestaging? || Rails.env.staging? || Rails.env.production? %>
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <% end %>

  <% if Rails.env.prestaging? || Rails.env.staging? %>
      <meta name="robots" content="noindex">
  <% end %>

  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "style" %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <%= (javascript_include_tag 'https://connect.facebook.net/en_UK/all.js') if controller_name == 'friends' %>



  <%= display_meta_tags :site => '', :reverse => false, :separator => '', :prefix => false%>
  <%= csrf_meta_tags %>

  <%= render 'shared/google_analytics' if Rails.env.production? %>
  <%= render 'shared/mix_panel' if GlobalConstants::use_mix_panel? %>
</head>
<body ng-app="_app">
  <div id="fb-root"></div>
  <%= render 'navigation' %>
  <%= yield %>
  <% if flash[:error] %>
    <div id="alert" class="reveal-modal medium" data-options="closeOnBackgroundClick:false" >
      <div class="gray-warning">
        <p>¡Alerta!</p>
      </div>
      <div class="row">
        <div class="large-12 large-centered">
          <div class="giftnote">
            <br/>
            <p class="in-modal">
                <h4 class="subheader text-center"><%= flash[:error] %></h4>
            </p>
            <br/>
          </div>
        </div>
      </div>
      <a class="close-reveal-modal"> <span>Cerrar</span> &#215;</a>
    </div>
  <% end  %>
  <%= render 'application/modal_login' %>
  <%= render 'contacts/modal_contact' %>
  <%= render 'footer' %>
  <%= javascript_include_tag "aplicacion" %>
</body>
</html>
