<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <%= favicon_link_tag 'favicon.ico' %>
        <%= stylesheet_link_tag    "setup_external" %>
        <%= stylesheet_link_tag    "external" %>
      <% if Rails.env.prestaging? || Rails.env.staging? %>
          <meta name="robots" content="noindex">
      <% end %>
        <!--&lt;!&ndash;<link href="<%= Rails.root + asset_path('label.css') %>" type="text/css" rel="stylesheet">&ndash;&gt;-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
        <%= csrf_meta_tags %>
    </head>
    <body ng-app="_app" ng-controller="ThirdPartyCtrl">
        <%= yield %>
        <%= javascript_include_tag 'external' %>
    </body>
</html>