<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <!-- Uncomment to make IE8 render like IE7 -->
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
  <% if Rails.env.prestaging? || Rails.env.staging? || Rails.env.production? %>
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <% end %>

  <% if Rails.env.prestaging? || Rails.env.staging? %>
      <meta name="robots" content="noindex">
  <% end %>

  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "style" %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'https://connect.facebook.net/en_UK/all.js' %>
  <%# javascript_include_tag "vendor/custom.modernizr" %>
  <%= display_meta_tags :site => 'Giftcode', :reverse => false, :separator => ",", :prefix => false%>
  <%= csrf_meta_tags %>

  <%= render 'shared/google_analytics' if Rails.env.production? %>
  <%= render 'shared/mix_panel' if GlobalConstants::use_mix_panel? %>
</head>
<body ng-app="_app">
  <div id="fb-root"></div>
  <%= yield %>
  <div class="large-12 columns footer v2 no-margin no-padding">
      <div class="large-2 columns">
        <%= image_tag( "logo2.png", :alt => "", :height => "53", :width => "147", :class => "logo-footer" ) %>
      </div>
      <div class="large-10 columns padding-top-20">
        <div class="large-1 columns">
          <ul>

          </ul>
        </div>
          <div class="large-2 columns">
            <ul>
              <!--<li><a href="<%=  %>">¿Cómo funciona?</a></li>-->
              <li><a href="<%= ecoamigable_pages_path %>">Eco-amigable</a></li>
              <li><a href="<%= nosotros_path %>">Nosotros</a></li>
              <!--<li><a href="http://blog.giftcode.co/">Blog</a></li>-->
            </ul>
          </div>
          <div class="large-2 columns">
            <ul>
              <li><a href="<%= customers_pages_path %>" >Retailers</a></li>
            </ul>
          </div>
          <div class="large-3 columns">
            <ul class="no-margin no-padding">
              <li>Siguenos en:</li>
            </ul>
            <ul class="social-networks">
              <li class="face"><a href="https://www.facebook.com/giftcode.co" target="_blank" style="padding: 0px 12px;"></a></li>
              <li class="twitter"><a href="https://twitter.com/giftcode" target="_blank" style="padding: 0px 12px;" ></a></li>
              <li class="instragram"><a href="http://instagram.com/giftcode" target="_blank" style="padding: 0px 12px;" ></a></li>
            </ul>
            <ul>
              <li>
                Escríbenos:
                <a ng-click="open_contact()">contacto@giftcode.co</a>
              </li>
            </ul>
          </div>
          <div class="large-3 columns">
            <ul>
              <li>
                Partners
              </li>
            </ul>
            <ul class="partners">
              <li class="rbm">
                <a href="#"></a>
              </li>
              <li class="innpulsa">
                <a href="#"></a>
              </li>
            </ul>
          </div>
        <div class="large-1 columns">
          <ul>

          </ul>
        </div>
      </div>
      <p class="text-center copy">© Greencode 2014 | <%= I18n.t('views.application.footer.right')  %> | <%= link_to I18n.t('views.application.footer.politics'), politica_pages_path %> | <%= link_to I18n.t('views.application.footer.tos'), tos_pages_path %></p>
    </div>
  </div>


  <%= javascript_include_tag "aplicacion" %>
  <%= render 'application/modal_login' %>
  <%= render 'contacts/modal_contact' %>
</body>
</html>


